<template>
  <div class="container">
    <BackGround> </BackGround>
    <div class="body_input" style="display:flex;">
      <div style="width:35%; margin-left :2% ;font-size:12px;">
        อาชีพ <br style="margin-bottom:5px" />
        สถานที่ <br />
        จังหวัด <br />
        วันเริ่มการทำงาน <br />
        วันสิ้นสุดการทำงาน <br />
      </div>
      <div style="width:35%; margin-left :2% ;font-size:12px;">
        {{ oldPosition }}<br />
        {{ company }} <br />
        {{ province }} <br />
        {{ startDay }}<br />
        {{ finishDay }}<br />
      </div>
      <div style="width:30%;text-align:center;">
        <button class="button_trash">
          <img src="../image/trash.svg" alt="" />
        </button>
        <button class="button_edit" @click="go_experience()">
          <img src="../image/edit.svg" alt="" />
          <u style="color:white;font-size:12px">แก้ไข</u>
        </button>
      </div>
    </div>
    <div class="body_button">
      <button class="button_back" style="width: 30%;" @click="go_usermanage()">
        <img src="../image/left_arrow_2.svg" alt style="float: left;" />
        กลับ
      </button>

      <button class="button_save" style="width: 70%;" @click="go_experience()">
        <img src="../image/plus.svg" alt="" />
        เพิ่มประสบการณ์การทำงาน
      </button>
    </div>
  </div>
</template>
<script>
import BackGround from "../components/Background";

export default {
  name: "Experience",
  metaInfo: {
    title: "ประสบการณ์การทำงาน",
  },
  data() {
    return {
      oldPosition: null,
      company: null,
      province: null,
      startDay: null,
      finishDay: null,
      idUser: localStorage.idUser,
      idLine: localStorage.idLine,
      checkexp: false,
    };
  },
  created() {
    this.get_exp();
  },
  methods: {
    go_usermanage() {
      this.$router.push("/usermanage");
    },
    go_experience() {
      this.$router.push("/experience");
    },

    get_exp() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      fetch(
        "https://vulcan.houseofdev.tech/qvetjob/api/experience/" +
          `${localStorage.idUser}`,
        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          if (result) {
            this.oldPosition = result.oldPosition;
            this.company = result.company;
            this.province = result.province;
            this.startDay = result.startDay;
            this.finishDay = result.finishDay;
            this.checkexp = true;
          } else {
            this.checkexp = false;
          }
        })
        .catch((error) => console.log("error", error));
    },
  },

  components: {
    BackGround,
  },
};
</script>
<style>
.button_trash {
  background-color: white;
  width: 63px;
  height: 40px;
  border-radius: 10px;
  border: solid 1px#c394b4;
  /* border-width: 0px; */
}
.button_edit {
  background-color: #c394b4;
  margin-top: 2%;
  width: 63px;
  height: 80px;
  border-radius: 10px;
  border: solid 1px#c394b4;
  /* border-width: 0px; */
}
</style>

<style scoped>
.button_back img {
  margin-left: 1rem;
  margin-right: -0.5rem;
}
</style>
