<template>
  <div class="container">
    <BackGround> </BackGround>
    <div class="body_input" style="display:flex;">
      <div style="width:35%; margin-left :2% ;font-size:12px;">
        ระดับการศึกษา <br style="margin-bottom:5px" />
        สถาบันการศึกษา <br />
        สาขาวิชา <br />
        ปีที่สำเร็จการศึกษา <br />
        สถานภาพ <br />
        เกรดเฉลี่ย
      </div>
      <div style="width:35%; margin-left :2% ;font-size:12px;">
        มัธยมปลาย / ปวช.<br />
        โรงเรียนศึกษาวิทยา <br />
        วิทย์-คณิต <br />
        2014 <br />
        จบการศึกษา<br />
        3.00
      </div>
      <div style="width:30%;text-align:center;">
        <button class="button_trash">
          <img src="../image/trash.svg" alt="" />
        </button>
        <button class="button_edit">
          <img src="../image/edit.svg" alt="" />
          <u style="color:white;font-size:12px">แก้ไข</u>
        </button>
      </div>
    </div>
    <div class="body_button">
      <button class="button_back" style="width: 30%;" @click="go_usermanage()">
        <img src="../image/left_arrow_2.svg" alt style="float: left;" />
        กลับ
      </button>

      <button class="button_save" style="width: 70%;" @click="go_education()">
        <img src="../image/plus.svg" alt="" />
        เพิ่มประวัติการศึกษา
      </button>
    </div>
  </div>
</template>
<script>
import BackGround from "../components/Background";

export default {
  name: "addEducation",
  metaInfo: {
    title: "ประวัติการศึกษา",
  },
  data() {
    return {
      levelEducation: null,
      university: null,
      branch: null,
      graduation: null,
      educationStatus: null,
      gpa: null,
      idUser: localStorage.idUser,
      idLine: localStorage.idLine,
      checkedu: false,
    };
  },
  created() {},
  methods: {
    go_usermanage() {
      this.$router.push("/usermanage");
    },
    go_education() {
      this.$router.push("/education");
    },
  },
  components: {
    BackGround,
  },
};
</script>
<style>
.button_trash {
  background-color: white;
  width: 63px;
  height: 40px;
  border-radius: 10px;
  border: solid 1px#c394b4;
  /* border-width: 0px; */
}
.button_edit {
  background-color: #c394b4;
  margin-top: 2%;
  width: 63px;
  height: 80px;
  border-radius: 10px;
  border: solid 1px#c394b4;
  /* border-width: 0px; */
}
</style>
