<template>
  <div>
    <GreyPage />
    <div class="selectedDates">
      <p class="ml-2">{{ selectedDate }}</p>
    </div>
    <v-row justify="center" class="mt-3 card">
      <div class="d-flex justify-content-between">
        <div class="position">
          <div class="head-flex">
            <p>ตำแหน่ง {{ getAnnounce.position }} Level {{ getAnnounce.level }}</p>
            <p>{{ getAnnounce.amount }} ตำแหน่ง</p>
          </div>
        </div>
        <div class="head-flex">
          <p
            class="text-right"
            v-if="getAnnounce.type == 'Part time'"
          >{{ changeToMoment(date_start) }}</p>
          <p class="text-right" v-else>
            {{
            changeToMoment(getAnnounce.annoucement.date_time_job.date_start)
            }}
            -
            {{ changeToMoment(getAnnounce.annoucement.date_time_job.date_end) }}
          </p>
          <p class="text-right">{{ getAnnounce.timeJob }} น.</p>
        </div>
      </div>
    </v-row>
    <div v-if="allEmployee.length <= 0">
      <div class="text-center mt-5 center-screen">
        <p>ไม่พบข้อมูล</p>
      </div>
    </div>
    <v-row v-for="(data, index) in filterEmployee" :key="index" class="mt-3 card">
      <div class="d-flex justify-content-between">
        <v-checkbox @change="listenSelected(data)"></v-checkbox>
        <div class="d-flex flex-image">
          <img
            :src="data.image"
            width="58"
            height="58"
            style="width:58px !important;height:58px !important;"
          />
        </div>
        <div class="flex-content">
          <div class="d-flex justify-content-between">
            <!-- <p>Level {{ data.work.level }} : {{ data.position }}</p> -->
          </div>

          <div class="d-flex justify-content-between">
            <p>รหัส {{ data.member }}</p>
          </div>
          <div>
            <p>{{ data.title }} {{ data.name }}</p>
          </div>
        </div>
        <div class="btn-detail">
          <a class="link" @click="goEmployeeDetail(data)">ดูรายละเอียด</a>
        </div>
      </div>
    </v-row>
    <div class="section-block"></div>

    <div class="body_button">
      <button class="button_back" @click="goBack()" type="button" style="width: 30%;">
        <img src="../image/left_arrow_2.svg" alt style="float: left;" />
        กลับ
      </button>
      <button
        class="button_disable"
        type="submit"
        style="width: 70%;"
        id="next"
        :class="{ button_show: activated }"
        :disabled="activated == false"
        @click="postToApi()"
      >ส่งคำขอการจ้างงาน</button>
    </div>
  </div>
</template>

<script>
import GreyPage from "@/components/GreyPage.vue";
import moment from "moment";
import { baseUrl } from "../util/backend";
export default {
  props: ["date"],
  data() {
    return {
      selectedEmployee: [],
      linkProfile: "",
      allEmployee: [],
      picture: "",
      selectedDate: "",
      activated: false,
      docName: {
        name: ["นาย สิรวิชญ์ วงศ์ช่วย", "นาง รวีรา สนนทที", "นาย นราทิด นิดนึง"]
      },
      count: 0,

      profileImg: "/mock-profile.png",
      date_start: ""
    };
  },
  methods: {
    goEmployeeDetail(user) {
      var requestOptions = {
        method: "GET",
        redirect: "follow"
      };

      fetch(`${baseUrl}api/alluser`, requestOptions)
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          console.log("result", result);
          return result;
        })
        .then(result2 => {
          console.log(`result2`, result2);
          result2.forEach(data => {
            if (data.user_id == data.user_id) {
              let dataforSend = {
                user: {
                  id_line: data.id_line,
                  member: user.member,
                  name: user.name,
                  title: user.title,
                  user_id: user.user_id
                }
              };
              console.log("go employee eiei ", user);
              this.$store.dispatch("addDetailEm", dataforSend);
              this.$router.push("/employeeDetails");
            }
          });
        })
        .catch(error => console.log("error", error));
    },
    postToApi() {
      this.count = 0;
      this.selectedEmployee.forEach(p => {
        console.log("log", p);

        this.post_req_employ(p.user_id);
        // this.$router.push("/thankyou_2");
        // if (this.count == this.selectedEmployee.length) {
        //    this.$router.push("/thankyou_2");
        // }
      });
    },
    changeToMoment(time) {
      return moment(time).format("DD/MM/YY");
    },

    listenSelected(data) {
      console.log("datat select", data);

      if (this.selectedEmployee[0]) {
        this.selectedEmployee.forEach(o => {
          console.log("for post", o);

          if (o.user_id === data.user_id) {
            // console.log("same");

            this.lodash.remove(this.selectedEmployee, e => {
              console.log(e);

              return o.user_id === data.user_id;
            });
          } else {
            this.selectedEmployee.push(data);
          }
        });
      } else {
        this.selectedEmployee.push(data);
      }
      console.log("ddd", this.selectedEmployee);

      if (this.selectedEmployee[0]) {
        this.activated = true;
      } else {
        this.activated = false;
      }
    },
    goBack() {
      this.$router.go(-1);
    },
    gotoDetail(i) {
      this.$router.push({ name: "EmployeeDetail", params: { id: i } });
    },

    get_filter_employee() {
      // let level = this.$store.getters.getAnnounceUser.level;
      let type = "";
      if (this.$store.getters.getAnnounceUser.type == "Part time") {
        type = "part_time";
      } else {
        type = "full_time";
      }

      let date_start = this.$route.params.date;

      var requestOptions = {
        method: "GET",
        redirect: "follow"
      };
      console.log(`type=${type}&date_start=${date_start}`);
      fetch(
        //  `${baseUrl}api/search/employee/level/${level}?type=${type}&date_start=${date_start}`,

        `${baseUrl}api/search/employee/all?type=${type}&date_start=${date_start}`,
        requestOptions
      )
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          console.log("result aaa", result);

          result.forEach(employee => {
            var requestOptions = {
              method: "GET",
              redirect: "follow"
            };

            fetch(
              `${baseUrl}api/image/profile/${employee.member}`,
              requestOptions
            )
              .then(response => response.text())
              .then(result => {
                result = JSON.parse(result);
                console.log(result);
                employee.image = result.link;
                console.log(`em image`, employee.image);

                // return "http://google.com";
              })
              .catch(error => console.log("error", error));
          });
          console.log("check", result);
          setTimeout(() => {
            this.allEmployee = result;
          }, 500);
        })

        .catch(error => console.log("error", error));
    },
    post_req_employ(id) {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      myHeaders.append(
        "Cookie",
        "__cfduid=d6a36e805c731b1b176fcc23dd2f8bb241596445387"
      );

      let raw = null;
      if (this.$store.getters.getAnnounceUser.type == "Part time") {
        const raw_2 = JSON.stringify({
          user_id: id,
          job_id: this.$store.getters.getAnnounceUser.job_id,
          date_start: this.date_start,
          date_end: this.date_start,
          time_start: this.date_time.time_start,
          time_end: this.date_time.time_end
        });
        raw = raw_2;
      } else {
        const raw_3 = JSON.stringify({
          user_id: id,
          job_id: this.$store.getters.getAnnounceUser.job_id,
          date_start: this.date_time.date_start,
          date_end: this.date_time.date_end,
          time_start: this.date_time.time_start,
          time_end: this.date_time.time_end
        });
        raw = raw_3;
      }

      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow"
      };
      console.log("raw", raw);

      fetch(`${baseUrl}api/company/select/job`, requestOptions)
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          console.log(result);
          this.count += 1;
          if (this.count == this.selectedEmployee.length) {
            this.$router.push("/thankyou_2");
          }
        })
        .catch(error => console.log("error", error));
    },

    get_all() {
      var requestOptions = {
        method: "GET",
        redirect: "follow"
      };

      fetch(`${baseUrl}api/search/employee/all`, requestOptions)
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          console.log("result", result.employee_all);

          result.employee_all.forEach(employee => {
            var requestOptions = {
              method: "GET",
              redirect: "follow"
            };

            fetch(
              `${baseUrl}api/image/profile/${employee.member}`,
              requestOptions
            )
              .then(response => response.text())
              .then(result => {
                result = JSON.parse(result);
                console.log(result);
                employee.image = result.link;
                console.log(`em image`, employee.image);

                // return "http://google.com";
              })
              .catch(error => console.log("error", error));
          });
          console.log("check", result.employee_all);
          setTimeout(() => {
            this.allEmployee = result.employee_all;
          }, 500);
        })

        .catch(error => console.log("error", error));
    }
  },
  components: {
    GreyPage
  },
  created() {
    moment.locale("th");
    console.log(this.$route.params);

    console.log("select date", this.selectedDate);

    this.selectedDate = moment(
      this.$route.params.date.split("-").join("")
    ).format("Do MMMM YYYY");
    this.date_start = moment(
      this.$route.params.date.split("-").join("")
    ).format("YYYY-MM-DD");

    // this.get_all();
    this.get_filter_employee();

    let timeStart = moment(
      this.$store.getters.getAnnounceUser.annoucement.date_time_job.time_start,
      "HH:mm:ss"
    ).format(" HH:mm");
    let timeEnd = moment(
      this.$store.getters.getAnnounceUser.annoucement.date_time_job.time_end,
      "HH:mm:ss"
    ).format(" HH:mm");

    this.$store.getters.getAnnounceUser.timeJob = `${timeStart} - ${timeEnd}`;
  },
  computed: {
    filterEmployee() {
      console.log(`get Announce`, this.getAnnounce);
      const thisFilter = this.lodash.filter(this.allEmployee, b => {
        if (b.work == null) {
          return null;
        } else {
          if (this.getAnnounce.level == 1) {
            return b.work.level >= 1 && b.work.level != 5 && b.work.level != 6;
          } else if (this.getAnnounce.level == 2) {
            return b.work.level >= 2 && b.work.level != 5 && b.work.level != 6;
          } else if (this.getAnnounce.level == 3) {
            return b.work.level >= 3 && b.work.level != 5 && b.work.level != 6;
          } else if (this.getAnnounce.level == 4) {
            return b.work.level >= 4 && b.work.level != 5 && b.work.level != 6;
          } else if (this.getAnnounce.level == 5) {
            return b.work.level >= 1 && b.work.level != 6;
          } else {
            return b.work.level >= 1 && b.work.level != 5;
          }
        }
      });
      console.log("bbbb", thisFilter);
      return thisFilter;
    },
    date_time() {
      console.log(
        "date_time_job",
        this.$store.getters.getAnnounceUser.annoucement.date_time_job
      );

      return this.$store.getters.getAnnounceUser.annoucement.date_time_job;
    },

    getAnnounce() {
      console.log(`announce`, this.$store.getters.getAnnounceUser);

      return this.$store.getters.getAnnounceUser;
    },
    image_data() {
      let x = this.allEmployee;
      return x;
    }
  }
};
</script>

<style scoped>
.button_disable {
  background: grey;
  color: white;
  height: 40px;
  margin-left: 1%;
  font-size: 14px;
  border-radius: 10px;
  border-width: 0px;
}

.button_show {
  background-color: #a05489 !important;
}

.postion p {
  font-size: 12px !important;
}

.head-flex p {
  font-size: 12px !important;
}
.center-screen {
  margin-top: 50% !important;
}
.d-flex-img {
  width: 50px;
}
.grey-page {
  height: 100% !important;
}

.section-block {
  height: 50px;
}
.d-flex {
  align-items: center;
  flex-grow: 0;
}

.d-flex img {
  border-radius: 2px;
}

.btn-detail {
  align-self: flex-end;
}

.flex-image {
  flex-basis: 58px;
  justify-self: start;
  margin-right: 10px;
  margin-left: 10px;
}

.flex-content {
  flex-basis: 150px;
}

.d-flex-img {
  width: 50px;
}
.grey-page {
  height: 100% !important;
}

.section-block {
  height: 50px;
}
.d-flex {
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
}

.d-flex img {
  border-radius: 2px;
}

.btn-detail {
  align-self: flex-end;
}

.button_back img {
  margin-left: 1rem;
  margin-right: -1rem;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 2px 5px 5px -4px rgba(158, 155, 158, 0.49);
  -moz-box-shadow: 2px 5px 5px -4px rgba(158, 155, 158, 0.49);
  box-shadow: 2px 5px 5px -4px rgba(158, 155, 158, 0.49);
}

.bg-grey {
  background-color: #d9d9d9 !important;
}
.selectedDates {
  padding: 5px;
  background-color: #d9d9d9;
}
.btn {
  color: white;
  border-radius: 10px;
  background-color: #8a296d;
}
.btn-detail {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.back {
  width: 70px;
}
.confirm {
  width: 240px;
}
.link {
  font-size: 12px;
  color: #8a296d;
  text-decoration: underline;
}
.card {
  display: flex;
  flex-flow: column wrap;
  padding: 10px;
  margin: 6px;
  background-color: white;
}
</style>
