<template>
  <div class="containner">
    <Background></Background>
    <div style="text-align:center;">
      <p style="color:white;margin-top:2%">อัตราค่าบริการบุคลากรแต่ละแบบ</p>
    </div>

    <div class="container-xl" style="margin-top:5%" v-if="!this.getisPetShop">
      <table class="table table-bordered" style="border-radius:10px">
        <thead>
          <tr>
            <th class="th-background" scope="col">Part Time</th>
            <th class="th-background" scope="col">ค่าบริการ (บาท/วัน)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ผู้ช่วยสัตวแพทย์</td>
            <td class="text-mid">1,000</td>
          </tr>
          <tr>
            <td>พนักงานตัดขน</td>
            <td class="text-mid">1,300</td>
          </tr>
          <tr>
            <td>สัตวแพทย์ ระดับ 1 : สัตวแพทย์รุ่นใหม่</td>
            <td class="text-mid" rowspan="4" style="vertical-align: middle;">2,000</td>
          </tr>
          <tr>
            <td>สัตวแพทย์ ระดับ 2 : สัตวแพทย์มีประสบการณ์</td>
            <!-- <td class="text-mid">2,200</td> -->
          </tr>

          <tr>
            <td>สัตวแพทย์ ระดับ 3 : สัตวแพทย์ Advance</td>
            <!-- <td class="text-mid">2,800</td> -->
          </tr>
          <tr>
            <td>สัตวแพทย์ ระดับ 4 : สัตวแพทย์จบเฉพาะทาง</td>
            <!-- <td class="text-mid">4,000</td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container-xl" style="margin-top:5%" v-else>
      <table class="table table-bordered" style="border-radius:10px">
        <thead>
          <tr>
            <th class="th-background" scope="col">Part Time</th>
            <th class="th-background" scope="col">ค่าบริการ (บาท/วัน)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ผู้ช่วยสัตวแพทย์</td>
            <td class="text-mid">1,000</td>
          </tr>
          <tr>
            <td>พนักงานตัดขน</td>
            <td class="text-mid">1,300</td>
          </tr>
          <tr>
            <td>สัตวแพทย์ ระดับ 1 : สัตวแพทย์รุ่นใหม่</td>
            <td class="text-mid">2,000</td>
          </tr>
          <tr>
            <td>สัตวแพทย์ ระดับ 2 : สัตวแพทย์มีประสบการณ์</td>
            <td class="text-mid">2,200</td>
          </tr>

          <tr>
            <td>สัตวแพทย์ ระดับ 3 : สัตวแพทย์ Advance</td>
            <td class="text-mid">2,800</td>
          </tr>
          <tr>
            <td>สัตวแพทย์ ระดับ 4 : สัตวแพทย์จบเฉพาะทาง</td>
            <td class="text-mid">4,000</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="container-xl" style="margin-top:5%" v-if="!this.getisPetShop">
      <table class="table table-bordered" style="border-radius:10px">
        <thead>
          <tr>
            <th class="th-background2" scope="col">Full Time</th>
            <th class="th-background2" scope="col">ค่าบริการ (บาท/วัน)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ผู้ช่วยสัตวแพทย์</td>
            <td class="text-mid">16,000</td>
          </tr>
          <tr>
            <td>พนักงานตัดขน</td>
            <td class="text-mid">18,000</td>
          </tr>
          <tr>
            <td>สัตวแพทย์ ระดับ 1 : สัตวแพทย์รุ่นใหม่</td>
            <td class="text-mid">35,000</td>
          </tr>
          <tr>
            <td>สัตวแพทย์ ระดับ 2 : สัตวแพทย์มีประสบการณ์</td>
            <td class="text-mid">39,000</td>
          </tr>

          <tr>
            <td>สัตวแพทย์ ระดับ 3 : สัตวแพทย์ Advance</td>
            <td class="text-mid">44,000</td>
          </tr>
          <tr>
            <td>สัตวแพทย์ ระดับ 4 : สัตวแพทย์จบเฉพาะทาง</td>
            <td class="text-mid">50,000</td>
          </tr>
        </tbody>
      </table>
      <div class="col-md">
        <p class="red-text">*สัตวแพทย์เฉพาะทางขึ้นอยู่กับสาขา และจำนวนชั่วโมง</p>

        <p class="red-text">
          *ราคาด้านบนเป็นราคาประเมินเบื้องต้น ขึ้นอยู่กับความสามารถหมอ
          แต่ละบุคคล
        </p>
        <p class="red-text">*ราคายังไม่รวมภาษีมูลค่าเพิ่ม</p>
      </div>
    </div>
    <div class="container-xl" style="margin-top:5%" v-else>
      <table class="table table-bordered" style="border-radius:10px">
        <thead>
          <tr>
            <th class="th-background2" scope="col">Full Time</th>
            <th class="th-background2" scope="col">ค่าบริการ (บาท/วัน)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ผู้ช่วยสัตวแพทย์</td>
            <td class="text-mid">16,000</td>
          </tr>
          <tr>
            <td>พนักงานตัดขน</td>
            <td class="text-mid">18,000</td>
          </tr>
          <tr>
            <td>สัตวแพทย์ ระดับ 1 : สัตวแพทย์รุ่นใหม่</td>
            <td class="text-mid" rowspan="4" style="vertical-align: middle;">
              ค่าบริการ 7 วัน
              <br />55,000
              <br />
              <br />ค่าบริการ 5 วัน
              <br />35,000
              <br />
            </td>
            <!-- <td class="text-mid">35,000</td> -->
          </tr>
          <tr>
            <td>สัตวแพทย์ ระดับ 2 : สัตวแพทย์มีประสบการณ์</td>
            <!-- <td class="text-mid">39,000</td> -->
          </tr>

          <tr>
            <td>สัตวแพทย์ ระดับ 3 : สัตวแพทย์ Advance</td>
            <!-- <td class="text-mid">44,000</td> -->
          </tr>
          <tr>
            <td>สัตวแพทย์ ระดับ 4 : สัตวแพทย์จบเฉพาะทาง</td>
            <!-- <td class="text-mid">50,000</td> -->
          </tr>
        </tbody>
      </table>
      <div class="col-md">
        <p class="red-text">*สัตวแพทย์เฉพาะทางขึ้นอยู่กับสาขา และจำนวนชั่วโมง</p>

        <p class="red-text">
          *ราคาด้านบนเป็นราคาประเมินเบื้องต้น ขึ้นอยู่กับความสามารถหมอ
          แต่ละบุคคล
        </p>
        <p class="red-text">*ราคายังไม่รวมภาษีมูลค่าเพิ่ม</p>
      </div>
    </div>
    <GreyPage></GreyPage>
    <div class="body_button">
      <button class="button_back" style="width: 100%;" @click="go_back">
        <img src="../image/left_arrow_2.svg" alt style="float: left;" />
        กลับ
      </button>
    </div>
  </div>
</template>
<script>
import Background from "../components/Background";
import GreyPage from "../components/GreyPage";
import { mapGetters } from "vuex";

export default {
  name: "CostDetail",
  metaInfo: {
    title: "อัตราค่าบริการบุคลากรแต่ละแบบ"
  },
  data() {
    return {};
  },
  components: {
    Background,
    GreyPage
  },
  methods: {
    go_back() {
      window.history.back();
    }
  },
  computed: {
    ...mapGetters({
      getisPetShop: "getisPetShop"
    })
  },
  created() {
    console.log("petshop", this.getisPetShop);
  }
};
</script>
<style>
table {
  /* border-collapse: collapse; */
  border-radius: 10px;
  overflow: hidden;
  font-size: 12px;
}
th {
  text-align: center;
}
.th-background {
  background: #e5c87a;
}
.th-background2 {
  background: #aed593;
}
.text-mid {
  text-align: center;
  padding-left: 0px !important;
}
tr {
  background: #ffffff;
}
.table td,
.table th {
  padding: 0.5rem;
}
.red-text {
  color: #d01f1f;
  font-size: 12px;
}
</style>

<style scoped>
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .grey-page {
    height: 800px !important;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 480px) {
  .grey-page {
    height: 820px !important;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 480px) {
  .grey-page {
    height: 830px !important;
  }
}

@media only screen and (min-device-width: 425px) and (max-device-width: 480px) {
  .grey-page {
    height: 840px !important;
  }
}

@media only screen and (min-device-width: 768px) {
  .grey-page {
    height: 900px !important;
  }
}

@media only screen and (min-device-width: 1024px) {
  .grey-page {
    height: 940px !important;
  }
}
</style>
