<template>
  <div class="container">
    <BackGround></BackGround>
    <div
      style="border-radius: 15px;;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); "
    >
      <div class="body_input" style="margin-top: 10%; padding: 5%;">
        <div style="text-align: center;">
          <h6 style="font-weight: 700;">รายละเอียดเลเวลของสัตวแพทย์</h6>
        </div>
        <!-- Level-1 -->
        <div>
          <p style="font-size: 12px;font-weight: 700;color:#8a296d ;">
            <br />ระดับความสามารถ Level 1 : สัตวแพทย์รุ่นใหม่
          </p>

          <br />

          <p style="font-size: 12px;">
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ตรวจรักษา, Follow เคสต่างๆได้
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ตรวจวินิฉัยโรคต่างๆเบื้องต้น
          </p>
        </div>
        <br />
        <!-- Level-2-->
        <div>
          <p style="font-size: 12px;font-weight: 700;color:#8a296d ;">
            <br />ระดับความสามารถ Level 2 : สัตวแพทย์มีประสบกาณ์
          </p>

          <br />

          <p style="font-size: 12px;">
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ตรวจวินิฉัยโรคต่าง ๆ เบื้องต้น
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ตรวจรักษา, Follow เคสต่าง ๆ ได้
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ผ่าตัดทำหมัน หมา แมว ตัวผู้ ตัวเมีย
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            เย็บแผล
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ขูดหินปูน
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            CPR
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            intubation tube (สอดท่อ)
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            keep vein (แทงเส้น)
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            วางยาสลบ
            <br />
          </p>
        </div>

        <!-- Level-3-->
        <div>
          <p style="font-size: 12px;font-weight: 700;color:#8a296d ;">
            <br />ระดับความสามารถ Level 3 : สัตวแพทย์ Advance
          </p>

          <br />

          <p style="font-size: 12px;">
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ผ่าตัดทำหมัน หมา แมว ตัวผู้ ตัวเมีย
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ตรวจวินิฉัยโรคต่างๆเบื้องต้น
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ตรวจรักษา,Follow เคสต่างๆได้
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            เย็บแผล
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ขูดหินปูน
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            CPR
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            intubation tube (สอดท่อ)
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            keep vein (แทงเส้น)
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            วางยาสลบ
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ผ่าตัดกระเพาะปัสสาวะ/นิ่ว
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ผ่าคลอด
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ควักตา
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ศัลกรรมตาแบบง่าย (Third eyelid flap, Conjunctival flap)
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ช่องอกทะลุ
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            กระเพาะบิด
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ตัดขา
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ผ่าตัดมดลูกอักเสบ
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ผ่าเลาะเต้านม
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            แปลงเพศ
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ตัดต่อลำไส้
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            ผ่ากระดูก
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            กระบังลมฉีกขาด
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            จบเฉพาะทางด้านนั้นๆ
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            สอนเบื้องต้นได้
            <br />
          </p>
        </div>
        <!-- Level-4 -->
        <div>
          <p style="font-size: 12px;font-weight: 700;color:#8a296d ;">
            <br />ระดับความสามารถ Level 4 : สัตวแพทย์จบเฉพาะทาง
          </p>

          <br />

          <p style="font-size: 12px;">
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            จบเฉพาะทางในด้านนั้นๆ
            <br />
            <img src="../image/check.svg" alt style="margin-right: 2%;" />
            สอนเบื่องต้นได้
          </p>
        </div>
        <br />
      </div>
      <div style="height:100px"></div>
    </div>
    <div class="body_button">
      <button class="button_back" style="width: 100%;" @click="go_back">
        <img src="../image/left_arrow_2.svg" alt />
        กลับ
      </button>
    </div>
  </div>
</template>
<script>
import BackGround from "../components/Background";
export default {
  name: "Detail",
  metaInfo: {
    title: "รายละเอียดเลเวลของสัตวแพทย์",
  },
  components: {
    BackGround,
  },
  methods: {
    go_back() {
      window.history.back();
    },
  },
};
</script>
<style scoped>
.button_back {
  justify-content: center !important;
}
.button_back img {
  margin-right: 5px;
}
</style>
