<template>
  <div class="container">
    <BackGround></BackGround>
    <p>
      ระดับการศึกษา
      <span class="span_orage">*</span>
    </p>
    <select class="form-control" v-model="levelEducation">
      <option selected disabled>ระดับการศึกษา</option>
      <option>มัธยมศึกษาตอนต้น</option>
      <option>ปวช.</option>
      <option>มัธยมศึกษาตอนปลาย</option>
      <option>ปวส.</option>
      <option>ปริญญาตรี</option>
      <option>ปริญญาโท</option>
      <option>ปริญญาเอก</option>
    </select>

    <!-- ---------------สถาบันการศึกษา----------------------- -->
    <p>
      สถาบันการศึกษา
      <span class="span_orage">*</span>
    </p>
    <input
      type="text"
      class="form-control"
      placeholder="สถาบันการศึกษา"
      style="margin-top:2% ;margin-bottom: 2%;"
      v-model="university"
    />
    <p>
      สาขาวิชา
      <span class="span_orage">*</span>
    </p>
    <input
      type="text"
      class="form-control"
      placeholder="สาขาวิชา"
      style="margin-top:2% ;"
      v-model="branch"
    />
    <p>
      ปีที่สำเร็จการศึกษา
      <span class="span_orage">*</span>
    </p>
    <input
      type="text"
      class="form-control"
      placeholder="ปีที่สำเร็จการศึกษา"
      style="margin-top:2% ;margin-bottom: 2%;"
      v-model="graduation"
    />

    <p>
      สถานภาพ
      <span class="span_orage">*</span>
    </p>
    <select class="form-control" v-model="educationStatus">
      <option selected disabled>สถานภาพ</option>
      <option>กำลังศึกษา</option>
      <option>จบการศึกษา</option>
    </select>

    <p>
      เกรดเฉลี่ย
      <span class="span_orage">*</span>
    </p>
    <input
      type="text"
      class="form-control"
      placeholder="เกรดเฉลี่ย"
      style="margin-top:2% ;margin-bottom: 2%;"
      v-model="gpa"
    />
    <GreyPage style="height:60%"></GreyPage>
    <div class="body_button">
      <button
        class="button_back"
        style="width: 30%;"
        @click="go_addeducation()"
      >
        <img src="../image/left_arrow_2.svg" alt style="float: left;" />
        กลับ
      </button>

      <button
        class="button_save"
        style="width: 70%;"
        @click="savedata_edu()"
        :disabled="disabled"
      >
        บันทึก
      </button>
    </div>
  </div>
</template>

<script>
import { EducationMixin } from "../mixin/EducationMixin";
export default {
  data() {
    return {
      disabled: false,
    };
  },

  name: "Education",
  metaInfo: {
    title: "ประวัติการศึกษา",
  },
  created() {
    this.get_education();
  },
  mixins: [EducationMixin],
  methods: {
    get_education() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      fetch(
        "https://vulcan.houseofdev.tech/qvetjob/api/education/9" +
          `${localStorage.idUser}`,
        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);

          console.log(result);
          if (result) {
            this.levelEducation = result.levelEducation;
            this.university = result.university;
            this.branch = result.branch;
            this.checkedu = true;
            this.graduation = result.graduation;
            this.educationStatus = result.educationStatus;
            this.gpa = result.gpa;
          } else {
            this.checkedu = false;
          }
        })
        .catch((error) => console.log("error", error));
    },
    savedata_edu() {
      if (this.checkedu == false) {
        if (
          this.levelEducation != null &&
          this.university != null &&
          this.branch != null &&
          this.graduation != null &&
          this.educationStatus != null
        ) {
          this.post_edu();
        } else {
          alert("ข้อมูลไม่ถูกต้อง กรุณากรอกข้อมูลใหม่ให้ถูกต้องครบถ้วน");
        }
      } else {
        if (
          this.levelEducation != null &&
          this.university != null &&
          this.branch != null &&
          this.graduation != null &&
          this.educationStatus != null
        ) {
          this.put_edu();
        } else {
          alert("ข้อมูลไม่ถูกต้อง กรุณากรอกข้อมูลใหม่ให้ถูกต้องครบถ้วน");
        }
      }
    },
    post_edu() {
      this.disabled = true;
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      var raw = JSON.stringify({
        levelEducation: this.levelEducation,
        university: this.university,
        branch: this.branch,
        graduation: this.graduation,
        educationStatus: this.educationStatus,
        gpa: this.gpa,
      });

      console.log(raw);
      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow",
      };
      // console.log(raw);

      fetch(
        "https://vulcan.houseofdev.tech/qvetjob/api/education/" +
          `${localStorage.idUser}`,
        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          this.go_addeducation();

          // console.log(json);
        })
        .catch((error) => console.log("error", error));
    },
    put_edu() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      var raw = JSON.stringify({
        levelEducation: this.levelEducation,
        university: this.university,
        branch: this.branch,
        graduation: this.graduation,
        educationStatus: this.educationStatus,
        gpa: this.gpa,
      });

      var requestOptions = {
        method: "PUT",
        headers: myHeaders,
        body: raw,
        redirect: "follow",
      };

      fetch(
        "https://vulcan.houseofdev.tech/qvetjob/api/education/" +
          `${localStorage.idUser}`,
        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          result.message == "Update Complete"
            ? this.go_addeducation()
            : alert("ไม่มีการอัพเดตข้อมูล");
        })
        .catch((error) => console.log("error", error));
    },
  },
};
</script>
<style scoped>
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .grey-page {
    height: 490px !important;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 480px) {
  .grey-page {
    height: 500px !important;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 480px) {
  .grey-page {
    height: 510px !important;
  }
}

@media only screen and (min-device-width: 425px) and (max-device-width: 480px) {
  .grey-page {
    height: 520px !important;
  }
}

@media only screen and (min-device-width: 768px) {
  .grey-page {
    height: 580px !important;
  }
}

@media only screen and (min-device-width: 1024px) {
  .grey-page {
    height: 620px !important;
  }
}
</style>
