<template>
  <div>
    <div class="cancle_span text-center p-3" v-if="cancle">
      คุณได้ทำการยกเลิกคำขอปฏิบัติงานเรียบร้อย
    </div>
    <div class="container">
      <BackGround></BackGround>
      <div v-if="cancle" style="margin-bottom: 4rem!important"></div>
      <div class="body_input">
        <div class="mb-3 d-flex justify-content-between">
          <div class="col-4">
            <img
              width="100"
              height="100"
              :src="profile_img"
              style="border-radius:10px"
            />
          </div>
          <div class="d-flex flex-column col-8">
            <p class="p-0">{{ user.member }}</p>
            <p class="p-0">{{ user.title }} {{ user.name }}</p>
            <p class="p-0" v-if="skill.work.level < 5">
              Level {{ skill.work.level }}: {{ user.position }}
            </p>
            <p class="p-0" v-else>{{ user.position }}</p>
            <p class="p-0">อายุ {{ profile.profile.age }}</p>
            <p class="p-0">อีเมลล์ {{ user.email }}</p>
            <p class="p-0">เบอร์โทร {{ user.phone }}</p>
          </div>
          <div></div>
        </div>
        <hr />
        <div class="d-flex justify-content-between">
          <div>
            <p class="details-text">คะแนน Rating</p>
            <div class="text-center">
              <v-rating v-model="rating" :readonly="true"></v-rating>
            </div>
          </div>
          <div>
            <p class="details-text">คะแนน Qvet</p>
            <button class="btn btn-outline">คะแนน 100%</button>
          </div>
        </div>
        <hr />
        <p class="col-12 pt-0 pb-0">ทักษะพิเศษ (5 =มาก, 1 =น้อย)</p>
        <div class="d-flex flex-row justify-content-between col-12 pb-0 pt-0">
          <div class="d-flex flex-column">
            <p>มนุษย์สัมพันธ์ดี</p>
            <p>สิ่อสารดี , ใช้คำพูดเป็น</p>
            <p>แก้ปัญหาเฉพาะหน้า</p>
            <p>ทักษะภาษาอังกฤษ</p>
            <p>ความรู้วิชาการ</p>
            <p>ความละเอียดรอบคอบ</p>
          </div>
          <div class="d-flex flex-column">
            <button class="circle">{{ skill.skill.humanReletion }}</button>
            <button class="circle">{{ skill.skill.communicate }}</button>
            <button class="circle">{{ skill.skill.problemSolve }}</button>
            <button class="circle">{{ skill.skill.languageEng }}</button>
            <button class="circle">{{ skill.skill.knowledge }}</button>
            <button class="circle">{{ skill.skill.prudence }}</button>
          </div>
        </div>
        <hr class="mb-0" />
        <div
          class="d-flex justify-content-between"
          v-if="skill.work.level === 5"
        >
          <div class="mt-3 d-flex flex-column col-12 pt-0">
            <div class="d-flex justify-content-between">
              <p>ตำแหน่ง {{ user.position }}</p>
            </div>
            <!-- <div class="d-flex flex-row center">
            <v-icon class="circle-check center">$vuetify.icons.check</v-icon>
            <p class="ml-2">ตรวจรักษา,Folow เคสต่างๆได้</p>
          </div>
          <div class="d-flex flex-row center">
            <v-icon class="circle-check">$vuetify.icons.check</v-icon>
            <p class="ml-2">ตรวจรักษา,Folow เคสต่างๆได้</p>
            </div>-->
          </div>

          <div></div>
        </div>
        <div
          class="d-flex justify-content-between"
          v-if="skill.work.level === 6"
        >
          <div class="mt-3 d-flex flex-column col-12 pt-0">
            <div class="d-flex justify-content-between">
              <p>ตำแหน่ง {{ user.position }}</p>
            </div>
            <!-- <div class="d-flex flex-row center">
            <v-icon class="circle-check center">$vuetify.icons.check</v-icon>
            <p class="ml-2">ตรวจรักษา,Folow เคสต่างๆได้</p>
          </div>
          <div class="d-flex flex-row center">
            <v-icon class="circle-check">$vuetify.icons.check</v-icon>
            <p class="ml-2">ตรวจรักษา,Folow เคสต่างๆได้</p>
            </div>-->
          </div>

          <div></div>
        </div>
        <div
          class="d-flex justify-content-between"
          v-if="skill.work.level === 1"
        >
          <div class="mt-3 d-flex flex-column col-12 pt-0">
            <div class="d-flex justify-content-between">
              <p>ระดับความสามารถ Level {{ skill.work.level }}</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check center">$vuetify.icons.check</v-icon>
              <p class="ml-2">ตรวจรักษา, Follow เคสต่างๆได้</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">ตรวจวินิฉัยโรคต่างๆเบื้องต้น</p>
            </div>
          </div>

          <div></div>
        </div>
        <div
          class="d-flex justify-content-between"
          v-if="skill.work.level === 2"
        >
          <div class="mt-3 d-flex flex-column col-12 pt-0">
            <div class="d-flex justify-content-between">
              <p>ระดับความสามารถ Level {{ skill.work.level }}</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check center">$vuetify.icons.check</v-icon>
              <p class="ml-2">ตรวจวินิฉัยโรคต่าง ๆ เบื้องต้น</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">ตรวจรักษา, Follow เคสต่าง ๆ ได้</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">ผ่าตัดทำหมัน หมา แมว ตัวผู้ ตัวเมีย</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">เย็บแผล</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">ขูดหินปูน</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check center">$vuetify.icons.check</v-icon>
              <p class="ml-2">remove mass แบบง่าย</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">CPR</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">intubation tube (สอดท่อ)</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">keep vein (แทงเส้น)</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">วางยาสลบ</p>
            </div>
          </div>

          <div></div>
        </div>
        <div
          class="d-flex justify-content-between"
          v-if="skill.work.level === 3"
        >
          <div class="mt-3 d-flex flex-column col-12 pt-0">
            <div class="d-flex justify-content-between">
              <p>ระดับความสามารถ Level {{ skill.work.level }}</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check center">$vuetify.icons.check</v-icon>
              <p class="ml-2">ตรวจวินิฉัยโรคต่าง ๆ เบื้องต้น</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">ตรวจรักษา, Follow เคสต่าง ๆ ได้</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">ผ่าตัดทำหมัน หมา แมว ตัวผู้ ตัวเมีย</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">เย็บแผล</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">ขูดหินปูน</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check center">$vuetify.icons.check</v-icon>
              <p class="ml-2">remove mass แบบง่าย</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">CPR</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">intubation tube (สอดท่อ)</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">keep vein (แทงเส้น)</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">วางยาสลบ</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check center">$vuetify.icons.check</v-icon>
              <p class="ml-2">ผ่าตัดกระเพาะปัสสาวะ/นิ่ว</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">ผ่าคลอด</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">ควักตา</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">
                ศัลกรรมตาแบบง่าย (Third eyelid flap, Conjunctival flap)
              </p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">ช่องอกทะลุ</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check center">$vuetify.icons.check</v-icon>
              <p class="ml-2">กระเพาะบิด</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">ตัดขา</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">ผ่าตัดมดลูกอักเสบ</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">ผ่าเลาะเต้านม</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">แปลงเพศ</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check center">$vuetify.icons.check</v-icon>
              <p class="ml-2">ตัดต่อลำไส้</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">ผ่ากระดูก</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">กระบังลมฉีกขาด</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">จบเฉพาะทางด้านนั้นๆ</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">สอนเบื้องต้นได้</p>
            </div>
          </div>

          <div></div>
        </div>
        <div
          class="d-flex justify-content-between"
          v-if="skill.work.level === 4"
        >
          <div class="mt-3 d-flex flex-column col-12 pt-0">
            <div class="d-flex justify-content-between">
              <p>ระดับความสามารถ Level {{ skill.work.level }}</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check center">$vuetify.icons.check</v-icon>
              <p class="ml-2">จบเฉพาะทางในด้านนั้นๆ</p>
            </div>
            <div class="d-flex flex-row center">
              <v-icon class="circle-check">$vuetify.icons.check</v-icon>
              <p class="ml-2">สอนเบื่องต้นได้</p>
            </div>
          </div>
        </div>

        <div class="body_button" v-if="cancle">
          <button class="button_back" style="width: 100%;" @click="goBack()">
            <img src="../image/left_arrow_2.svg" alt />
            กลับ
          </button>
        </div>
        <div v-else>
          <div class="body_button">
            <button
              class="button_back"
              @click="goBack()"
              type="button"
              style="width: 30%;"
            >
              <img src="../image/left_arrow_2.svg" alt style="float: left;" />
              กลับ
            </button>
            <button
              class="button_save"
              type="submit"
              style="width: 70%;"
              id="next"
              @click="confirm_job()"
            >
              ยืนยันการจ้างงาน
            </button>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <p>
          <u
            style="color:#d01f1f;font-weight:bold;font-size:16px"
            data-toggle="modal"
            data-target="#exampleModal"
            v-if="cancle == false"
            >ยกเลิกคำขอการปฏิบัติงาน</u
          >
        </p>
      </div>
      <div
        class="modal"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered"
          role="document"
          style="margin-top: 60%;"
        >
          <div class="modal-content">
            <div class="modal-footer justify-content-center">
              <p style="font-size:14px ">
                ท่านต้องการแจ้งถึง Qvetjob ให้สร้างงานใหม่
                เนื่องจากพนักงานไม่สะดวกมาปฏิบัติงานใช่หรือไม่
              </p>
              <br />
              <br />
              <div class="col-5 p-0 pt-1 pb-2">
                <button
                  type="button"
                  class="button_back"
                  style="background-color:#a05489;width:100%"
                  data-dismiss="modal"
                >
                  ไม่ใช่
                </button>
              </div>
              <div class="col-5 p-0 pt-1 pb-2">
                <button
                  type="button"
                  style="background-color:#8a296d;width:100%"
                  class="button_back"
                  @click="cancle_job()"
                  data-dismiss="modal"
                >
                  ใช่
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="height:200px"></div>
    </div>
  </div>
</template>

<script>
import BackGround from "@/components/Background.vue";
import { mapGetters } from "vuex";
import { baseUrl } from "../util/backend";
export default {
name: "EmployeeDetailNotCome",
  metaInfo: {
    title: "รายละเอียดงาน",
  },
  
  components: {
    BackGround,
  },
  data() {
    return {
      user: {},
      profile: {},
      skill: {},
      profile_img: null,
      cancle: false,
    };
  },
  methods: {
    goBack() {
      this.$router.go(-1);
    },
    async get_data_user() {
      var myHeaders = new Headers();
      myHeaders.append(
        "Cookie",
        "__cfduid=de4d85e74687b775ae022c46e0913dde41587025756"
      );

      var requestOptions = {
        method: "GET",
        headers: myHeaders,
        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/user/` + `${this.getDetailEm.user.id_line}`,

        requestOptions
      )
        .then((response) => {
          console.log(response);

          return response.text();
        })
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);

          if (result != null) {
            this.user = result;
            console.log("data user", this.user);
            this.get_data_profile();
            this.get_skill();
            this.get_img_profile();
          } else {
            console.log(result);
            console.log("no");
          }
        })
        .catch((error) => console.log("error", error));
    },
    async get_data_profile() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/profile/` + `${this.getDetailEm.user.member}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          this.profile = result;
          console.log("profile user", this.profile);
        })
        .catch((error) => console.log("error", error));
      // this.spit_birth();
    },
    async get_skill() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/skill/` + `${this.getDetailEm.user_id}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);

          this.skill = result;
          console.log("skill user", this.skill);
        })
        .catch((error) => console.log("error", error));
    },
    get_img_profile() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      fetch(
        `${baseUrl}api/image/profile/` + `${this.getDetailEm.user.member}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          result.link
            ? (this.profile_img = result.link)
            : (this.profile_img = null);
        })
        .catch((error) => console.log("error", error));
    },
    confirm_job() {
      // this.for_post.forEach((o) => {
      //   this.post_confirm_job(o.deal_job_id);
      // });
      this.post_confirm_job(this.getDetailEm.deal_job_id);
    },
    async post_confirm_job(id) {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var raw = JSON.stringify({ deal_job_id: id });

      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow",
      };

      await fetch(`${baseUrl}api/confirm/job`, requestOptions)
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          this.$router.push("/thankyou");
          // this.get_em_select();
        })
        .catch((error) => console.log("error", error));
    },
    cancle_job() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      var raw = {};
      if (this.getDetailEm.deal_job_id) {
        raw = JSON.stringify({ deal_job_id: this.getDetailEm.deal_job_id });
        var requestOptions = {
          method: "POST",
          headers: myHeaders,
          body: raw,
          redirect: "follow",
        };

        fetch(`${baseUrl}api/confirm/job/cancel/company`, requestOptions)
          .then((response) => response.text())
          .then((result) => {
            result = JSON.parse(result);
            console.log(result);

            if (result.status === "cancel_confirm_by_company") {
              this.cancle = true;
            }
          })
          .catch((error) => console.log("error", error));
      } else {
        {
          raw = JSON.stringify({
            deal_job_part_time_id: this.getDetailEm.deal_job_part_time_id,
          });
          var requestOptions2 = {
            method: "POST",
            headers: myHeaders,
            body: raw,
            redirect: "follow",
          };

          fetch(
            `${baseUrl}api/confirm/job/parttime/cancel/company`,
            requestOptions2
          )
            .then((response) => response.text())
            .then((result) => {
              result = JSON.parse(result);
              console.log(result);

              if (result.status === "cancel_confirm_by_company") {
                this.cancle = true;
              }
            })
            .catch((error) => console.log("error", error));
        }
      }
      console.log("raw cancle", raw);
    },
  },
  computed: {
    ...mapGetters({ getDetailEm: "getDetailEm" }),
  },
  created() {
    if (this.getDetailEm != null) {
      console.log("detail employee comin", this.getDetailEm);
      this.get_data_user();
    } else {
      null;
    }
  },
};
</script>

<style>
.btn {
  color: white;
  border-radius: 10px;
  background-color: #8a296d;
}
.center {
  display: flex;
  align-items: center;
}
.circle-check {
  margin-bottom: 5px;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  border-color: black;
  color: white;
  background-color: #a15488;
}
.circle {
  margin-bottom: 5px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border-color: black;
  color: white;
  background-color: #a15488;
}
.details-text {
  font-size: 12px;
}
.mdi-star::before {
  font-size: 30px;
  color: #ed8a19;
}
.mdi-star-outline::before {
  font-size: 30px;
  color: #ed8a19;
}
.mdi-check::before {
  font-size: 10px;
  color: white;
}
.btn-outline {
  width: 150px;
  padding: 1px;
  border-color: #8a296d;
}
.cancle_span {
  background: #de2c2c;
  position: fixed;
  z-index: 10;
  top: 0;
}
.v-rating .v-icon {
  padding: 0rem;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}
</style>

<style scoped>
.button_back img {
  margin-right: 0.2rem;
  margin-top: -0.2rem;
}
</style>
