<template>
  <div>
    <div>
      <div class="cancle_span text-center p-3 w-100" v-if="cancle">
        คุณได้ทำการยกเลิกคำขอปฏิบัติงานเรียบร้อย
      </div>

      <div class="container">
        <BackGround></BackGround>
        <div v-if="cancle" style="margin-bottom: 4rem!important"></div>

        <div class="body_input">
          <div class="mb-3 d-flex justify-content-between">
            <div class="col-4">
              <img
                width="100"
                height="100"
                :src="profile_img"
                style="border-radius:10px"
              />
            </div>
            <div class="d-flex flex-column col-8">
              <p class="p-0">{{ user.member }}</p>
              <p class="p-0">{{ user.title }} {{ user.name }}</p>
              <div v-if="skill.work.level != undefined">
                <p class="p-0">{{ user.position }}</p>
                <p class="p-0" v-if="skill.work.level < 5">
                  <span v-if="skill.work.level == 1">สัตวแพทย์รุ่นใหม่</span>
                  <span v-if="skill.work.level == 2"
                    >Level 2 : สัตวแพทย์มีประสบกาณ์</span
                  >
                  <span v-if="skill.work.level == 3"
                    >Level 3 : สัตวแพทย์ Advance</span
                  >
                  <span v-if="skill.work.level == 4"
                    >Level 4 : สัตวแพทย์จบเฉพาะทาง</span
                  >
                </p>
              </div>
              <p class="p-0" v-else>{{ user.position }}</p>
              <div v-if="profile.profile.age != undefined">
                <p class="p-0">อายุ {{ profile.profile.age }}</p>
              </div>
              <p class="p-0">อีเมลล์ {{ user.email }}</p>
              <p class="p-0" v-if="work_type === 'full time'">
                วันที่ปฏิบัติงาน
                {{ date_start }} -
                {{ date_end }}
              </p>
              <p class="p-0" v-else>
                วันที่ปฏิบัติงาน
                {{ date_start }}
              </p>
            </div>
            <div></div>
          </div>
          <hr />
          <div class="d-flex justify-content-between">
            <div>
              <div class="text-center">
                <v-rating v-model="rating"></v-rating>
              </div>

              <!-- <div class="d-flex flex-row bd-highlight mb-3">
                <div v-for="i in 4" :key="i">
                  <v-icon class="d-flex flex-row"
                    >$vuetify.icons.starFull</v-icon
                  >
                </div>
                <v-icon class="d-flex flex-row"
                  >$vuetify.icons.starBlank</v-icon
                >
              </div>-->
            </div>
          </div>

          <div>
            <textarea
              class="form-control"
              cols="10"
              rows="5"
              v-model="note"
              placeholder="เขียนข้อความของคุณที่นี่"
              style="margin-top:2%;background:#f5f5f5"
            ></textarea>
          </div>
          <p class="text_red_1">
            *กรณีพนักงานท่านนี้มีการทำงานล่วงเวลา
            ท่านสามารถระบุข้อมูลได้ที่ด้านล่าง
          </p>
          <div>
            <textarea
              class="form-control"
              cols="10"
              rows="5"
              v-model="otNote"
              placeholder="เขียนข้อความของคุณที่นี่ เช่น OT 3 ชั่วโมง รวม 300"
              style="margin-top:2%;background:#f5f5f5"
            ></textarea>
          </div>

          <div>
            <div class="body_button">
              <button
                class="button_save"
                type="submit"
                style="width: 100%;"
                :class="{ gey: ratingPost <= 0 }"
                :disabled="ratingPost <= 0"
                id="next"
                @click="post_ot(), post_vote()"
              >
                ยืนยันการประเมิน
              </button>
            </div>
          </div>
        </div>

        <div style="height:200px"></div>
      </div>
    </div>
  </div>
</template>

<script>
import BackGround from "@/components/Background.vue";

import { init, liffclose } from "../util/index";
import { liffid } from "../util/liffId";
import { baseUrl } from "../util/backend";
import moment from "moment";
export default {
  name: "EmployeeVote",
  metaInfo: {
    title: "ประเมินระดับความพึงพอใจ",
  },
  components: {
    BackGround,
  },
  data() {
    return {
      user: {},
      profile: {},
      skill: {},
      profile_img: null,
      cancle: false,
      otNote: null,
      parameter: null,
      note: null,
      id_line: null,
      date_start: null,
      date_end: null,
      job_id: null,
      work_type: null,
      rating: 0,
      job_deal: null,
      user_assessment_id: null,
    };
  },
  methods: {
    goBack() {
      this.$router.go(-1);
    },
    get_params() {
      let uri = window.location.href.split("?");
      if (uri.length == 2) {
        let vars = uri[1].split("&");
        let getVars = {};
        let tmp = "";
        vars.forEach(function(v) {
          tmp = v.split("=");
          if (tmp.length == 2) getVars[tmp[0]] = tmp[1];
        });
        console.log(getVars);
        // do
      }
    },

    async get_data_user() {
      var myHeaders = new Headers();
      myHeaders.append(
        "Cookie",
        "__cfduid=de4d85e74687b775ae022c46e0913dde41587025756"
      );

      var requestOptions = {
        method: "GET",
        headers: myHeaders,
        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/user/` + `${this.id_line}`,

        requestOptions
      )
        .then((response) => {
          console.log(response);

          return response.text();
        })
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);

          if (result != null) {
            this.user = result;
            console.log("data user", this.user);
            this.get_data_profile();
            this.get_skill();
            this.get_img_profile();
            // this.get_deal_job();
          } else {
            console.log(result);
            console.log("no");
          }
        })
        .catch((error) => console.log("error", error));
    },
    async get_data_profile() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/profile/` + `${this.user.member}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          this.profile = result;
          console.log("profile user", this.profile);
        })
        .catch((error) => console.log("error", error));
      // this.spit_birth();
    },
    async get_skill() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/skill/` + `${this.user.user_id}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);

          this.skill = result;
          console.log("skill user", this.skill);
        })
        .catch((error) => console.log("error", error));
    },
    get_img_profile() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      fetch(
        `${baseUrl}api/image/profile/` + `${this.user.member}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          result.link
            ? (this.profile_img = result.link)
            : (this.profile_img = null);
        })
        .catch((error) => console.log("error", error));
    },
    async get_deal_job() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/dealjob/user/${this.user.user_id}`,
        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log("full time", result);
          if (this.work_type == "full time") {
            this.job_deal = this.lodash.filter(result.deal_job, [
              "job_id",
              this.job_id,
            ]);

            this.job_deal = this.job_deal[0];
            this.job_deal.annoucement.date_time_job.date_start = moment(
              this.job_deal.annoucement.date_time_job.date_start
            ).format("DD-MM-YY");

            this.job_deal.annoucement.date_time_job.date_end = moment(
              this.job_deal.annoucement.date_time_job.date_end
            ).format("DD-MM-YY");
            console.log("dealjob fulltime", this.job_deal);
          } else {
            console.log("part time");

            this.job_deal = this.lodash.filter(result.deal_job_part_time, {
              job_id: this.job_id,
            });
            this.job_deal = this.job_deal[0];
            this.job_deal.annoucement.date_time_job.date_start = moment(
              this.job_deal.annoucement.date_time_job.date_start
            ).format("DD-MM-YY");

            this.job_deal.annoucement.date_time_job.date_end = moment(
              this.job_deal.annoucement.date_time_job.date_end
            ).format("DD-MM-YY");
            console.log("dealjob parttime", this.job_deal);
          }
        })
        .catch((error) => console.log("error", error));
    },
    post_full_time() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var raw = JSON.stringify({
        deal_job_id: this.job_deal.deal_job_id,
        total_price: 0,
        assessment: {
          user_id: this.user.user_id,
          company_id: this.job_deal.annoucement.job.company_id,
          score: this.ratingPost,
          note: this.note,
        },
      });

      console.log("raw", raw);

      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow",
      };

      fetch(`${baseUrl}api/donejob`, requestOptions)
        .then((response) => response.text())
        .then((result) => {
          console.log(result);
          liffclose();
        })
        .catch((error) => console.log("error", error));
    },
    post_part_time() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var raw = JSON.stringify({
        deal_job_part_time_id: this.job_deal.deal_job_part_time_id,
        total_price: 0,
        assessment: {
          user_id: this.user.user_id,
          company_id: this.job_deal.annoucement.job.company_id,
          score: this.ratingPost,
          note: this.note,
        },
      });

      console.log("raw", raw);

      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow",
      };

      fetch(`${baseUrl}api/donejob/parttime`, requestOptions)
        .then((response) => response.text())
        .then((result) => {
          console.log(result);
          liffclose();
        })
        .catch((error) => console.log("error", error));
    },

    async post_vote() {
      this.note == null ? (this.note = "-") : null;

      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var raw = JSON.stringify({
        user_assessment_id: this.user_assessment_id,
        score: this.ratingPost,
        note: this.note,
      });
      console.log(raw);

      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow",
      };

      await fetch(`${baseUrl}api/user/assessment`, requestOptions)
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          liffclose();
        })
        .catch((error) => console.log("error", error));

      // this.work_type === "full_time"
      //   ? this.post_full_time()
      //   : this.post_part_time();
    },
    async post_ot() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      myHeaders.append(
        "Cookie",
        "__cfduid=d6a36e805c731b1b176fcc23dd2f8bb241596445387"
      );

      var raw = JSON.stringify({
        user_assessment_id: this.user_assessment_id,
        note: this.otNote,
      });

      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow",
      };

      fetch(`${baseUrl}api/ot`, requestOptions)
        .then((response) => response.text())
        .then((result) => console.log(result))
        .catch((error) => console.log("error", error));
    },
  },
  computed: {
    ratingPost() {
      // console.log("rating star", this.rating);

      return this.rating;
    },
  },
  created() {
    init(liffid.vote);
    const queryString = decodeURIComponent(window.location.search).replace(
      "?liff.state=",
      ""
    );
    const params = new URLSearchParams(queryString);
    // const id = `?id_line=${params.get("id_line")}&date_start=${params.get(
    //   "date_start"
    // )}`;
    this.id_line = params.get("id_line");
    // this.job_id = parseInt(params.get("job_id"));
    this.date_start = params.get("date_start");
    this.date_end = params.get("date_end");
    this.user_assessment_id = params.get("user_assessment_id");
    this.work_type = params.get("type");
    this.work_type = this.work_type.toLowerCase();
    console.log("this.work_type", this.work_type);
    this.date_start = moment(this.date_start).format("dd DD-MM-YY");
    this.date_end = moment(this.date_end).format("dd DD-MM-YY");

    if (this.id_line != null) {
      // console.log("detail employee comin", this.$route.query.date_start);
      this.get_data_user();
    } else {
      null;
    }
  },
};
</script>

<style>
.btn {
  color: white;
  border-radius: 10px;
  background-color: #8a296d;
}
.center {
  display: flex;
  align-items: center;
}
.circle-check {
  margin-bottom: 5px;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  border-color: black;
  color: white;
  background-color: #a15488;
}
.circle {
  margin-bottom: 5px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border-color: black;
  color: white;
  background-color: #a15488;
}
.details-text {
  font-size: 12px;
}
.mdi-star::before {
  font-size: 30px;
  color: #ed8a19;
}
.mdi-star-outline::before {
  font-size: 30px;
  color: #ed8a19;
}
.mdi-check::before {
  font-size: 10px;
  color: white;
}
.btn-outline {
  width: 150px;
  padding: 1px;
  border-color: #8a296d;
}
.cancle_span {
  background: #de2c2c;
  position: fixed;
  z-index: 10;
  top: 0;
}
.gey {
  background-color: #cecece;
}
</style>
<style scoped>
.v-rating .v-icon {
  padding: 0.5rem;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}
.text_red_1 {
  font-size: 12px !important;
  color: #d01f1f !important;
}
</style>
