<template>
  <div class="container">
    <back-ground></back-ground>
    <p>
      ตำแหน่งงาน
      <span class="span_orage">*</span>
    </p>
    <input
      type="text"
      class="form-control"
      placeholder="ตำแหน่งงาน*"
      style="margin-top:2% ;margin-bottom: 2%;"
      v-model="oldPosition"
    />

    <!-- ---------------ชื่อสถานที่*----------------------- -->
    <p>
      ชื่อสถานที่
      <span class="span_orage">*</span>
    </p>
    <input
      type="text"
      class="form-control"
      v-model="company"
      placeholder="ชื่อสถานที่*"
      style="margin-top:2% ;margin-bottom: 2%;"
    />
    <!-- ---------------จังหวัด<*----------------------- -->
    <p>จังหวัด</p>
    <select class="form-control" data-flip="false" v-model="province">
      <option selected disabled>จังหวัด</option>
      <option value="กรุงเทพมหานคร">กรุงเทพมหานคร</option>
      <option value="กระบี่">กระบี่</option>
      <option value="กาญจนบุรี">กาญจนบุรี</option>
      <option value="กาฬสินธุ์">กาฬสินธุ์</option>
      <option value="กำแพงเพชร">กำแพงเพชร</option>
      <option value="ขอนแก่น">ขอนแก่น</option>
      <option value="จันทบุรี">จันทบุรี</option>
      <option value="ฉะเชิงเทรา">ฉะเชิงเทรา</option>
      <option value="ชัยนาท">ชัยนาท</option>
      <option value="ชัยภูมิ">ชัยภูมิ</option>
      <option value="ชุมพร">ชุมพร</option>
      <option value="ชลบุรี">ชลบุรี</option>
      <option value="เชียงใหม่">เชียงใหม่</option>
      <option value="เชียงราย">เชียงราย</option>
      <option value="ตรัง">ตรัง</option>
      <option value="ตราด">ตราด</option>
      <option value="ตาก">ตาก</option>
      <option value="นครนายก">นครนายก</option>
      <option value="นครปฐม">นครปฐม</option>
      <option value="นครพนม">นครพนม</option>
      <option value="นครราชสีมา">นครราชสีมา</option>
      <option value="นครศรีธรรมราช">นครศรีธรรมราช</option>
      <option value="นครสวรรค์">นครสวรรค์</option>
      <option value="นราธิวาส">นราธิวาส</option>
      <option value="น่าน">น่าน</option>
      <option value="นนทบุรี">นนทบุรี</option>
      <option value="บึงกาฬ">บึงกาฬ</option>
      <option value="บุรีรัมย์">บุรีรัมย์</option>
      <option value="ประจวบคีรีขันธ์">ประจวบคีรีขันธ์</option>
      <option value="ปทุมธานี">ปทุมธานี</option>
      <option value="ปราจีนบุรี">ปราจีนบุรี</option>
      <option value="ปัตตานี">ปัตตานี</option>
      <option value="พะเยา">พะเยา</option>
      <option value="พระนครศรีอยุธยา">พระนครศรีอยุธยา</option>
      <option value="พังงา">พังงา</option>
      <option value="พิจิตร">พิจิตร</option>
      <option value="พิษณุโลก">พิษณุโลก</option>
      <option value="เพชรบุรี">เพชรบุรี</option>
      <option value="เพชรบูรณ์">เพชรบูรณ์</option>
      <option value="แพร่">แพร่</option>
      <option value="พัทลุง">พัทลุง</option>
      <option value="ภูเก็ต">ภูเก็ต</option>
      <option value="มหาสารคาม">มหาสารคาม</option>
      <option value="มุกดาหาร">มุกดาหาร</option>
      <option value="แม่ฮ่องสอน">แม่ฮ่องสอน</option>
      <option value="ยโสธร">ยโสธร</option>
      <option value="ยะลา">ยะลา</option>
      <option value="ร้อยเอ็ด">ร้อยเอ็ด</option>
      <option value="ระนอง">ระนอง</option>
      <option value="ระยอง">ระยอง</option>
      <option value="ราชบุรี">ราชบุรี</option>
      <option value="ลพบุรี">ลพบุรี</option>
      <option value="ลำปาง">ลำปาง</option>
      <option value="ลำพูน">ลำพูน</option>
      <option value="เลย">เลย</option>
      <option value="ศรีสะเกษ">ศรีสะเกษ</option>
      <option value="สกลนคร">สกลนคร</option>
      <option value="สงขลา">สงขลา</option>
      <option value="สมุทรสาคร">สมุทรสาคร</option>
      <option value="สมุทรปราการ">สมุทรปราการ</option>
      <option value="สมุทรสงคราม">สมุทรสงคราม</option>
      <option value="สระแก้ว">สระแก้ว</option>
      <option value="สระบุรี">สระบุรี</option>
      <option value="สิงห์บุรี">สิงห์บุรี</option>
      <option value="สุโขทัย">สุโขทัย</option>
      <option value="สุพรรณบุรี">สุพรรณบุรี</option>
      <option value="สุราษฎร์ธานี">สุราษฎร์ธานี</option>
      <option value="สุรินทร์">สุรินทร์</option>
      <option value="สตูล">สตูล</option>
      <option value="หนองคาย">หนองคาย</option>
      <option value="หนองบัวลำภู">หนองบัวลำภู</option>
      <option value="อำนาจเจริญ">อำนาจเจริญ</option>
      <option value="อุดรธานี">อุดรธานี</option>
      <option value="อุตรดิตถ์">อุตรดิตถ์</option>
      <option value="อุทัยธานี">อุทัยธานี</option>
      <option value="อุบลราชธานี">อุบลราชธานี</option>
      <option value="อ่างทอง">อ่างทอง</option>
      <option value="อื่นๆ">อื่นๆ</option>
    </select>

    <!-- วันเริ่มการทำงาน* -->

    <p>
      วันเริ่มการทำงาน
      <span class="span_orage">*</span>
    </p>
    <div style="display:flex">
      <input type="text" class="form-control" v-model="startDay" />
      <!-- <Datepicker class="datepicker" v-model="startDay"></Datepicker> -->
      <!-- <div style="position: absolute; right: 8%;top: 35.5%"> -->
      <img
        style="position: absolute;right: 8%;margin-top:3%"
        src="../image/calendar.svg"
        alt
      />
      <!-- </div> -->
    </div>

    <p>
      วันสิ้นสุดทำงาน
      <span class="span_orage">*</span>
    </p>
    <div style="display: flex;">
      <input type="text" class="form-control" v-model="finishDay" />
      <!-- <Datepicker class="datepicker" v-model="finishDay"></Datepicker> -->
      <!-- <div style="position: absolute; right: 8%;top: 44.5%"> -->
      <img
        style="position: absolute;right: 8%;margin-top:3%"
        src="../image/calendar.svg"
        alt
      />
      <!-- </div> -->
    </div>

    <GreyPage style="height:52%"></GreyPage>
    <div class="body_button">
      <button
        class="button_back"
        style="width: 30%;"
        @click="go_addexperience()"
      >
        <img src="../image/left_arrow_2.svg" alt style="float: left;" />
        กลับ
      </button>

      <button class="button_save" style="width: 70%;" @click="savedata_exp()">
        บันทึก
      </button>
    </div>
  </div>
</template>

<script>
import { ExperienceMixin } from "../mixin/ExperienceMixin";

export default {
  name: "Experience",
  metaInfo: {
    title: "ประสบการณ์การทำงาน",
  },
  created() {
    this.get_exp();
  },
  mixins: [ExperienceMixin],
  methods: {
    get_exp() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      fetch(
        "https://vulcan.houseofdev.tech/qvetjob/api/experience/" +
          `${localStorage.idUser}`,
        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          if (result) {
            this.oldPosition = result.oldPosition;
            this.company = result.company;
            this.province = result.province;
            this.startDay = result.startDay;
            this.finishDay = result.finishDay;
            this.checkexp = true;
          } else {
            this.checkexp = false;
          }
        })
        .catch((error) => console.log("error", error));
    },
    savedata_exp() {
      if (this.checkexp == false) {
        if (
          this.oldPosition != null &&
          this.company != null &&
          this.province != null &&
          this.startDay != null &&
          this.finishDay != null
        ) {
          this.post_exp();
        } else {
          alert("ข้อมูลไม่ถูกต้อง กรุณากรอกข้อมูลใหม่ให้ถูกต้องครบถ้วน");
        }
      } else {
        if (
          this.oldPosition != null &&
          this.company != null &&
          this.province != null &&
          this.startDay != null &&
          this.finishDay != null
        ) {
          this.put_exp();
        } else {
          alert("ข้อมูลไม่ถูกต้อง กรุณากรอกข้อมูลใหม่ให้ถูกต้องครบถ้วน");
        }
      }
    },
    post_exp() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      var raw = JSON.stringify({
        oldPosition: this.oldPosition,
        company: this.company,
        province: this.province,
        startDay: this.startDay,
        finishDay: this.finishDay,
      });
      console.log(raw);
      console.log(localStorage.idUser);

      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow",
      };

      fetch(
        "https://vulcan.houseofdev.tech/qvetjob//api/experience/" +
          `${localStorage.idUser}`,
        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log("result::", result);
          this.go_addexperience;
        })
        .catch((error) => console.log("error", error));
    },
    put_exp() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      var raw = JSON.stringify({
        oldPosition: this.oldPosition,
        company: this.company,
        province: this.province,
        startDay: this.startDay,
        finishDay: this.finishDay,
      });

      var requestOptions = {
        method: "PUT",
        headers: myHeaders,
        body: raw,
        redirect: "follow",
      };

      fetch(
        "https://vulcan.houseofdev.tech/qvetjob//api/experience/" +
          `${localStorage.idUser}`,
        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log("result::", result);
          if (result.message == "Update Complete") {
            console.log("ok");

            this.go_addexperience();
          } else {
            console.log("no");
            alert("ไม่มีการอัพเดตข้อมูล");
          }
        })
        .catch((error) => console.log("error", error));
    },
  },
};
</script>
<style scoped>
.button_back img {
  margin-left: 1rem;
  margin-right: -0.5rem;
}

.datepicker {
  width: 100%;
  height: 45px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .grey-page {
    height: 410px !important;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 480px) {
  .grey-page {
    height: 420px !important;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 480px) {
  .grey-page {
    height: 430px !important;
  }
}

@media only screen and (min-device-width: 425px) and (max-device-width: 480px) {
  .grey-page {
    height: 440px !important;
  }
}

@media only screen and (min-device-width: 768px) {
  .grey-page {
    height: 500px !important;
  }
}

@media only screen and (min-device-width: 1024px) {
  .grey-page {
    height: 540px !important;
  }
}
</style>
