<template>
  <div class="container">
    <BackGround />

    <PaymentContent />
    <div class="text-center" style="position: absolute;
    left: 5%;
    top: 90%;
    right: 5%;">
      <p style="font-size:12px !important;">
        คุณสามารถชำระเงินผ่านธนาคารกสิกรไทย เลขบัญชี 033-8-43755-2
        <br />หรือชำระผ่าน
        <u
          style="font-size:12px !important;color:#8a296d"
          data-toggle="modal"
          data-target="#exampleModal"
        >QR-Code Prompt Pay</u>
      </p>
      <div
        class="modal"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-footer justify-content-center">
              <img src="../image/QRCODE.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import BackGround from "../components/Background.vue";

import PaymentContent from "../components/PaymentContent";
import { baseUrl } from "../util/backend";

export default {
  name: "ManagePayment",
  metaInfo: {
    title: "รายการชำระเงิน"
  },
  components: {
    BackGround,

    PaymentContent
  },
  created() {
    // this.get_deal_job();
  },
  methods: {
    get_deal_job() {
      var requestOptions = {
        method: "GET",
        redirect: "follow"
      };

      fetch(`${baseUrl}api/dealjob/all?page=1&limit=2`, requestOptions)
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          console.log(result);
        })
        .catch(error => console.log("error", error));
    }
  },
  updated() {}
};
</script>
<style >
.vc-text-base {
  font-size: 12px !important;
}
</style>
