<template>
  <div class="container">
    <BackGround></BackGround>

    <List v-on:select="activeList($event)" />
    <div v-if="active_1">
      <SelectJobAnnounce v-on:select="activeList($event)"></SelectJobAnnounce>
      <div style="height:200px"></div>
    </div>
    <div v-if="active_2">
      <CancleJobAnnounce v-on:select="activeList($event)"></CancleJobAnnounce>
      <div style="height:200px"></div>
    </div>
    <div v-if="active_3">
      <div style="margin-top: 2%;" v-if="isPost">
        <div style="display: flex;height:40px">
          <div class="subject">
            <p class="text_subject">งานที่รอการยืนยัน</p>
          </div>
          <div class="sub_subject" v-on:click="switched()">
            <p class="text_sub_subject">งานที่ลงประกาศแล้ว</p>
          </div>
        </div>

        <NoContent v-if="convert == false"></NoContent>
        <div class="postJob" v-else>
          <div>
            <div class="body_input" v-for="(job, index) in getJob" :key="index">
              <div class="row" style="margin-left:5px">
                <div class="col-3">
                  <img :src="place_img" alt style="width:60px;height:60px" />
                </div>
                <div class="col p-0">
                  <div class="pb-0 mr-0" style="margin-left:2%">
                    <div>
                      <div v-if="job.level <= 4">
                        <p class="text_des w-100">Level {{ job.level }} : {{ job.position }}</p>
                      </div>
                      <div v-else>
                        <p class="text_des w-100">{{ job.position }}</p>
                      </div>

                      <p class="text_des w-100">{{ job.type }}</p>
                      <p class="text_des">
                        {{ address_job.company_name }} แขวง
                        {{ address_job.district }} เขต
                        {{ address_job.zone }} จังหวัด
                        {{ address_job.province }}
                      </p>
                      <p class="text_des w-100">{{ job.amount }} ตำแหน่ง</p>

                      <p class="text_des w-100 mr-2">
                        เวลาการทำงาน {{ job.date_time_job.time_start }} -
                        {{ job.date_time_job.time_end }}น.
                      </p>
                    </div>
                  </div>
                  <div class="col-12 p-0 d-flex" style="margin-left:2%">
                    <div v-if="job.type === 'Part Time'" style="display:flex">
                      <p class="text_des col-4 col-lg-4 col-md-3 p-0">วันปฏิบัติงาน</p>
                      <div class="p-0 col-12 text-left d-flex flex-wrap" v-if="job.period">
                        <p
                          class="text_des text-dark mr-2"
                          v-for="(item, index) in job.period"
                          :key="index"
                        >
                          {{ item.day }},
                          <br />
                        </p>
                      </div>
                      <div class="p-0 col-12 text-left d-flex flex-wrap" v-else>
                        <p
                          class="text_des text-dark mr-2"
                          v-for="(item, index) in back_up[index]"
                          :key="index"
                        >
                          {{ item.day }},
                          <br />
                        </p>
                      </div>
                    </div>

                    <div v-else>
                      <p class="text_des w-100">
                        วันปฏิบัติงาน {{ job.date_time_job.date_start }} -
                        {{ job.date_time_job.date_end }}
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  style="width:fit-content;padding:12px;height: 50px; margin-right: 20px"
                  class="pr-2"
                  data-toggle="modal"
                  data-target="#exampleModal"
                >
                  <img src="../image/trash.svg" alt style="width:19px;" />
                  <div>
                    <div
                      class="modal fade"
                      id="exampleModal"
                      tabindex="-1"
                      role="dialog"
                      aria-labelledby="exampleModalLabel"
                      aria-hidden="true"
                    >
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-footer">
                            <p style="font-size:14px ">คุณต้องการลบรายการการลงประกาศงานนี้ใช่หรือไม่</p>
                            <br />
                            <br />
                            <div class="col-5 p-0 pt-1 pb-2">
                              <button
                                type="button"
                                class="button_back"
                                style="background-color:#a05489;width:100%"
                                data-dismiss="modal"
                              >ไม่ใช่</button>
                            </div>
                            <div class="col-5 p-0 pt-1 pb-2">
                              <button
                                type="button"
                                style="background-color:#8a296d;width:100%"
                                class="button_back"
                                @click="deleteJob(job.job_id)"
                                data-dismiss="modal"
                              >ใช่</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top:5%;justify-content:center">
                <div
                  class="col-5"
                  style="padding-right: 0px;padding-left: 0px;"
                  v-if="job.type === 'Part Time'"
                >
                  <button
                    class="button_back"
                    type="button"
                    @click="editJob(job)"
                    style="font-size:12px;width:60%;height:40px;"
                  >
                    <img src="../image/edit.svg" alt style="margin-right:7px" />
                    <u>แก้ไข</u>
                  </button>
                </div>
                <div class="col-5" style="padding-right: 0px;padding-left: 0px;" v-else>
                  <button
                    class="button_back"
                    type="button"
                    @click="editJob_Full(job)"
                    style="font-size:12px;width:60%;height:40px;"
                  >
                    <img src="../image/edit.svg" alt style="margin-right:7px" />
                    <u>แก้ไข</u>
                  </button>
                </div>
                <div class="col-5" style="padding-right: 0px;
    padding-left: 0px;">
                  <button
                    @click="approve(job.job_id, index)"
                    class="button_back"
                    style="font-size:12px;width:100%;height:40px;background-color:#8a296d !important;"
                  >ยืนยันการลงประกาศงาน</button>
                </div>
              </div>
            </div>
          </div>
          <div style="height:200px"></div>
          <!-- <div v-else>
            <img src="../image/empty_box.svg" alt="" style="margin-top: 30%;" />
            <p style="color: #7e7e7e;margin-top: 2%;">
              ยังไม่มีการลงประกาศงาน <br />
              กรุณาเพิ่มการลงประกาศงานที่ด้านล่าง
            </p>
          </div>-->
        </div>

        <div class="body_button">
          <router-link to="/postjob" style="width:100%">
            <button
              class="btn"
              style="background-color: #8a296d;color: white;text-align: center;width: 100%;height:45px"
            >
              <img src="../image/plus.svg" alt />
              เพิ่มการลงประกาศงาน
            </button>
          </router-link>
        </div>
      </div>

      <div style="margin-top: 2%;" v-else>
        <div style="display: flex;height:40px">
          <div class="sub_subject">
            <p class="text_sub_subject" v-on:click="switchback">งานที่รอการยืนยัน</p>
          </div>
          <div class="subject">
            <p class="text_subject">งานที่ลงประกาศแล้ว</p>
          </div>
        </div>

        <div class="postJob">
          <NoContent v-if="approveShow == false"></NoContent>
          <div v-else>
            <ContentAnnounce></ContentAnnounce>
            <div style="height:200px"></div>
          </div>
        </div>
        <div class="body_button" v-if="approveShow == false">
          <router-link to="/postjob" style="width:100%">
            <button
              class="btn"
              style="background-color: #8a296d;color: white;text-align: center;width: 100%;"
            >
              <img src="../image/plus.svg" alt />
              <span>เพิ่มการลงประกาศงาน</span>
            </button>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import BackGround from "../components/Background.vue";
import List from "../components/List.vue";
import SelectJobAnnounce from "../components/SelectJobAnnounce.vue";
import CancleJobAnnounce from "../components/CancleJobAnnounce.vue";
import NoContent from "../components/NoContent";
import ContentAnnounce from "../components/ContentAnnounce";
import { init } from "../util/index";
import { liffid } from "../util/liffId";
import { mapGetters } from "vuex";
// import moment from "moment";
import { baseUrl } from "../util/backend";
export default {
  name: "ManageJob",
  metaInfo: {
    title: "จัดการลงประกาศและผู้สมัคร"
  },
  data() {
    return {
      isPost: true,
      job_announe: {},
      level_name: null,
      check: false,
      approveShow: false,
      job_in: {},
      address_job: {},
      job_id_arr: [],
      period: [],
      place_img: null,
      isUpDate: false,
      invisible_period: [],
      active_1: false,
      active_2: false,
      active_3: false,
      dataUser: false,
      waiting: [],
      cancle: [],
      result: null
    };
  },
  components: {
    BackGround,
    List,
    NoContent,
    ContentAnnounce,
    SelectJobAnnounce,
    CancleJobAnnounce
  },
  methods: {
    async get_place_img() {
      var requestOptions = {
        method: "GET",
        redirect: "follow"
      };

      await fetch(
        `${baseUrl}api/image/place/` + `${localStorage.idUser}`,

        requestOptions
      )
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          console.log(result);
          result.link
            ? ((this.place_img = result.link), console.log(this.place_img))
            : console.log(result);
          this.spinner_place = false;
        })
        .catch(error => console.log("error", error));
    },
    switched() {
      this.isPost = false;
      console.log(this.isPost);
    },
    switchback() {
      this.isPost = true;
      console.log(this.isPost);
    },
    async deleteJob(i) {
      console.log("job id for delete", i);

      var requestOptions = {
        method: "POST",
        redirect: "follow"
      };

      await fetch(`${baseUrl}api/job/cancel/${i}`, requestOptions)
        .then(response => response.text())
        .then(result => {
          console.log(result);
          this.get_job();
          this.getJob[0] ? (this.check = true) : (this.check = false);
          this.getAnnounce
            ? (this.approveShow = true)
            : (this.approveShow = false);
          console.log("check delete");
        })
        .catch(error => console.log("error", error));
    },
    approve(job_id, index) {
      this.isUpDate = true;
      console.log(job_id, index);
      var requestOptions = {
        method: "POST",
        redirect: "follow"
      };

      fetch(`${baseUrl}api/job/annoucement/${job_id}`, requestOptions)
        .then(response => response.text())
        .then(result => {
          console.log(result);
          this.get_job();
          this.check_getJob();
        })
        .catch(error => console.log("error", error));
      console.log(this.getJob[index]);
      this.get_job();
      console.log("announce");
    },
    check_getJob() {
      console.log("getJob eiei", this.getAnnounce.level_1);

      this.getJob[0] ? (this.check = true) : (this.check = false);
      this.getAnnounce ? (this.approveShow = true) : (this.approveShow = false);
    },
    async get_job() {
      this.get_place_img();
      var requestOptions = {
        method: "GET",
        redirect: "follow"
      };

      await fetch(
        `${baseUrl}api/job/annoucement/${localStorage.idUser}`,

        requestOptions
      )
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          this.job_in = result;
          result.jobs.forEach(o => {
            o.place_img = this.place_img;
          });

          // result.jobs.place_img = this.place_img;
          // console.log("picture", result.jobs.place_img);
          setTimeout(() => {
            this.$store.dispatch("addjob", result.jobs);
          }, 1000);

          this.check_getJob();
        })
        .catch(error => console.log("error", error));

      console.log("job in", this.job_in);

      // this.$store.dispatch("addjob");
    },
    async get_data_user() {
      var myHeaders = new Headers();
      myHeaders.append(
        "Cookie",
        "__cfduid=de4d85e74687b775ae022c46e0913dde41587025756"
      );

      var requestOptions = {
        method: "GET",
        headers: myHeaders,
        redirect: "follow"
      };
      await fetch(
        `${baseUrl}api/company/` + `${localStorage.idLine}`,

        requestOptions
      )
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          console.log(result);
          localStorage.idUser = result.company_id;
          if (result != null) {
            this.get_job();
            console.log();

            this.$store.dispatch("addSubCompanyId", result.sub_com_id);
            this.$store.dispatch("addCompanyId", result.company_id);
          } else {
            console.log("no");
          }
        })
        .catch(error => console.log("error", error));
      this.get_list_sub();
    },
    async get_list_sub() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      // var raw = JSON.stringify({
      //   company_id: this.company_id,
      //   sub_com_id: this.sub_com_id,
      // });

      var requestOptions = {
        method: "GET",
        headers: myHeaders,

        redirect: "follow"
      };

      await fetch(
        `${baseUrl}api/address/${this.company_id}/${this.sub_com_id}`,

        requestOptions
      )
        .then(response => {
          console.log(response);
          return response.text();
        })
        .then(result => {
          result = JSON.parse(result);

          this.address_job = result;
          this.$store.dispatch("addressCompanyId", result.address_com_id);
          console.log(this.address_job);

          console.log(result);
        })
        .catch(error => console.log("error", error));
    },
    activeList(e) {
      if (e.active_1) {
        this.active_1 = true;
        this.active_2 = false;
        this.active_3 = false;
      } else if (e.active_2) {
        this.active_2 = true;
        this.active_1 = false;
        this.active_3 = false;
      } else {
        this.active_3 = true;
        this.active_2 = false;
        this.active_1 = false;
      }
    },

    async editJob(e) {
      console.log("edit", e);
      var requestOptions = {
        method: "GET",
        redirect: "follow"
      };

      await fetch(`${baseUrl}api/job/period/${e.job_id}`, requestOptions)
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          result.forEach(a => {
            this.period.push(a.date_start);
          });
          console.log("result edit", result);
        })
        .catch(error => console.log("error", error));

      console.log("period full time", this.period);
      this.$store.dispatch(
        "calendar/partTimeCalendarSelectedEvent",
        this.period
      );

      this.$store.dispatch("calendar/updateJobAction", e);

      this.$router.push("/postjob/edit");
    },
    async editJob_Full(e) {
      console.log("edit", e);
      var requestOptions = {
        method: "GET",
        redirect: "follow"
      };

      await fetch(`${baseUrl}api/job/period/${e.job_id}`, requestOptions)
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          result.forEach(a => {
            this.period.push(a.date_start);
          });
          console.log("result edit", result);
        })
        .catch(error => console.log("error", error));

      console.log("period full time", this.period);
      this.$store.dispatch("calendar/fullTimeCalendarAllDate", this.period);

      this.$store.dispatch("calendar/updateJobAction", e);

      this.$router.push("/postjob/edit");
    },
    async get_em_select() {
      var requestOptions = {
        method: "GET",
        redirect: "follow"
      };

      await fetch(
        `${baseUrl}api/dealjob/company/${localStorage.idUser}`,

        requestOptions
      )
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          this.result = result;
          console.log("employee will select job", result);
          this.$store.dispatch("statusClassified", this.result);

      
        })
        .catch(error => console.log("error", error));
    }
  },
  created() {
    // localStorage.idUser = 2;
    init(liffid.managejob);

    // localStorage.idLine = "U9ef47654bbac4240417f700d90ba5f84";

    // window.reload();
    console.log(localStorage.idUser);

    console.log("created check", this.getAnnounce);
  },
  mounted() {
    this.get_data_user();
    this.get_em_select();
  },
  updated() {
    console.log("period parttime show", this.getJob);
    console.log("updated check", this.getAnnounce);

    // console.log("period parttime show", this.getPeriod);
    console.log("invisible", this.invisible_period);

    this.check_getJob();

    // this.get_job();

    // console.log("level display", typeof this.getJob[0].level);
  },

  computed: {
    back_up: function() {
      this.getJob.forEach(o => {
        if (o.period !== undefined) {
          this.invisible_period.push(o.period);
        }
        console.log("invisible", this.invisible_period);
      });
      return this.invisible_period;
    },
    convert: function() {
      if (this.getJob[0]) {
        return true;
      } else {
        return false;
      }
    },

    ...mapGetters({
      getJob: "getjob",
      getAnnounce: "getAnnounce",
      company_id: "getCompanyId",
      sub_com_id: "getSubCompanyId",
      address_com_id: "getAddressComId",
      getPeriod: "getPeriod"
    })
  }
};
</script>

<style>
.subject {
  width: 50%;
  color: #8a296d;
  background-color: white;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  box-shadow: 0 -7px 5px -4px rgba(0, 0, 0, 0.3);
}

.text_subject {
  color: #8a296d;
  margin-top: 3% !important;
}
.text_sub_subject {
  color: #ffffff;
  margin-top: 3% !important;
}
.sub_subject {
  width: 50%;
  color: white;
  background-color: #b77fa6;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.text_des {
  font-size: 12px !important;
  text-align: start;
}
@media only screen and (min-device-height: 568px) {
  .postJob {
    height: 300px;
    text-align: center;
  }
}
@media only screen and (min-device-height: 630px) {
  .postJob {
    height: 370px;
    text-align: center;
  }
}
@media only screen and(min-height: 800px) {
  .postJob {
    height: 450px;
    text-align: center;
  }
}
@media only screen and(min-height:940px) and (max-height: 1000px) {
  .postJob {
    height: 600px;
    text-align: center;
  }
}
.modal {
  position: fixed;

  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  outline: 0;
}
.modal-footer {
  display: flex;
  justify-content: center;
}
</style>

<style scoped>
@media only screen and (max-device-width: 320px) {
  .background1 {
    top: -16%;
  }
}
</style>
