<template>
  <div class="container">
    <BackGround />
    <form @submit.prevent="save_data">
      <p>ตำแหน่งงาน</p>
      <div style="margin-top: 2%; display: flex; margin-bottom: 2%;">
        <select
          class="form-control"
          style="margin-top: 5% ;"
          v-model="job.position"
          required
          @change="change_level()"
        >
          <!-- ------------ตำแหน่งที่ต้องการสมัคร---------- -->
          <option disabled>ตำแหน่งที่ต้องการสมัคร</option>
          <option value="1">Level 1 : สัตวแพทย์รุ่นใหม่</option>
          <option value="2">Level 2 : สัตวแพทย์มีประสบการณ์</option>
          <option value="3">Level 3 : สัตวแพทย์ Advance</option>
          <option value="4">Level 4 : สัตวแพทย์จบเฉพาะทาง</option>
          <option value="5">ผู้ช่วยสัตวแพทย์</option>
          <option value="6">พนักงานตัดขน</option>
        </select>

        <button type="button" class="btn detail" style="margin-top: 5%;" @click="go_detail()">
          <img src="../image/group_8526.svg" alt />
        </button>
      </div>
      <select
        class="form-control"
        style="margin-top: 2%"
        v-model="job.workType"
        @change="setPrice_2()"
        v-if="isPetShop"
      >
        <option selected disabled>ประเภทงาน</option>
        <option value="Part time">Part Time</option>
        <option value="Full time 5">Full Time</option>
        <!-- <option value="Full time 7">Full Time(7วัน)</option> -->
      </select>
      <select
        class="form-control"
        style="margin-top: 2%"
        v-model="job.workType"
        @change="setPrice()"
        v-else
      >
        <option selected disabled>ประเภทงาน</option>
        <option value="Full time">Full Time</option>
        <option value="Part time">Part Time</option>
      </select>
      <div class="body_input">
        <!-- ---------------สถานที่ปฏิบัติงาน----------------------- -->
        <select
          class="form-control"
          id="sel4"
          style="margin-top: 5px;"
          v-model="job.locateWork"
          @change="address_com()"
          required
        >
          <option v-for="(item, index) in name_company" :key="index">
            {{
            item
            }}
          </option>
        </select>
        <div v-if="show_address">
          <!-- รหัสไปรษณีย์ -->
          <input
            type="text"
            class="form-control"
            id="usr"
            placeholder="เลขที่อยู่ / ถนน / ซอย"
            style="margin-top:5px ;"
            v-model="job.no"
            required
            disabled
          />
          <input
            type="text"
            class="form-control"
            id="usr"
            placeholder="จุดสังเกตุ เช่น มีร้านตัดผมหน้าปากซอย"
            style="margin-top:5px ;"
            v-model="job.sign"
            required
            disabled
          />

          <input
            type="text"
            class="form-control"
            id="usr"
            placeholder="รหัสไปรษณีย์"
            style="margin-top:5px ;"
            v-model="job.postcode"
            sa
            required
            disabled
          />

          <!-- จังหวัด -->

          <select
            class="form-control"
            style="margin-top: 2%"
            v-model="job.province"
            required
            disabled
          >
            <option selected disabled>จังหวัด</option>
            <option value="กรุงเทพมหานคร">กรุงเทพมหานคร</option>
            <option value="กระบี่">กระบี่</option>
            <option value="กาญจนบุรี">กาญจนบุรี</option>
            <option value="กาฬสินธุ์">กาฬสินธุ์</option>
            <option value="กำแพงเพชร">กำแพงเพชร</option>
            <option value="ขอนแก่น">ขอนแก่น</option>
            <option value="จันทบุรี">จันทบุรี</option>
            <option value="ฉะเชิงเทรา">ฉะเชิงเทรา</option>
            <option value="ชัยนาท">ชัยนาท</option>
            <option value="ชัยภูมิ">ชัยภูมิ</option>
            <option value="ชุมพร">ชุมพร</option>
            <option value="ชลบุรี">ชลบุรี</option>
            <option value="เชียงใหม่">เชียงใหม่</option>
            <option value="เชียงราย">เชียงราย</option>
            <option value="ตรัง">ตรัง</option>
            <option value="ตราด">ตราด</option>
            <option value="ตาก">ตาก</option>
            <option value="นครนายก">นครนายก</option>
            <option value="นครปฐม">นครปฐม</option>
            <option value="นครพนม">นครพนม</option>
            <option value="นครราชสีมา">นครราชสีมา</option>
            <option value="นครศรีธรรมราช">นครศรีธรรมราช</option>
            <option value="นครสวรรค์">นครสวรรค์</option>
            <option value="นราธิวาส">นราธิวาส</option>
            <option value="น่าน">น่าน</option>
            <option value="นนทบุรี">นนทบุรี</option>
            <option value="บึงกาฬ">บึงกาฬ</option>
            <option value="บุรีรัมย์">บุรีรัมย์</option>
            <option value="ประจวบคีรีขันธ์">ประจวบคีรีขันธ์</option>
            <option value="ปทุมธานี">ปทุมธานี</option>
            <option value="ปราจีนบุรี">ปราจีนบุรี</option>
            <option value="ปัตตานี">ปัตตานี</option>
            <option value="พะเยา">พะเยา</option>
            <option value="พระนครศรีอยุธยา">พระนครศรีอยุธยา</option>
            <option value="พังงา">พังงา</option>
            <option value="พิจิตร">พิจิตร</option>
            <option value="พิษณุโลก">พิษณุโลก</option>
            <option value="เพชรบุรี">เพชรบุรี</option>
            <option value="เพชรบูรณ์">เพชรบูรณ์</option>
            <option value="แพร่">แพร่</option>
            <option value="พัทลุง">พัทลุง</option>
            <option value="ภูเก็ต">ภูเก็ต</option>
            <option value="มหาสารคาม">มหาสารคาม</option>
            <option value="มุกดาหาร">มุกดาหาร</option>
            <option value="แม่ฮ่องสอน">แม่ฮ่องสอน</option>
            <option value="ยโสธร">ยโสธร</option>
            <option value="ยะลา">ยะลา</option>
            <option value="ร้อยเอ็ด">ร้อยเอ็ด</option>
            <option value="ระนอง">ระนอง</option>
            <option value="ระยอง">ระยอง</option>
            <option value="ราชบุรี">ราชบุรี</option>
            <option value="ลพบุรี">ลพบุรี</option>
            <option value="ลำปาง">ลำปาง</option>
            <option value="ลำพูน">ลำพูน</option>
            <option value="เลย">เลย</option>
            <option value="ศรีสะเกษ">ศรีสะเกษ</option>
            <option value="สกลนคร">สกลนคร</option>
            <option value="สงขลา">สงขลา</option>
            <option value="สมุทรสาคร">สมุทรสาคร</option>
            <option value="สมุทรปราการ">สมุทรปราการ</option>
            <option value="สมุทรสงคราม">สมุทรสงคราม</option>
            <option value="สระแก้ว">สระแก้ว</option>
            <option value="สระบุรี">สระบุรี</option>
            <option value="สิงห์บุรี">สิงห์บุรี</option>
            <option value="สุโขทัย">สุโขทัย</option>
            <option value="สุพรรณบุรี">สุพรรณบุรี</option>
            <option value="สุราษฎร์ธานี">สุราษฎร์ธานี</option>
            <option value="สุรินทร์">สุรินทร์</option>
            <option value="สตูล">สตูล</option>
            <option value="หนองคาย">หนองคาย</option>
            <option value="หนองบัวลำภู">หนองบัวลำภู</option>
            <option value="อำนาจเจริญ">อำนาจเจริญ</option>
            <option value="อุดรธานี">อุดรธานี</option>
            <option value="อุตรดิตถ์">อุตรดิตถ์</option>
            <option value="อุทัยธานี">อุทัยธานี</option>
            <option value="อุบลราชธานี">อุบลราชธานี</option>
            <option value="อ่างทอง">อ่างทอง</option>
            <option value="อื่นๆ">อื่นๆ</option>
          </select>

          <!-- อำเภอ -->
          <input
            type="text"
            class="form-control"
            placeholder="อำเภอ"
            style="margin-top: 2%"
            v-model="job.district"
            required
            disabled
          />

          <!-- ตำบล -->
          <input
            type="text"
            class="form-control"
            placeholder="ตำบล"
            style="margin-top: 2%"
            v-model="job.zone"
            required
            disabled
          />
        </div>
      </div>
      <p>วันที่ปฏิบัติงาน</p>

      <div style="w-100 " v-if="isPetShop">
        <div v-if="parttime_2">
          <PartTimeCalendar />
        </div>
        <div v-if="job.workType == 'Full time 5'">
          <FullTimeCalendarPet />
        </div>

        <div v-if="job.workType == 'Full time 7'">
          <FullTimeCalendarSeven style="display:none" />
        </div>
      </div>
      <div style="w-100 " v-else>
        <div v-if="parttime">
          <PartTimeCalendar />
        </div>

        <div v-else>
          <FullTimeCalendar />
        </div>
      </div>

      <div class="body_input">
        <p style="text-align: start;">เวลาการทำงาน</p>
        <div style="w-100 ">
          <div>
            <PopupTimePicker />
          </div>
        </div>
      </div>
      <div class="body_input">
        <p>รายละเอียดงาน</p>
        <textarea
          class="form-control"
          cols="10"
          rows="5"
          v-model="job.note"
          placeholder="อธิบายเพิ่มเติม"
          style="margin-top:2%"
        ></textarea>
      </div>

      <!-- <div class="body_input">
        <p>งานล่วงเวลา (ถ้ามี)</p>
        
        <div>
          <div style="display:flex;margin-top:2%;">
            <div style="width:35%;margin-top:2%;">
              <input
                type="checkbox"
                class="form-control-md"
                style=" margin-right:5%"
                id="special_cost"
                v-model="special.speacial_check"
              />
              <label for="special_cost" style="color:black">ค่าเฉพาะทาง</label>
            </div>

            <div style=" display:flex">
              <input
                type="number"
                step="0.01"
                class="form-control"
                style="text-align:center"
                @change="setPer()"
                v-model="special.special_percent"
              />
              <br />

              <p class="bath">%</p>
            </div>
          </div>
          <div style="display:flex;margin-top:2%;">
            <div style="width:35%;margin-top:2%;"></div>

            <div style=" display:flex">
              <input
                type="number"
                class="form-control"
                style="text-align:center"
                @change="setCost()"
                v-model="special.special_cost"
              />
              <br />

              <p class="bath">บาท</p>
            </div>
          </div>
        </div>

       
        <hr />
        <div>
          <div style="display:flex;margin-top:2%;">
            <div style="width:35%;margin-top:2%;">
              <input
                type="checkbox"
                class="form-control-md"
                style=" margin-right:5%"
                id="special_cost"
                v-model="ot.ot_check"
              />
              <label for="special_cost" style="color:black">OT</label>
            </div>

            <div style=" display:flex">
              <input
                type="number"
                step="0.01"
                class="form-control"
                style="text-align:center"
                @change="setPer()"
                v-model="ot.ot_percent"
              />
              <br />

              <p class="bath">%</p>
            </div>
          </div>
          <div style="display:flex;margin-top:2%;">
            <div style="width:35%;margin-top:2%;"></div>

            <div style=" display:flex">
              <input
                type="number"
                class="form-control"
                style="text-align:center"
                @change="setCost()"
                v-model="ot.ot_cost"
              />
              <br />

              <p class="bath">บาท</p>
            </div>
          </div>
        </div>
  
        <hr />
        <div>
          <div style="display:flex;margin-top:2%;">
            <div style="width:35%;margin-top:2%;">
              <input
                type="checkbox"
                class="form-control-md"
                style=" margin-right:5%;text-align:center"
                id="special_cost"
                v-model="other.other_check"
              />
              <label for="special_cost" style="color:black">อื่นๆ ระบุ</label>
            </div>

            <div style=" display:flex">
              <input
                type="text"
                class="form-control"
                placeholder="เช่น ค่าเดินทาง"
                style="text-align:center"
                v-model="other.other_note"
              />
              <br />

              <p class="bath" style="color:white">%</p>
            </div>
          </div>
          <div style="display:flex;margin-top:2%;">
            <div style="width:35%;margin-top:2%;">
              <p style="margin-left: 15%;">จำนวน</p>
            </div>

            <div style=" display:flex">
              <input
                type="text"
                style="text-align:center"
                class="form-control"
                v-model="other.other_cost"
                @change="setCost()"
              />

              <p class="bath">บาท</p>
            </div>
          </div>
        </div>
      </div>-->
      <div class="body_input">
        <p style="text-align: start;">จำนวนบุคลากร</p>
        <div style="display:flex; justify-content:center">
          <button
            type="button"
            id="del_but"
            class="button_count"
            @click="del"
            v-if="this.employee == 0"
            :disabled="true"
            style="background:grey"
          >-</button>

          <button type="button" id="del_but" class="button_count" @click="del" v-else>-</button>
          <label class="form-control number_toggle">{{ employee }}</label>
          <button type="button" class="button_count" @click="add">+</button>
        </div>
      </div>

      <div class="body_input">
        <div class="p-1 d-flex mb-3"></div>
        <div style="display: flex;width:100%">
          <div class="col-8 p-0" v-if="parttime">
            <p class="mt-0" style="text-align: start;">อัตราค่าบริการ(บาท : วัน : คน)</p>
          </div>
          <div class="col-8 p-0" v-else>
            <p class="mt-0" style="text-align: start;">อัตราค่าบริการ (บาท : เดือน : คน)</p>
          </div>

          <div class="col-4 p-0" style="text-align:end;">
            <b style="color: red;margin-top: 2% !important;font-size:14px">
              ราคาเริ่มต้น
              <span style="margin-left:2%">
                {{
                calPerson.toLocaleString()
                }}
              </span>
            </b>
          </div>
        </div>

        <p style="color:#a05489; text-align: start;">
          <u @click="go_cost()">อัตราค่าบริการบุคลากรแต่ละแบบ</u>
        </p>

        <div style="margin-top: 30px;">
          <div class="d-flex">
            <div class="col-6 p-0 pl-5">
              <p>ราคารวม</p>
            </div>
            <div class="col-6 p-0 text-right pr-5">
              <p>
                {{ calCost.toLocaleString() }}
                <span style="margin-left:8%;">บาท</span>
              </p>
            </div>
          </div>
          <!-- <div v-if="showAdd">
            <div class="d-flex">
              <div class="col-6 p-0 pl-5">
                <p>ค่าเฉพาะทาง</p>
              </div>
              <div class="col-6 p-0 text-right pr-5">
                <p>
                  {{ (special.special_cost * employee).toLocaleString() }}
                  <span
                    style="margin-left:8%;"
                  >บาท</span>
                </p>
              </div>
            </div>
            <div class="d-flex">
              <div class="col-6 p-0 pl-5">
                <p>ค่า OT</p>
              </div>
              <div class="col-6 p-0 text-right pr-5">
                <p>
                  {{ (ot.ot_cost * employee).toLocaleString() }}
                  <span style="margin-left:8%;">บาท</span>
                </p>
              </div>
            </div>
            <div class="d-flex">
              <div class="col-6 p-0 pl-5">
                <p>ค่าอื่นๆ</p>
              </div>
              <div class="col-6 p-0 text-right pr-5">
                <p>
                  {{ (other.other_cost * employee).toLocaleString() }}
                  <span
                    style="margin-left:8%;"
                  >บาท</span>
                </p>
              </div>
            </div>
          </div>

          <div v-else>
            <div class="d-flex">
              <div class="col-6 p-0 pl-5">
                <p>ค่าเฉพาะทาง</p>
              </div>
              <div class="col-6 p-0 text-right pr-5">
                <p>
                  0
                  <span style="margin-left:8%;">บาท</span>
                </p>
              </div>
            </div>
            <div class="d-flex">
              <div class="col-6 p-0 pl-5">
                <p>ค่า OT</p>
              </div>
              <div class="col-6 p-0 text-right pr-5">
                <p>
                  0
                  <span style="margin-left:8%;">บาท</span>
                </p>
              </div>
            </div>
            <div class="d-flex">
              <div class="col-6 p-0 pl-5">
                <p>ค่าอื่นๆ</p>
              </div>
              <div class="col-6 p-0 text-right pr-5">
                <p>
                  0
                  <span style="margin-left:8%;">บาท</span>
                </p>
              </div>
            </div>
          </div>-->
          <div class="d-flex">
            <div class="col-6 p-0 pl-5">
              <p>ภาษี 7%</p>
            </div>
            <div class="col-6 p-0 text-right pr-5">
              <p>
                {{ calVat.toLocaleString() }}
                <span style="margin-left:8%;">บาท</span>
              </p>
            </div>
          </div>
          <div class="d-flex">
            <div class="p-0 text-center ml-5 mr-5 w-100">
              <hr style="background:#d9d9d9" />
            </div>
          </div>
          <div class="d-flex">
            <div class="col-6 p-0 pl-5">
              <p>ราคาสุทธิ</p>
            </div>
            <div class="col-6 p-0 text-right pr-5">
              <p>
                {{ calSum.toLocaleString() }}
                <span style="margin-left:8%;">บาท</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      <GreyPage />
      <div style="height:100px"></div>
      <div class="body_button">
        <button class="button_back" @click="go_managejob()" type="button" style="width: 30%;">
          <img src="../image/left_arrow_2.svg" alt style="float: left;" />
          กลับ
        </button>
        <button
          class="button_save"
          type="submit"
          style="width: 70%;"
          id="next"
          :disabled="disabled"
        >บันทึก</button>
      </div>
    </form>
  </div>
</template>
<script>
import BackGround from "../components/Background.vue";
import PopupTimePicker from "@/components/PopUpTimePickers.vue";
// import moment from "moment";

// import axios from "axios";
import { mapGetters } from "vuex";

import PartTimeCalendar from "@/components/PartTimeCalendar.vue";
import FullTimeCalendar from "@/components/FullTimeCalendar.vue";
import FullTimeCalendarPet from "@/components/FullTimeCalendarPet.vue";
import FullTimeCalendarSeven from "@/components/FullTimeCalendarSeven.vue";
import { baseUrl } from "../util/backend";
// import { vconsole } from "../util/index";
import GreyPage from "../components/GreyPage.vue";
import "vue2-timepicker/dist/VueTimepicker.css";
localStorage.announce = [];

export default {
  name: "PostJob",
  metaInfo: {
    title: "ลงประกาศงาน"
  },
  data() {
    return {
      employee: 0,
      cost: 0,
      tax: 0,
      sum: 0,
      start: null,
      end: null,
      job_id: 0,
      parttime: true,
      locale_cost: null,
      name_company: ["สถานที่ปฏิบัติงาน"],
      show_address: false,
      select_level: 0,
      select_position: null,
      disabled: false,
      job: {
        position: null,
        workType: null,
        locateWork: null,
        no: null,
        sign: null,
        postcode: null,
        province: "จังหวัด",
        district: null,
        zone: null,
        workDay1: null,
        workDay2: null,
        start: this.start,
        end: this.end,
        note: null,
        weflare: null,
        employee: this.employee
      },

      special: {
        special_check: false,
        special_percent: 0,
        special_cost: 0
      },
      ot: {
        ot_check: false,
        ot_percent: 0,
        ot_cost: 0
      },
      other: {
        other_check: false,

        other_note: null,
        other_cost: 0
      },
      time1: null,
      time2: null,
      price: {
        pricing: null,
        pricing_person: null,
        pricing_vat: null
      },
      isUpdate: false,
      put: false,
      period: [],
      showAdd: true,
      isPetShop: false,
      parttime_2: true,
      type: null
    };
  },
  methods: {
    change_level() {
      this.employee = 0;

      console.log("amount", this.employee);

      if (this.job.position == "1") {
        this.select_level = "1";
        this.select_position = "สัตวแพทย์รุ่นใหม่";
      } else if (this.job.position == "2") {
        this.select_level = "2";
        this.select_position = "สัตวแพทย์มีประสบการณ์";
      } else if (this.job.position == "3") {
        this.select_level = "3";
        this.select_position = "สัตวแพทย์ Advance";
      } else if (this.job.position == "4") {
        this.select_level = "4";
        this.select_position = "สัตวแพทย์จบเฉพาะทาง";
      } else if (this.job.position == "5") {
        this.select_level = "5";
        this.select_position = "ผู้ช่วยสัตวแพทย์";
      } else {
        this.select_level = "6";
        this.select_position = "พนักงานตัดขน";
      }
      if (!this.isPetShop) {
        this.setPrice();
      } else {
        this.setPrice_2();
      }

      console.log("select level", this.select_level);
      console.log("select position", this.select_position);
    },
    address_com() {
      this.show_address = true;
    },

    add() {
      this.employee++;
      if (this.employee <= 0) {
        if (!this.isPetShop) {
          this.setPrice();
        } else {
          this.setPrice_2();
        }
      } else {
        if (!this.isPetShop) {
          this.setPrice();
        } else {
          this.setPrice_2();
        }
        this.cost *= this.employee;
        console.log(this.cost);
      }
    },
    go_back() {
      window.history.back();
    },
    del() {
      this.employee--;
      if (this.employee <= 0) {
        if (!this.isPetShop) {
          this.setPrice();
        } else {
          this.setPrice_2();
        }
      } else {
        if (!this.isPetShop) {
          this.setPrice();
        } else {
          this.setPrice_2();
        }
        this.cost *= this.employee;

        console.log(this.cost);
      }
    },
    vat() {
      // this.tax = (this.cost * 7) / 100;
      const vat = parseFloat(this.cost);
      console.log("int:cost", vat);

      this.tax = (vat * 7) / 100;
      const all = vat + parseFloat(this.tax);
      this.sum = all;
      // this.sum = this.cost + this.tax;
    },
    setCost() {
      this.setSpecPer();
      this.setOtPer();
    },
    setPer() {
      this.setSpecCost();
      this.setOtCost();
      console.log(this.calSpecCost);
    },
    setSpecCost() {
      this.special.special_cost = this.calSpecCost;
    },
    setOtCost() {
      this.ot.ot_cost = this.calOtCost;
    },

    setSpecPer() {
      this.special.special_percent = this.calSpecPer;
    },
    setOtPer() {
      this.ot.ot_percent = this.calOtPer;
    },
    setPrice() {
      console.log("set price", this.job.position);
      // this.employee = 0;
      if (this.job.position === "1") {
        if (this.job.workType === "Part time") {
          this.cost = 2000;
          this.locale_cost = this.cost.toLocaleString();

          this.parttime = true;
        }
        if (this.job.workType === "Full time") {
          this.cost = 35000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime = false;
        }
      } else if (this.job.position === "2") {
        if (this.job.workType === "Part time") {
          this.cost = 2200;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime = true;
        }
        if (this.job.workType === "Full time") {
          this.cost = 39000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime = false;
        }
      } else if (this.job.position === "3") {
        if (this.job.workType === "Part time") {
          this.cost = 2800;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime = true;
        }
        if (this.job.workType === "Full time") {
          this.cost = 44000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime = false;
        }
      } else if (this.job.position === "4") {
        if (this.job.workType === "Part time") {
          this.cost = 4000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime = true;
        }
        if (this.job.workType === "Full time") {
          this.cost = 50000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime = false;
        }
      } else if (this.job.position === "5") {
        if (this.job.workType === "Part time") {
          this.cost = 1000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime = true;
        }
        if (this.job.workType === "Full time") {
          this.cost = 16000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime = false;
        }
      } else if (this.job.position === "6") {
        if (this.job.workType === "Part time") {
          this.cost = 1300;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime = true;
        }
        if (this.job.workType === "Full time") {
          this.cost = 18000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime = false;
        }
      } else {
        if (this.job.workType === "Part time") {
          this.parttime = true;
        } else {
          this.parttime = false;
        }
      }
    },
    setPrice_2() {
      console.log("set price", this.job.position);
      console.log("ok");
      // this.employee = 0;

      if (this.job.position === "1") {
        if (this.job.workType === "Part time") {
          this.cost = 2000;
          this.locale_cost = this.cost.toLocaleString();

          this.parttime_2 = true;
        }
        if (this.job.workType === "Full time 7") {
          this.cost = 55000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime_2 = false;
        } else if (this.job.workType === "Full time 5") {
          this.cost = 35000;
          this.parttime_2 = false;
          this.locale_cost = this.cost.toLocaleString();
        }
      } else if (this.job.position === "2") {
        if (this.job.workType === "Part time") {
          this.cost = 2000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime_2 = true;
        }
        if (this.job.workType === "Full time 7") {
          this.cost = 55000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime_2 = false;
        } else if (this.job.workType === "Full time 5") {
          this.cost = 35000;
          this.parttime_2 = false;
          this.locale_cost = this.cost.toLocaleString();
        }
      } else if (this.job.position === "3") {
        if (this.job.workType === "Part time") {
          this.cost = 2000;
          this.locale_cost = this.cost.toLocaleString();

          this.parttime_2 = true;
        }
        if (this.job.workType === "Full time 7") {
          this.cost = 55000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime_2 = false;
        } else if (this.job.workType === "Full time 5") {
          this.cost = 35000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime_2 = false;
        }
      } else if (this.job.position === "4") {
        if (this.job.workType === "Part time") {
          this.cost = 2000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime_2 = true;
        }
        if (this.job.workType === "Full time 7") {
          this.cost = 55000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime_2 = false;
        } else if (this.job.workType === "Full time 5") {
          this.cost = 35000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime_2 = false;
        }
      } else if (this.job.position === "5") {
        if (this.job.workType === "Part time") {
          this.cost = 1000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime_2 = true;
        }
        if (this.job.workType === "Full time 7") {
          this.cost = 16000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime_2 = false;
        } else {
          this.cost = 16000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime_2 = false;
        }
      } else if (this.job.position === "6") {
        if (this.job.workType === "Part time") {
          this.cost = 1300;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime_2 = true;
        }
        if (this.job.workType === "Full time 7") {
          this.cost = 18000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime_2 = false;
        } else {
          this.cost = 18000;
          this.locale_cost = this.cost.toLocaleString();
          this.parttime_2 = false;
        }
      } else {
        console.log("wdfff");

        if (this.job.workType === "Part time") {
          this.parttime_2 = true;
        } else {
          this.parttime_2 = false;
        }
      }
    },
    showAddon() {
      console.log(this.showAdd);

      this.showAdd = true;
    },

    go_managejob() {
      this.$router.push("/managejob");
    },
    go_detail() {
      this.$router.push("/detail");
    },
    go_cost() {
      this.$router.push("/costdetail");
    },
    calSpecial: function() {
      this.welfare =
        parseFloat(this.special.special_cost) +
        parseFloat(this.ot.ot_cost) +
        parseFloat(this.other.other_cost);
      console.log(this.welfare);
      this.cost += parseFloat(this.welfare);
      console.log(this.cost);
    },
    save_data(e) {
      this.set_period();
      e.preventDefault();
      this.disabled = true;

      console.log("cost save", this.cost);
      console.log("em save", this.employee);
      console.log(this.calVat);
      let person = parseFloat(this.cost) / this.employee;

      console.log("person cal ", person);
      console.log("noteeeee", this.job.note);

      if (this.other.other_note === null) {
        this.other.other_note = "-";
      }
      if (
        this.job.note === null ||
        this.job.note === "" ||
        this.job.note === undefined
      ) {
        this.job.note = "-";
      }
      (this.price = {
        pricing: parseFloat(this.calCost),
        pricing_person: parseFloat(person),
        pricing_vat: parseFloat(this.calSum)
      }),
        console.log("price", this.price);
      if (this.employee >= 0) {
        if (this.timeTrack.tEnd && this.timeTrack.tStart) {
          if (this.period_array[0]) {
            if (this.job.workType !== "Part time") {
              if (this.period_array.length >= 20) {
                if (this.isPetShop && this.job.workType == "Full time 7") {
                  if (this.put) {
                    this.put_job();
                  } else {
                    // console.log("777777");

                    this.post_period_seven();
                  }
                } else {
                  if (this.put) {
                    this.put_job();
                  } else {
                    // console.log("555555");
                    this.post_period();
                  }
                }
              } else {
                alert("กรุณาเลือกวันปฏิบัติงานมากกว่า 20 วันขึ้นไป");
              }
            } else {
              if (this.put) {
                this.put_job();
              } else {
                this.post_period();
              }
            }
          } else {
            alert("กรุณาเลือกวันปฏิบัติงาน");
          }
        } else {
          alert("กรุณาเลือกเวลาการทำงาน");
        }
      } else {
        alert("กรุณาระบุจำนวนบุคลากร");
      }
    },
    async get_data_user() {
      var myHeaders = new Headers();
      myHeaders.append(
        "Cookie",
        "__cfduid=de4d85e74687b775ae022c46e0913dde41587025756"
      );

      var requestOptions = {
        method: "GET",
        headers: myHeaders,
        redirect: "follow"
      };
      await fetch(
        `${baseUrl}api/company/` + `${localStorage.idLine}`,

        requestOptions
      )
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          console.log("data user", result);
          if (result.position == "Pet shop") {
            this.isPetShop = true;
            this.$store.commit("isPetShopMutation", this.isPetShop);
          }
          console.log("pet shop", this.isPetShop);

          if (result != null) {
            this.$store.dispatch("addSubCompanyId", result.sub_com_id);
            this.$store.dispatch("addCompanyId", result.company_id);
            this.get_list_sub();
          } else {
            console.log("no");
          }
        })
        .catch(error => console.log("error", error));
    },
    async get_list_sub() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      // var raw = JSON.stringify({
      //   company_id: this.company_id,
      //   sub_com_id: this.sub_com_id,
      // });

      var requestOptions = {
        method: "GET",
        headers: myHeaders,

        redirect: "follow"
      };

      await fetch(
        `${baseUrl}api/address/${this.company_id}/${this.sub_com_id}`,

        requestOptions
      )
        .then(response => {
          console.log(response);
          return response.text();
        })
        .then(result => {
          result = JSON.parse(result);

          this.job = {
            position: "ตำแหน่งที่ต้องการสมัคร",
            workType: "ประเภทงาน",
            locateWork: "สถานที่ปฏิบัติงาน",
            no: result.no,
            sign: result.sign,
            postcode: result.postcode,
            province: result.province,
            district: result.district,
            zone: result.zone
          };
          this.$store.dispatch("addressCompanyId", result.address_com_id);
          this.name_company.push(result.company_name);
          console.log(this.name_company);

          console.log(result);
        })
        .catch(error => console.log("error", error));
    },
    post_job() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      console.log("special", this.special.speacial_cost);
      console.log("ot", this.ot.ot_cost);
      if (this.job.workType === "Part time") {
        this.type = "Part time";
      } else {
        this.type = "Full time";
        console.log("type", this.type);
      }

      var raw = JSON.stringify({
        job_detail: {
          company_id: this.company_id,
          sub_com_id: this.sub_com_id,
          address_com_id: this.address_com_id,
          title: "-",
          description: this.job.note,
          position: this.select_position,
          level: parseInt(this.select_level),
          type: this.type,
          amount: this.employee
        },
        add_on: {
          specialized: this.special.special_cost,
          ot: this.ot.ot_cost,
          other: this.other.other_note,
          other_price: this.other.other_cost
        },
        time: {
          date_start: this.start_end.first,
          date_end: this.start_end.last,
          time_start: this.timeTrack.tStart,
          time_end: this.timeTrack.tEnd
        },
        price: this.price,
        weekend: false
      });

      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow"
      };

      fetch(`${baseUrl}api/job/create`, requestOptions)
        .then(response => response.text())
        .then(result => {
          console.log(result);
          result = JSON.parse(result);
          result ? this.$router.push("managejob") : alert("ข้อมูลผิดพลาด");
        })
        .catch(error => console.log("error", error));

      console.log(raw);
    },
    post_job_seven() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      console.log("special", this.special.speacial_cost);
      console.log("ot", this.ot.ot_cost);

      var raw = JSON.stringify({
        job_detail: {
          company_id: this.company_id,
          sub_com_id: this.sub_com_id,
          address_com_id: this.address_com_id,
          title: "-",
          description: this.job.note,
          position: this.select_position,
          level: parseInt(this.select_level),
          type: "Full time",
          amount: this.employee
        },
        add_on: {
          specialized: this.special.special_cost,
          ot: this.ot.ot_cost,
          other: this.other.other_note,
          other_price: this.other.other_cost
        },
        time: {
          date_start: this.start_end.first,
          date_end: this.start_end.last,
          time_start: this.timeTrack.tStart,
          time_end: this.timeTrack.tEnd
        },
        price: this.price,
        weekend: true
      });

      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow"
      };

      fetch(`${baseUrl}api/job/create`, requestOptions)
        .then(response => response.text())
        .then(result => {
          console.log(result);
          result = JSON.parse(result);
          result ? this.$router.push("managejob") : alert("ข้อมูลผิดพลาด");
        })
        .catch(error => console.log("error", error));

      console.log(raw);
    },
    put_job() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      console.log("special", this.special.speacial_cost);
      console.log("ot", this.ot.ot_cost);
      // this.set_period();

      var raw = JSON.stringify({
        job_id: this.getUpdateJob.job_id,
        job_detail: {
          company_id: this.company_id,
          sub_com_id: this.sub_com_id,
          address_com_id: this.address_com_id,
          title: "-",
          description: this.job.note,
          position: this.select_position,
          level: parseInt(this.select_level),
          type: this.job.workType,
          amount: this.employee
        },
        add_on: {
          specialized: this.special.special_cost,
          ot: this.ot.ot_cost,
          other: this.other.other_note,
          other_price: this.other.other_cost
        },
        time: {
          date_start: this.start_end.first,
          date_end: this.start_end.last,
          time_start: this.timeTrack.tStart,
          time_end: this.timeTrack.tEnd
        },
        price: this.price
      });

      var requestOptions = {
        method: "PUT",
        headers: myHeaders,
        body: raw,
        redirect: "follow"
      };

      fetch(`${baseUrl}api/job/update`, requestOptions)
        .then(response => response.text())
        .then(result => {
          console.log(result);
          result = JSON.parse(result);
          this.put_period();
          if (result.message === "Update Completed.") {
            this.$router.push("/managejob");
          } else {
            alert("อัพเดตข้อมูลผิดพลาด");
          }
          // this.job_id = result.job.job_id;
          // this.post_period();
          // this.$store.dispatch("addjob", raw);
          // this.$router.push("managejob");
        })
        .catch(error => console.log("error", error));

      console.log(raw);
    },
    set_period() {
      let time = {
        time_start: this.timeTrack.tStart,
        time_end: this.timeTrack.tEnd
      };
      this.period = this.lodash.forEach(this.period_array, function(val) {
        val.time_start = time.time_start;
        val.time_end = time.time_end;
        return val;
      });
    },
    post_period() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var data = JSON.stringify({
        sub_com_id: this.sub_com_id,
        period: this.period
      });
      console.log("period post", data);

      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: data,
        redirect: "follow"
      };

      fetch(`${baseUrl}api/job/period/create`, requestOptions)
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          console.log(result);

          this.post_job();
        })
        .catch(error => console.log("error", error));
    },
    async put_period() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var data = JSON.stringify({
        job_id: this.getUpdateJob.job_id,
        period: this.period
      });

      var requestOptions = {
        method: "PUT",
        headers: myHeaders,
        body: data,
        redirect: "follow"
      };

      console.log("data for update", data);

      await fetch(`${baseUrl}api/job/period/update`, requestOptions)
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          console.log(result);

          // this.$router.push("managejob");
        })
        .catch(error => console.log("error", error));
    },
    post_period_seven() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var data = JSON.stringify({
        sub_com_id: this.sub_com_id,
        period: this.period
      });
      console.log("period post", data);

      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: data,
        redirect: "follow"
      };

      fetch(`${baseUrl}api/job/period/create`, requestOptions)
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          console.log(result);

          this.post_job_seven();
        })
        .catch(error => console.log("error", error));
    }
  },
  computed: {
    calVat: function() {
      let vat =
        ((parseFloat(this.calCost) +
          parseFloat(this.special.special_cost) +
          parseFloat(this.ot.ot_cost) +
          parseFloat(this.other.other_cost)) *
          7) /
        100;
      return vat;
    },
    calSum: function() {
      // let sum = parseFloat(this.calVat) + this.calCost;
      let sum = 0.0;
      sum += parseFloat(this.calVat);
      sum += this.calCost;
      sum +=
        parseFloat(this.special.special_cost) * this.employee +
        parseFloat(this.ot.ot_cost) * this.employee +
        parseFloat(this.other.other_cost) * this.employee;
      console.log(sum);
      console.log(this.calVat);
      console.log(this.calCost);

      return sum;
    },
    calCost: function() {
      let cost = parseFloat(this.cost);
      // console.log("work Type", this.job.workType);

      if (this.job.workType === "Part time") {
        // console.log("cost*5", cost * 5);
        // console.log("part time day", this.partTimeDay.length);

        return parseFloat(cost) * this.partTimeDay.length;
      } else {
        console.log("cost", cost);
        return parseFloat(cost);
      }
    },
    calPerson: function() {
      let person;
      if (this.employee == 0) {
        person = this.cost;
      } else {
        person = parseFloat(this.cost) / this.employee;
      }
      return person;
    },
    calWelfare: function() {
      let welfare =
        parseFloat(this.special.special_cost) +
        parseFloat(this.ot.ot_cost) +
        parseFloat(this.other.other_cost);
      return welfare;
    },
    calSpecPer: function() {
      let spec =
        (parseFloat(this.special.special_cost) / parseFloat(this.cost)) * 100;
      return spec;
    },
    calOtPer: function() {
      let ot = (parseFloat(this.ot.ot_cost) / parseFloat(this.cost)) * 100;
      return ot;
    },
    calSpecCost: function() {
      let spec =
        (parseFloat(this.special.special_percent) / 100) *
        parseFloat(this.cost);
      return spec;
    },
    calOtCost: function() {
      let ot = (parseFloat(this.ot.ot_percent) / 100) * parseFloat(this.cost);
      return ot;
    },

    SpecialPaid: function() {
      return this.cost + parseFloat(this.special.special_cost) * this.employee;
    },

    ...mapGetters({
      timeTrack: "calendar/getPostJobTimer",
      company_id: "getCompanyId",
      sub_com_id: "getSubCompanyId",
      address_com_id: "getAddressComId",
      partTimeDay: "calendar/getPartTimeDaySelected",
      period_array: "calendar/getPeriodArr",
      start_end: "calendar/getStartEnd",
      getUpdateJob: "calendar/getUpdateJob"
    })
  },

  components: {
    BackGround,
    GreyPage,
    FullTimeCalendar,
    PartTimeCalendar,
    FullTimeCalendarPet,
    FullTimeCalendarSeven,
    PopupTimePicker
  },
  created() {
    // localStorage.idUser = 1;
    // vconsole();

    if (this.$route.params.path !== "edit") {
      this.get_data_user();
    } else {
      console.log("for update", this.getUpdateJob);

      this.get_data_user();
      this.isUpdate = true;
      console.log("for update", this.isUpdate);
    }
    //  this.getUpdateJob.level? this.isUpdate = true:this.isUpdate = false
  },
  updated() {
    // console.log("get update job", this.getUpdateJob);

    if (this.isUpdate) {
      console.log("true laew mai change");
      console.log("get update job", this.getUpdateJob);

      this.job.position = `${this.getUpdateJob.level}`;
      // this.job.position = `2`;
      this.select_level = this.getUpdateJob.level;
      this.show_address = true;
      this.select_position = this.getUpdateJob.position;
      this.job.workType = this.getUpdateJob.type;
      this.job.locateWork = this.name_company[1];
      this.job.note = this.getUpdateJob.description;
      this.employee = this.getUpdateJob.amount;
      this.job.position = `${this.getUpdateJob.level}`;
      this.put = true;

      let timeKeeper = {
        tStart: this.getUpdateJob.date_time_job.time_start,
        tEnd: this.getUpdateJob.date_time_job.time_end
      };
      // if (this.isPetShop && this.getUpdateJob.type == "Full time") {
      //   this.getUpdateJob.weekend
      //     ? (this.job.workType = "Full time 7")
      //     : (this.job.workType = "Full time 5");
      // }

      this.$store.dispatch("calendar/timePickerSelectedEvent", timeKeeper);
      if (!this.isPetShop) {
        this.setPrice();
      } else {
        this.setPrice_2();
      }
      console.log("this update in update", this.isUpdate);

      this.cost *= this.employee;
      console.log(this.job.position);
      this.isUpdate = false;
    }

    // console.log("part time", this.period_array);
    // console.log("start_period", this.start_period);
  }
};
</script>

<style scoped>
.button_back img {
  margin-left: 1rem;
  margin-right: -1rem;
}

.v-application--wrap {
  flex: 1 1 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  min-height: 0vh !important;
  max-width: 100%;
  position: relative;
}
.v-application--wrap {
  min-height: 0 !important;
}

@media only screen and (min-device-width: 320px) {
  .grey-page {
    height: 895px !important;
  }
}

@media only screen and (min-device-width: 360px) {
  .grey-page {
    height: 930px !important;
  }
}

@media only screen and (min-device-width: 375px) {
  .grey-page {
    height: 935px !important;
  }
}

@media only screen and (min-device-width: 414px) {
  .grey-page {
    height: 960px !important;
  }
}

@media only screen and (min-device-width: 425px) {
  .grey-page {
    height: 970px !important;
  }
}

@media only screen and (min-device-width: 768px) {
  .grey-page {
    height: 1200px !important;
  }
  .body_input2 {
    height: 410px;
  }
}

@media only screen and (min-device-width: 1024px) {
  .grey-page {
    height: 1330px !important;
  }

  .body_input2 {
    height: 440px;
  }
}
</style>

<style>
.container {
  padding: 12px !important;
}

.detail {
  color: #fff;
  border-radius: 10px;
  background-color: transparent !important;
}
.bath {
  margin-left: 5%;
  margin-top: 5% !important;
}
label {
  font-size: 14px;
}
.number_toggle {
  margin-right: 10%;
  margin-left: 10%;
  width: 30%;
  text-align: center;
  font-size: 22px;
}
.cost {
  margin-left: 20%;
}
.vue__time-picker input.display-time {
  width: 80%;
  color: black;
  height: 2.2em;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1em;
}
.vue__time-picker {
  /* display: inline-block; */
  position: relative;
  font-size: 1em;
  width: 7em;

  vertical-align: middle;
}
.label_form {
  margin-left: 5%;
  color: black;
}
.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: inherit;
  border-style: none !important;
}
</style>
