<template>
  <div class="container">
    <BackGround></BackGround>
    <form @submit="data_correct">
      <div class="form-group pt-0">
        <p>
          ประเภทสถานประกอบการ
          <span class="span_orage">*</span>
        </p>

        <select
          class="form-control"
          id="position"
          v-model="register.position"
          placeholder="ประเภทสถานประกอบการ"
          required
        >
          <option selected disabled>ประเภทสถานประกอบการ</option>
          <option value="โรงพยาบาลสัตว์">โรงพยาบาลสัตว์</option>
          <option value="คลินิก">คลินิก</option>
          <option value="Pet shop">Pet shop</option>
        </select>

        <p>
          ท่านเป็นผู้ประกอบการโรงพยาบาลสัตว์ที่จดทะเบียนในรูปแบบ
          ของบริษัทหรือห้างหุ้นส่วนนิติบุคคลใช่หรือไม่
          <span
            class="span_orage"
          >*</span>
        </p>
        <select class="form-control" v-model="register.company" required>
          <option selected disabled>เลือกคำตอบ</option>
          <option value="true">ใช่</option>
          <option value="false">ไม่ใช่</option>
        </select>
        <p>
          ชื่อสถานประกอบการ
          <span class="span_orage">*</span>
        </p>
        <input
          type="text"
          class="form-control"
          v-model="register.company_name"
          id="companyName"
          placeholder="ชื่อสถานประกอบการ"
          style="margin-bottom: 2%;"
          required
        />

        <p>
          ชื่อ - นามสกุล ผู้ประสานงานหลัก
          <span class="span_orage">*</span>
        </p>
        <!-- ------------ชื่อ-นามสกุล------------- -->
        <div style=" display: flex; margin-bottom: 2%;">
          <select
            class="form-control"
            id="title"
            style=" width: 30%;"
            v-model="register.title"
            required
          >
            <option selected>นาย</option>
            <option>นาง</option>
            <option>นางสาว</option>
            <option>ดร.</option>
          </select>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="ชื่อ-นามสกุล"
            v-model="register.name"
            style="width: 65%; margin-left: 5%;"
            required
          />
        </div>
        <!-- ---------------ประเภทงาน----------------------- -->
        <p>
          อีเมลผู้ประสานงานหลัก
          <span class="span_orage">*</span>
        </p>
        <input
          type="email"
          class="form-control"
          v-model="register.email"
          id="email"
          placeholder="อีเมล"
          style="margin-bottom: 2%;"
          required
        />
        <p>
          เบอร์โทร
          <span class="span_orage">*</span>
        </p>
        <input
          type="tel"
          pattern="\d*"
          maxlength="10"
          class="form-control"
          id="phone"
          v-model="register.phone"
          placeholder="เบอร์โทร "
          style
          required
        />
      </div>

      <GreyPage></GreyPage>
      <div class="body_button">
        <button class="button_back" style="width: 30%;" @click="go_back()">
          <img src="../image/left_arrow_2.svg" alt style="float: left;" />
          กลับ
        </button>

        <button class="button_save" style="width: 70%;" id="nextButton" :disabled="disabled">
          <!-- <button class="button_save" style="width: 70%;" onclick="window.location.href='https://liff.line.me/1654040818-zeX8nrem'" v-on:change="data_correct"> -->
          สมัครสมาชิก
        </button>
      </div>
    </form>
  </div>
</template>
<script>
import BackGround from "../components/Background";
import GreyPage from "../components/GreyPage";
import { mapGetters } from "vuex";
import { liff } from "../util/index";
import { baseUrl } from "../util/backend";
export default {
  name: "RegisterCompany",
  metaInfo: {
    title: "สมัครสมาชิกสำหรับผู้ประกอบการ"
  },
  data() {
    return {
      register: {
        company: "เลือกคำตอบ",
        position: "ประเภทสถานประกอบการ",
        company_name: null,
        title: "นาย",
        name: null,
        email: null,
        phone: null,
        id_line: localStorage.idLine
      },
      idUser: null,
      disabled: false,

      payload: null
    };
  },
  methods: {
    data_correct(e) {
      e.preventDefault();
      this.post_regist();
    },
    post_regist() {
      this.disabled = true;
      const raw = JSON.stringify(this.register);
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow"
      };
      console.log(raw);

      fetch(`${baseUrl}api/regiscompany`, requestOptions)
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          console.log(result);
          if (result.status == "Complete") {
            this.payload = {
              idMember: result.idMember,
              idUser: result.idUser
            };
            (localStorage.idMember = result.idMember),
              (localStorage.idUser = result.idUser);
            // localStorage.clear();
            this.registeradd();
            this.liftClosewindow();
          } else {
            alert("คุณได้ทำการสมัครสมาชิกเรียบร้อยแล้ว\nกรุณาปิดหน้าเว็บ");
          }
        })
        .catch(error => console.log("error", error));
    },

    go_register_1() {
      this.$router.push("/registerpersonal");
    },
    go_back() {
      window.history.back();
    },
    go_rule() {
      this.$router.push("/rule");
    },
    idLineadd() {
      this.$store.dispatch("idLineadd", localStorage.idLine);
    },
    registeradd() {
      this.$store.dispatch("registeradd", this.payload);
    },
    liftClosewindow() {
      liff.closeWindow();
    }
  },
  computed: {
    ...mapGetters(["getidLine", "setidUser"])
  },

  mounted() {
    // localStorage.idLine = "U7c30ccac97483ff81f6862f2fbadf495959";
    // localStorage.idLine = "U7c30ccac97483ff81f6862f2fbadf884";
    // localStorage.idLine = "U9ef47654bbac4240417f700d90ba5f84";

    this.idLineadd();
    console.log(this.register.idLine);
  },

  components: {
    BackGround,
    GreyPage
  }
};
</script>
<style scoped>
.container {
  margin-top: 5%;
  padding: 0px;
  width: 100%;
  padding-right: 5px !important;
  padding-left: 5px !important;
  margin-right: auto;
  margin-left: auto;
  /* background-color: grey; */
}
@media only screen and (min-device-width: 320px) {
  .grey-page {
    height: 485px !important;
  }
}

@media only screen and (min-device-width: 375px) {
  .grey-page {
    height: 490px !important;
  }
}

@media only screen and (min-device-width: 414px) {
  .grey-page {
    height: 500px !important;
  }
}

@media only screen and (min-device-width: 425px) {
  .grey-page {
    height: 510px !important;
  }
}

@media only screen and (min-device-width: 768px) {
  .grey-page {
    height: 540px !important;
  }
}

@media only screen and (min-device-width: 1024px) {
  .grey-page {
    height: 560px !important;
  }
}
</style>
