<template>
  <div class="container">
    <BackGround></BackGround>
    <form @submit="save_data_profile">
      <div class="form-group">
        <div class="body_input">
          <p>
            อัพโหลดภาพโปรไฟล์
            <span class="span_orage">*</span>
          </p>
          <div style="display: flex;">
            <div class="upload_frame" v-if="spinner_profile == null">
              <div
                class="text-center"
                style="display:block; margin-top:25%;"
              ></div>
            </div>
            <div class="upload_frame" v-else-if="spinner_profile">
              <div class="text-center" style="display:block; margin-top:25%;">
                <div
                  class="spinner-border"
                  id="spiner_profile"
                  role="status"
                ></div>
              </div>
            </div>
            <div class="upload_frame" v-else>
              <img
                id="output_image"
                :src="profile_img"
                style="width:100%;height:100%;display"
              />
            </div>
            <div style="width:50%;">
              <p class="text_image" id="demo">รูปโปรไฟล์</p>
            </div>

            <div style="float: right;">
              <button
                class="button_upload"
                type="button"
                id="upload_profile"
                @click="profile_click()"
              >
                อัพโหลด
              </button>
              <input
                type="file"
                class="custom-file-input"
                accept="image/*"
                id="file_input"
                @change="onFileSelected"
                style="display: none;"
              />
            </div>
          </div>
        </div>

        <p>
          ชื่อ-นามสกุล
          <span class="span_orage">*</span>
        </p>
        <div style=" display: flex; margin-bottom: 2%;">
          <select
            class="form-control"
            id="title"
            style=" width: 30%;"
            v-model="register.title"
            required
          >
            <option>นาย</option>
            <option>นาง</option>
            <option>นางสาว</option>
            <option>ดร.</option>
          </select>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="ชื่อ-นามสกุล"
            v-model="register.name"
            style="width: 65%; margin-left: 5%;"
          />
        </div>
        <!-- ------------เบอร์โทร------------- -->
        <p>
          เบอร์โทร
          <span class="span_orage">*</span>
        </p>

        <input
          type="tel"
          maxlength="10"
          class="form-control"
          id="phone"
          v-model="register.phone"
          placeholder="เบอร์โทร "
          required
        />

        <!-- <p>ชื่อเล่น</p>
        <input
          type="text"
          class="form-control"
          id="nickname"
          placeholder="ชื่อเล่น"
          v-model="profile.nickname"
          style="margin-top:2% ;margin-bottom: 2%;"
          required 
        />-->
        <!-- ------------Email------------- -->
        <p>
          อีเมลผู้ประสานงานหลัก
          <span class="span_orage">*</span>
        </p>

        <input
          type="email"
          class="form-control"
          id="email"
          v-model="register.email"
          placeholder="อีเมล"
          required
        />
        <Address
          v-on:select="address($event)"
          :idcard_live="idcard_live"
        ></Address>

        <p style="margin-top: 2%;">
          ประเภทสถานประกอบการ
          <span class="span_orage">*</span>
        </p>
        <select
          class="form-control"
          id="position"
          v-model="register.position"
          required
          disabled
        >
          <option selected disabled>ประเภทสถานประกอบการ</option>
          <option value="โรงพยาบาลสัตว์">โรงพยาบาลสัตว์</option>
          <option value="คลินิก">คลินิก</option>
          <option value="Pet shop">Pet shop</option>
        </select>
        <p>ชื่อสถานประกอบการ</p>
        <input
          type="text"
          class="form-control"
          id="companyName"
          placeholder="companyName"
          v-model="register.company_name"
          required
        />

        <p>เลขประจำตัวผู้เสียภาษี</p>
        <input
          type="tel"
          maxlength="13"
          class="form-control"
          id="idCard"
          v-model="profile.personal.id_tax"
          placeholder="เลขประจำตัวผู้เสียภาษี "
          required
        />

        <!-- 
        <p>
          ID Line
          <span class="span_orage">*</span>
        </p>

        <input
          type="text"
          class="form-control"
          id="lineId"
          v-model="profile.personal.lineId"
          placeholder="ID Line"
          style="margin-top:2%;"
          required
        />
      
        <p>Facebook</p>
        <input
          type="text"
          class="form-control"
          id="facebook"
          placeholder="Facebook"
          v-model="profile.facebook"
          style="margin-top:2%;"
        />-->
        <div class="body_input" style="flex-direction: column;">
          <p>
            อัพโหลดภาพหลักฐานการสมัคร
            <span class="span_orage">*</span>
          </p>
          <div style="display: flex;">
            <!--อัพโหลดภาพโปรไฟล์* -->
            <div class="upload_frame" v-if="spinner_place == null">
              <div
                class="text-center"
                style="display:block; margin-top:25%;"
              ></div>
            </div>
            <div class="upload_frame" v-else-if="spinner_place">
              <div class="text-center" style="display:block; margin-top:25%;">
                <div
                  class="spinner-border"
                  id="spiner_profile"
                  role="status"
                ></div>
              </div>
            </div>
            <div class="upload_frame" v-else>
              <img
                id="output_image"
                :src="place_img"
                style="width:100%;height:100%;display"
              />
            </div>
            <div style="width:50%;">
              <p class="text_image" id="demo">
                รูปภาพใบอนุญาตจัดตั้ง
                <span class="span_orage">
                  *
                  <br />(ขนาดไม่เกิน 2MB)
                </span>
              </p>
            </div>

            <div style="float: right;">
              <button
                class="button_upload"
                type="button"
                id="upload_profile"
                @click="place_click()"
              >
                อัพโหลด
              </button>
              <input
                type="file"
                class="custom-file-input"
                accept="image/*"
                id="place_input"
                @change="onFileSelected_place"
                style="display: none;"
              />
            </div>
          </div>

          <div style="display: flex;">
            <!--อัพโหลดภาพโปรไฟล์* -->
            <div class="upload_frame" v-if="spinner_idcard == null">
              <div
                class="text-center"
                style="display:block; margin-top:25%;"
              ></div>
            </div>
            <div class="upload_frame" v-else-if="spinner_idcard">
              <div class="text-center" style="display:block; margin-top:25%;">
                <div
                  class="spinner-border"
                  id="spiner_profile"
                  role="status"
                ></div>
              </div>
            </div>
            <div class="upload_frame" v-else>
              <img
                id="output_image"
                :src="idcard_img"
                style="width:100%;height:100%;display"
              />
            </div>
            <div style="width:50%;">
              <p class="text_image" style="margin-top:5%" id="demo">
                รูปภาพบัตรประจำตัวประชาชน
                <span class="span_orage">
                  *
                  <br />(ขนาดไม่เกิน 2MB)
                </span>
              </p>
            </div>

            <div style="float: right;">
              <button
                class="button_upload"
                type="button"
                id="upload_profile"
                @click="id_click()"
              >
                อัพโหลด
              </button>
              <input
                type="file"
                class="custom-file-input"
                accept="image/*"
                id="id_input"
                @change="onFileSelected_id"
                style="display: none;"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="body_button">
        <button
          class="button_back"
          type="button"
          style="width: 30%;"
          @click="go_back()"
        >
          <img src="../image/left_arrow_2.svg" alt style="float: left;" />
          กลับ
        </button>
        <button
          class="button_save"
          style="width: 100%; margin-left: 1%;"
          id="next"
          type="submit"
          :disabled="disabled"
        >
          บันทึก
        </button>
      </div>

      <GreyPage></GreyPage>
      <div style="height:150px"></div>
    </form>
  </div>
</template>
<script>
import { RegisterPersonalMixin } from "../mixin/RegisterPersonalMixin";
import { init } from "../util/index";
import { liffid } from "../util/liffId";
import { mapGetters } from "vuex";
import { baseUrl } from "../util/backend";
import Compressor from "compressorjs";

export default {
  name: "RegisterPersonal",
  metaInfo: {
    title: "จัดการข้อมูลผู้ประกอบการ",
  },
  mixins: [RegisterPersonalMixin],
  data() {
    return {
      checkprofile: false,
      selected_profile: null,
      profile_img: null,
      selected_idcard: null,
      idcard_img: null,
      selected_place: null,
      place_img: null,
      disabled: false,
      profile: {
        type: "company",
        member: localStorage.idMember,
        nickname: "-",
        facebook: "-",
        id_line: localStorage.idLine,
        personal: {
          age: "0",
          idcard: "-",
          id_tax: null,
          line_id: "-",
          birth_day: " 2500-01-01",
        },
        address: {
          no: null,
          postcode: null,
          province: null,
          district: null,
          zone: null,
        },
        same_address: "checked",
        address_now: {
          no_now: null,
          postcode_now: null,
          province_now: null,
          district_now: null,
          zone_now: null,
        },
      },
      datat: null,
      idcard_live: {},
      spinner_profile: null,
      spinner_place: null,
      spinner_idcard: null,
      check_usermanage: false,
    };
  },
  methods: {
    address(data) {
      console.log("data");
      this.profile.address.no = data.no_t;
      this.profile.address.district = data.amphoe_t;
      this.profile.address.zone = data.district_t;
      this.profile.address.postcode = data.zipcode_t;
      this.profile.address.province = data.province_t;
      console.log(this.no);
      console.log(this.district);
      console.log(this.zone);
      console.log(this.postcode);
      console.log(this.province);

      localStorage.no_t = this.profile.address.no;
      localStorage.amphoe_t = this.profile.address.district;
      localStorage.district_t = this.profile.address.zone;
      localStorage.zipcode_t = this.profile.address.postcode;
      localStorage.province_t = this.profile.address.province;
    },
    onFileSelected(event) {
      // console.log(event);
      this.spinner_profile = true;
      this.selected_profile = event.target.files[0];
      console.log(this.selected_profile);
      console.log(this.selected_profile.name);
      // this.onUpload();
      console.log("ssssee this");
      this.onuploadFortest();
    },

    compressImage(file) {
      return new Promise((resolve, reject) => {
        new Compressor(file, {
          quality: 0.6,
          success(result) {
            resolve(result);
          },
          error(e) {
            reject(e);
          },
        });
      });
    },

    async onuploadFortest() {
      const fileforupload = await this.compressImage(this.selected_profile);
      var picture_name = this.selected_profile.name;
      var myHeaders = new Headers();
      myHeaders.append(
        "Cookie",
        "__cfduid=de4d85e74687b775ae022c46e0913dde41587025756"
      );

      var formdata = new FormData();
      formdata.append("profile", fileforupload, picture_name);
      formdata.append("type", "company");
      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: formdata,
        redirect: "follow",
      };

      fetch(
        `${baseUrl}api/upload/profile/` + `${localStorage.idMember}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(`profile img`);
          console.log(this.profile_img);
          result.link
            ? (this.profile_img = result.link)
            : alert("กรุณาอัพโหลดรูปภาพใหม่อีกครั้ง");
          this.spinner_profile = !this.spinner_profile;
        })
        .catch((error) => console.log("error", error));
    },

    async onUpload() {
      const fileforupload = await this.compressImage(this.selected_profile);
      var picture_name = this.selected_profile.name;
      var myHeaders = new Headers();
      myHeaders.append(
        "Cookie",
        "__cfduid=de4d85e74687b775ae022c46e0913dde41587025756"
      );

      var formdata = new FormData();
      formdata.append("profile", fileforupload, picture_name);
      formdata.append("type", "company");
      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: formdata,
        redirect: "follow",
      };
      fetch(
        `${baseUrl}api/upload/profile/` + `${localStorage.idMember}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(`profile img`);
          console.log(this.profile_img);
          result.link
            ? (this.profile_img = result.link)
            : alert("กรุณาอัพโหลดรูปภาพใหม่อีกครั้ง");
          this.spinner_profile = !this.spinner_profile;
        })
        .catch((error) => console.log("error", error));
    },
    onFileSelected_id(event) {
      this.spinner_idcard = true;
      console.log(event);

      this.selected_idcard = event.target.files[0];
      console.log(this.selected_idcard);
      console.log(this.selected_idcard.name);
      this.onUpload_id();
    },
    async onUpload_id() {
      const fileforupload = await this.compressImage(this.selected_idcard);
      var idcard_name = this.selected_idcard.name;
      var myHeaders = new Headers();
      myHeaders.append(
        "Cookie",
        "__cfduid=de4d85e74687b775ae022c46e0913dde41587025756"
      );

      var formdata = new FormData();
      formdata.append("idcard", fileforupload, idcard_name);
      formdata.append("type", "company");
      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: formdata,
        redirect: "follow",
      };
      fetch(
        `${baseUrl}api/upload/idcard/` + `${localStorage.idMember}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          result.link
            ? (this.idcard_img = result.link)
            : alert("กรุณาอัพโหลดรูปภาพใหม่อีกครั้ง");

          console.log(this.idcard_img);
          this.spinner_idcard = !this.spinner_idcard;
          console.log(result);
        })
        .catch((error) => console.log("error", error));
    },

    onFileSelected_place(event) {
      console.log(event);
      this.spinner_place = true;
      this.selected_place = event.target.files[0];
      console.log(this.selected_place);

      this.onUpload_place();
    },
    async onUpload_place() {
      // formdata.append("type", "company");
      const fileforupload = await this.compressImage(this.selected_place);
      var place_name = this.selected_place.name;

      var formdata = new FormData();
      var requestOptions = {
        method: "POST",
        body: formdata,
        redirect: "follow",
      };
      formdata.append("company", fileforupload, place_name);

      fetch(
        `${baseUrl}api/upload/company/` + `${localStorage.idMember}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          result.link
            ? (this.place_img = result.link)
            : alert("กรุณาอัพโหลดรูปภาพใหม่อีกครั้ง");

          console.log(this.place_img);
          this.spinner_place = !this.spinner_place;
          console.log(result);
        })
        .catch((error) => console.log("error", error));
    },

    profile_click() {
      document.getElementById("file_input").click();
    },
    id_click() {
      document.getElementById("id_input").click();
    },
    place_click() {
      document.getElementById("place_input").click();
    },
    save_data_profile(e) {
      e.preventDefault();
      this.disabled = true;
      this.put_data_user();
      this.profile.member = localStorage.idMember;
      this.profile.address_now = {
        no_now: this.profile.address.no,
        postcode_now: this.profile.address.postcode,
        province_now: this.profile.address.province,
        district_now: this.profile.address.district,
        zone_now: this.profile.address.zone,
      };
      console.log(this.checkprofile);
      console.log("address_now", this.profile.address_now);

      console.log("fb :", this.profile.facebook);
      if (this.checkprofile === false) {
        if (
          this.profile_img != null &&
          this.place_img != null &&
          this.idcard_img != null
        )
          this.post_profile();
        // this.changePage();
      } else if (this.checkprofile === true) {
        if (
          this.profile_img != null &&
          this.place_img != null &&
          this.idcard_img != null
        ) {
          if (this.facebook == null) {
            this.profile.facebook = "-";
          }
          this.put_profile();
        }
      }
    },
    async get_data_user() {
      var myHeaders = new Headers();
      myHeaders.append(
        "Cookie",
        "__cfduid=de4d85e74687b775ae022c46e0913dde41587025756"
      );

      var requestOptions = {
        method: "GET",
        headers: myHeaders,
        redirect: "follow",
      };
      await fetch(
        `${baseUrl}api/company/` + `${localStorage.idLine}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);

          if (result != null) {
            this.register = result;
            localStorage.idMember = this.register.member;
            localStorage.idUser = this.register.company_id;
            // this.register.company_name = result.company_name;
            this.$store.dispatch("addSubCompanyId", this.register.sub_com_id);
            this.$store.dispatch("addCompanyId", this.register.company_id);

            console.log(this.register);
            console.log(localStorage.idMember);
            console.log(localStorage.idUser);
          } else {
            console.log("no");
          }
        })
        .catch((error) => console.log("error", error));
    },
    async get_data_profile() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/profile/` + `${localStorage.idMember}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          if (result.profile != null) {
            this.data = result;
            this.checkprofile = true;
            this.profile.nickname = this.data.profile.nickname;
            this.profile.facebook = this.data.profile.facebook;
            this.profile.personal.id_tax = this.data.profile.id_tax;
            this.profile.personal.lineId = this.data.profile.lineId;
            this.profile.sameAddress = this.data.profile.sameAddress;
            this.profile.address.no = this.data.address.no;
            this.profile.address.postcode = this.data.address.postcode;
            this.profile.address.province = this.data.address.province;
            this.profile.address.district = this.data.address.district;
            this.profile.address.zone = this.data.address.zone;

            console.log(this.checkprofile);

            this.idcard_live = {
              no: this.no,
              district: this.zone,
              amphoe: this.district,
              zipcode: this.postcode,
              province: this.province,
            };

            console.log("idcard", this.idcard_live);
            localStorage.sameAddress = result.profile.sameAddress;
            console.log("chck", result.profile.sameAddress);

            console.log(this.checkprofile);
            console.log(this.idUser);
          } else {
            console.log("no Data");
          }
        })
        .catch((error) => console.log("error", error));
      // this.spit_birth();
    },
    post_profile() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      var raw = JSON.stringify(this.profile);
      console.log(raw);

      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow",
      };

      fetch(`${baseUrl}api/profile`, requestOptions)
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          // this.put_data_user();
          console.log(result);

          this.changePage();
        })
        .catch((error) => console.log("error", error));
    },
    put_profile() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      var raw_2 = JSON.stringify(this.profile);
      var request = {
        method: "PUT",
        headers: myHeaders,
        body: raw_2,
        redirect: "follow",
      };

      fetch(`${baseUrl}api/profile`, request)
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          // this.put_data_user();
          console.log(result);
          if (this.check_usermanage) {
            this.$router.push("/usermanage");
          } else {
            this.changePage();
          }
        })
        .catch((error) => console.log("error", error));
    },
    get_img_profile() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      fetch(
        `${baseUrl}api/image/profile/` + `${localStorage.idMember}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          result.link
            ? (this.profile_img = result.link)
            : (this.profile_img = null);
          this.spinner_profile = false;
        })
        .catch((error) => console.log("error", error));
    },
    get_img_id() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      fetch(
        `${baseUrl}api/image/idcard/` + `${localStorage.idMember}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          result.link
            ? (this.idcard_img = result.link)
            : (this.idcard_img = null);
          this.spinner_idcard = false;
        })
        .catch((error) => console.log("error", error));
    },
    get_img_place() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      fetch(
        `${baseUrl}api/image/company/` + `${localStorage.idMember}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          result.link
            ? (this.place_img = result.link)
            : (this.place_img = null);
          this.spinner_place = false;
        })
        .catch((error) => console.log("error", error));
    },
    async put_data_user() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      var raw = JSON.stringify({
        position: this.register.position,
        company_name: this.register.company_name,
        title: this.register.title,
        name: this.register.name,
        email: this.register.email,
        phone: this.register.phone,
        id_line: localStorage.idLine,
      });
      console.log("register update", raw);
      var requestOptions = {
        method: "PUT",
        headers: myHeaders,
        body: raw,
        redirect: "follow",
      };

      await fetch(`${baseUrl}api/company/update`, requestOptions)
        .then((response) => response.text())
        .then((result) => {
          // console.log("OK");
          result = JSON.parse(result);
          console.log(result);
        })
        .catch((error) => console.log("error", error));
    },
  },
  created() {
    // localStorage.idLine = "Uf1188afa3af8ca3daa9e2af65d56ae29";
    // localStorage.idUser = "3";
    // localStorage.idMember = "CI-00003";

    if (this.$route.params.path === "usermanage") {
      this.check_usermanage = true;
    } else {
      this.check_usermanage = false;
      init(liffid.personal);

      // vconsole();
    }
    this.get_data_user();
    console.log("ok");
    console.log(localStorage.idMember);

    this.get_data_profile();
    // localStorage.idLine = "Ud2704e3f912f81670f5e21f4e1b6744";
    console.log(this.checkprofile);

    this.get_img_profile();
    this.get_img_id();
    this.get_img_place();

    // localStorage.clear();
    // localStorage.idLine = "U9ef47654bbac4240417f700d90ba5f84";
  },
  computed: {
    ...mapGetters(["setidMember", "setidUser", "getidLine", "setRegis"]),
  },
};
</script>
<style>
#output_image {
  object-fit: cover;
}

.text_image {
  font-size: 12px;
  color: #7e7e7e;
  margin-top: 8% !important;
}
</style>

<style scoped>
.button_back img {
  margin-left: 0.5rem;
  margin-right: -0.5rem;
}
.body_input2 {
  background-color: white;
  margin-top: 2%;
  height: 321px;
  padding: 2%;
  border-radius: 10px;
  border-width: 0px;
  -webkit-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
  -moz-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
  box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
}

@media only screen and (min-device-width: 320px) {
  .grey-page {
    height: 1120px !important;
  }
}

@media only screen and (min-device-width: 360px) {
  .grey-page {
    height: 1140px !important;
  }
  .body_input2 {
    height: 330px;
  }
}

@media only screen and (min-device-width: 375px) {
  .grey-page {
    height: 1170px !important;
  }

  .body_input2 {
    height: 340px;
  }
}

@media only screen and (min-device-width: 414px) {
  .grey-page {
    height: 1185px !important;
  }
}

@media only screen and (min-device-width: 425px) {
  .grey-page {
    height: 1185px !important;
  }
}

@media only screen and (min-device-width: 768px) {
  .grey-page {
    height: 1400px !important;
  }
  .body_input2 {
    height: 410px;
  }
}

@media only screen and (min-device-width: 1024px) {
  .grey-page {
    height: 1530px !important;
  }

  .body_input2 {
    height: 440px;
  }
}
</style>
