<template>
  <div class="container">
    <BackGround></BackGround>

    <div class="google_map" v-show="googleMapDisplay">
      <button
        class="btn btn-inmap"
        type="button"
        @click="googleMapDisplay = !googleMapDisplay"
      >
        Click
      </button>

      <div class="spinner-border" role="status" v-if="spinnerMap">
        <span class="sr-only">Loading...</span>
      </div>

      <div>
        <div class="" id="curent"></div>

        <section
          class="ui two column centered grid"
          style="position:relative;z-index:1"
        >
          <div class="column">
            <form class="ui segment large form">
              <div class="ui message red" v-show="error">{{ error }}</div>
              <div class="ui segment">
                <div class="field">
                  <div
                    class="ui right icon input large"
                    :class="{ loading: spinner }"
                  >
                    <p style="display:none;">{{ addressMarker }}</p>
                    <!-- {{ link }} -->
                    <p style="display:none;">
                      {{ location.lat }} {{ location.long }}
                    </p>
                    <!-- <a :href="link">map</a> -->

                    <input
                      onfocus="this.value=''"
                      type="text"
                      placeholder="Enter your address"
                      v-model="addressMap"
                      ref="autocomplete"
                      class="form-control"
                      style="width:90vw;position:fixed;top:0;margin-top:10px;margin-left:4px;"
                    />
                    <i
                      class="dot circle link icon"
                      @click="locatorButtonPressed"
                    ></i>
                  </div>
                </div>
                <!-- <button class="ui button">Go</button> -->
              </div>
            </form>
          </div>

          <div class="body_button" v-if="googleMapDisplay">
            <button
              class="button_back"
              type="button"
              style="width: 30%;"
              @click="googleMapDisplay = !googleMapDisplay"
            >
              <img src="../image/left_arrow_2.svg" alt style="float: left;" />
              กลับ
            </button>
            <button
              type="button"
              class="button_save"
              style="width: 100%; margin-left: 1%;"
              :disabled="disabled"
              @click="(googleMapDisplay = !googleMapDisplay), saveLatLng()"
            >
              บันทึกที่อยู่
            </button>
          </div>
        </section>

        <section id="map" ref="map"></section>
      </div>
    </div>

    <form @submit="savedata_detail">
      <div class="form-group" style="margin-top: 2%;">
        <p>สถานประกอบการ</p>
        <!-- ------------ชื่อ-นามสกุล------------- -->
        <div
          style="margin-top: 2%; display: flex; margin-bottom: 2%;"
          id="hide"
        >
          <input
            type="text"
            class="form-control"
            v-model="detail.address_com.company_name"
            required
          />
        </div>
        <div class="body_input">
          <p>
            อัพโหลดภาพสถานประกอบการ
            <span class="span_orage">*</span>
          </p>
          <div style="display: flex;" v-if="this.check_img_place">
            <!--อัพโหลดภาพโปรไฟล์* -->
            <div class="upload_frame" v-if="spinner_place == null">
              <div
                class="text-center"
                style="display:block; margin-top:25%;"
              ></div>
            </div>
            <div class="upload_frame" v-else-if="spinner_place">
              <div class="text-center" style="display:block; margin-top:25%;">
                <div
                  class="spinner-border"
                  id="spiner_profile"
                  role="status"
                ></div>
              </div>
            </div>
            <div class="upload_frame" v-else>
              <img
                id="output_image"
                :src="place_img"
                style="width:100%;height:100%;display"
              />
            </div>
            <div style="width:50%;">
              <p
                style="font-size: 12px;color: #7e7e7e;margin-top: 8% !important; "
                id="demo"
              >
                รูปสถานประกอบการ
              </p>
            </div>

            <div style="float: right;">
              <button
                class="button_upload"
                type="button"
                id="upload_profile"
                @click="place_click()"
              >
                อัพโหลด
              </button>
              <input
                type="file"
                class="custom-file-input"
                accept="image/*"
                id="place_input"
                @change="onFileSelected_place"
                style="display: none;"
              />
            </div>
          </div>
          <div style="display: flex;" v-else>
            <!--อัพโหลดภาพโปรไฟล์* -->
            <div class="upload_frame" v-if="spinner_place == null">
              <div
                class="text-center"
                style="display:block; margin-top:25%;"
              ></div>
            </div>

            <div class="upload_frame" v-else>
              <img
                id="output_image"
                :src="url"
                style="width:100%;height:100%;display"
              />
            </div>
            <div style="width:50%;">
              <p
                style="font-size: 12px;color: #7e7e7e;margin-top: 8% !important; "
                id="demo"
              >
                รูปสถานประกอบการ
              </p>
            </div>

            <div style="float: right;">
              <button
                class="button_upload"
                type="button"
                id="upload_profile"
                @click="place_click()"
              >
                อัพโหลด
              </button>
              <input
                type="file"
                class="custom-file-input"
                accept="image/*"
                id="place_input"
                @change="onFileSelected_place"
                style="display: none;"
              />
            </div>
          </div>
        </div>
        <AddressNow v-on:selectNow="addressNow($event)"></AddressNow>

        <div class="body_input">
          <p style="margin-top: 2%;">ที่อยู่จากแผนที่</p>

          <input
            type="tel"
            maxlength="10"
            class="form-control"
            placeholder=""
            v-model="old_link"
            disabled
          />

          <button
            v-if="old_link == null && old_link == ''"
            type="button"
            class="button_save"
            style="width: 100%; margin-left: 1%;"
            @click="(googleMapDisplay = !googleMapDisplay), (firstClick = true)"
          >
            เพิ่มที่อยู่จากแผนที่
          </button>
          <button
            v-else
            type="button"
            class="button_save"
            style="width: 100%; margin-left: 1%;"
            @click="(googleMapDisplay = !googleMapDisplay), (firstClick = true)"
          >
            เปลี่ยนที่อยู่จากแผนที่
          </button>
        </div>
        <!-- <div class="body_input" id="demo1">
         
          <p>
            ที่อยู่สถานประกอบการ
            <span class="span_orage">*</span>
          </p>

          <input
            type="text"
            class="form-control"
            id="no"
            v-model="detail.addressCom.no"
            placeholder="เลขที่อยู่ / ถนน / ซอย"
            style="margin-top:5% ;"
            required
          />
          <input
            type="text"
            class="form-control"
            id="no"
            v-model="detail.addressCom.sign"
            placeholder="จุดสังเกตุ"
            style="margin-top:5% ;"
            required
          />

          

          <input
            type="text"
            class="form-control"
            maxlength="5"
            id="postcode"
            name="postcode"
            v-model="detail.addressCom.postcode"
            placeholder="รหัสไปรษณีย์"
            style="margin-top:2% ;"
            required
          />


          <input
            type="text"
            class="form-control"
            name="province"
            id="province"
            placeholder="จังหวัด"
            v-model="detail.addressCom.province"
            style="margin-top:2% ;"
            required
          />

      

          <input
            type="text"
            class="form-control"
            name="district"
            id="district"
            placeholder="อำเภอ"
            v-model="detail.addressCom.district"
            style="margin-top:2% ;"
            required
          />

          <input
            type="text"
            class="form-control"
            name="zone"
            id="zone"
            placeholder="ตำบล"
            v-model="detail.addressCom.zone"
            style="margin-top:2% ;"
            required
          />
        </div>-->
        <!-- <p>ที่อยู่จากแผนที่</p>
      <button class="button_save" style="width:100%; margin-left:0%">
        เพิ่มที่อยู่จากแผนที่
        </button>-->

        <p>เบอร์โทร</p>
        <input
          type="tel"
          maxlength="10"
          class="form-control"
          v-model="detail.address_com.phone"
          placeholder="เบอร์โทร"
          required
        />
        <div class="body_input">
          <p>เครื่องมือที่ทางโรงพยาบาลสัตว์ของท่านมี</p>
          <hr />
          <div style="display:flex;margin-left:5%;margin-top:2%">
            <input
              type="checkbox"
              style="margin-top:2%"
              v-model="detail.tools.cbc"
              @change="check()"
              id="cbc"
            />
            <label class="label_form" for="cbc">เครื่องตรวจ CBC</label>
          </div>
          <div style="display:flex;margin-left:5%;margin-top:2%">
            <input
              type="checkbox"
              style="margin-top:2%"
              v-model="detail.tools.blood"
              id="blood"
            />
            <label class="label_form" for="blood">เครื่องตรวจ Blood chem</label>
          </div>
          <div style="display:flex;margin-left:5%;margin-top:2%">
            <input
              type="checkbox"
              style="margin-top:2%"
              v-model="detail.tools.x_ray"
              id="x_ray"
            />
            <label class="label_form" for="x_ray">เครื่อง X-ray</label>
          </div>
          <div style="display:flex;margin-left:5%;margin-top:2%">
            <input
              type="checkbox"
              style="margin-top:2%"
              v-model="detail.tools.ultrasound"
              id="ultrasound"
            />
            <label class="label_form" for="ultrasound"
              >เครื่อง Ultrasound</label
            >
          </div>
          <div style="display:flex;margin-left:5%;margin-top:2%">
            <input
              type="checkbox"
              style="margin-top:2%"
              v-model="detail.tools.anesthesia"
              id="anesthesia"
            />
            <label class="label_form" for="anesthesia">เครื่องดมยา</label>
          </div>
          <div style="display:flex;margin-left:5%;margin-top:2%">
            <input
              type="checkbox"
              style="margin-top:2%"
              v-model="nothing"
              id="nothing"
            />
            <label class="label_form" for="nothing">ไม่มี</label>
          </div>

          <textarea
            class="form-control"
            cols="30"
            rows="5"
            style="margin-top:5%;"
            v-model="detail.tools.note_tool"
          ></textarea>
        </div>
        <div class="body_input">
          <p>
            จำนวนคุณหมอประจำคลินิกของท่านในเเต่ละวัน
            <span class="span_orage">*</span>
          </p>

          <p style="font-size:12px;color:#7e7e7e">
            ถ้าคลินิกเเบ่งเป็นหลายๆฝ่าย สามารถบรรยายได้ เพื่อการคัดสรร
            บุคลากรให้ท่านอย่างตรงตามความต้องการ
          </p>
          <textarea
            class="form-control"
            cols="30"
            rows="5"
            style="margin-top:5%;"
            v-model="detail.address_com.note"
            required
          ></textarea>
        </div>
        <div class="body_input">
          <p>
            ราคาเฉลี่ยต่อเคส
            <span class="span_orage">*</span>
          </p>
          <div style="display:flex;justify-content: center; ">
            <div class="col-6">
              <input
                type="number"
                class="form-control"
                placeholder="ต่ำสุดโดยเฉลี่ย"
                v-model="detail.cost.min_cost"
                @change="check1()"
                required
                style="width:100%;text-align:center"
              />
            </div>

            <div class="col-6">
              <input
                type="number"
                class="form-control"
                placeholder="สูงสุดโดยเฉลี่ย"
                v-model="detail.cost.max_cost"
                @change="check1()"
                required
                style="width:100%;text-align:center"
              />
            </div>
          </div>
        </div>
        <div class="body_input">
          <p>
            เวลาเปิด-ปิดคลินิกของท่าน
            <span class="span_orage">*</span>
          </p>

          <div style="w-100 ">
            <div>
              <PopupTimePicker />
            </div>
          </div>
        </div>

        <GreyPage></GreyPage>
        <div style="height:150px"></div>
      </div>
      <div class="body_button" v-if="!googleMapDisplay">
        <button
          class="button_back"
          type="button"
          style="width: 30%;"
          @click="go_back"
        >
          <img src="../image/left_arrow_2.svg" alt style="float: left;" />
          กลับ
        </button>
        <button
          class="button_save"
          type="submit"
          style="width: 70%;"
          :disabled="disabled"
        >
          บันทึก
        </button>
      </div>
    </form>
  </div>
</template>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBGf8rws-cVO1QRNqNxe7jPqifku_qdvvs"></script>

<script>
import { RegisterPersonal2Mixin } from "../mixin/RegisterPersonal2Mixin";
import BackGround from "../components/Background";
import GreyPage from "../components/GreyPage";
import AddressNow from "../components/AddressNow";
import PopupTimePicker from "@/components/PopUpTimePickers.vue";
import { baseUrl } from "../util/backend";
import axios from "axios";

import { mapGetters } from "vuex";
// import VueTimepicker from "vue2-timepicker";
// import "vue2-timepicker/dist/VueTimepicker.css";
import { liff } from "../util/index";
import Compressor from "compressorjs";

export default {
  name: "RegisterEmployee2",
  metaInfo: {
    title: "จัดการสถานประกอบการ",
  },
  mixins: [RegisterPersonal2Mixin],
  data() {
    return {
      firstClick: false,
      old_link: "",
      old_location: { lat: "", long: "" },
      spinnerMap: true,
      addressMap: "",
      addressMarker: "",
      error: "",
      spinner: false,
      marker: "",
      location: { lat: "", long: "" },
      link: "",
      googleMapDisplay: false,
      selected_place: null,
      place_img: null,
      start: null,
      end: null,
      spinner_place: null,
      check_usermanage: false,
      disabled: false,
      url: null,
      address_com_id: null,
      check_img_place: false,
    };
  },

  mounted() {
    console.log("hey");
    var autocomplete = new google.maps.places.Autocomplete(
      this.$refs["autocomplete"],
      {
        bounds: new google.maps.LatLngBounds(
          new google.maps.LatLng(45.4215296, -75.6971931)
        ),
      }
    );

    autocomplete.addListener("place_changed", () => {
      var place = autocomplete.getPlace();
      console.log("place_changed");

      this.showLocationOnTheMap(
        place.geometry.location.lat(),
        place.geometry.location.lng()
      );
    });

    this.spinner = true;
    console.log("locatorButtonPressed");

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          console.log(position.coords.latitude);
          console.log(position.coords.longitude);

          this.getAddressFrom(
            position.coords.latitude,
            position.coords.longitude
          );

          this.showLocationOnTheMap(
            position.coords.latitude,
            position.coords.longitude
          );
        },
        (error) => {
          alert(error.message);
          this.error =
            "Locator is unable to find your address. Please type your address manually.";
          this.spinner = false;

          // console.log(error.message);
        }
      );
    } else {
      this.error = error.message;
      this.spinner = false;
      console.log("Your browser does not support geolocation API ");
    }
  },
  methods: {
    saveLatLng() {
      this.old_link = this.link;
      this.old_location.lat = this.location.lat;
      this.old_location.long = this.location.long;
    },
    locatorButtonPressed() {
      this.spinner = true;
      console.log("locatorButtonPressed");

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            console.log(position.coords.latitude);
            console.log(position.coords.longitude);

            this.getAddressFrom(
              position.coords.latitude,
              position.coords.longitude
            );

            this.showLocationOnTheMap(
              position.coords.latitude,
              position.coords.longitude
            );
          },
          (error) => {
            this.error =
              "Locator is unable to find your address. Please type your address manually.";
            this.spinner = false;
            // console.log(error.message);
          }
        );
      } else {
        this.error = error.message;
        this.spinner = false;
        console.log("Your browser does not support geolocation API ");
      }
    },
    getAddressFrom(lat, long) {
      console.log("getAddressFrom");

      axios
        .get(
          "https://maps.googleapis.com/maps/api/geocode/json?latlng=" +
            lat +
            "," +
            long +
            "&key=AIzaSyBGf8rws-cVO1QRNqNxe7jPqifku_qdvvs"
        )
        .then((response) => {
          if (response.data.error_message) {
            this.error = response.data.error_message;
            console.log(response.data.error_message);
          } else {
            this.addressMap = response.data.results[0].formatted_address;
            this.addressMarker = response.data.results[0].formatted_address;
            // console.log(response.data.results[0].formatted_address);
          }
          this.spinner = false;
          this.spinnerMap = false;
        })
        .catch((error) => {
          this.error = error.message;
          this.spinner = false;
          console.log(error.message);
        });
    },

    showLocationOnTheMap(latitude, longitude) {
      console.log("showLocationOnTheMap");
      console.log(latitude, longitude);

      // Show & center the Map based oon
      var map = new google.maps.Map(this.$refs["map"], {
        zoom: 15,
        center: new google.maps.LatLng(latitude, longitude),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        rotateControl: false,
        streetViewControl: false,
        mapTypeControl: false,
        gestureHandling: "greedy",
        fullscreenControl: false,
      });

      let marker = new google.maps.Marker({
        position: new google.maps.LatLng(latitude, longitude),
        map: map,
        draggable: true,
      });

      var lat = marker.getPosition().lat();
      var lng = marker.getPosition().lng();
      console.log(lat);
      console.log(lng);

      let markerData = marker.getPosition();
      console.log(`markerData`, markerData);

      this.geocodePosition(markerData);

      google.maps.event.addListener(map, "dragend", function() {
        console.log(map);
        console.log(map.getCenter().lat());
        console.log(map.getCenter().lng());
        let map_lat = map.getCenter().lat();
        let map_lng = map.getCenter().lng();
        // latlng = map.LatLng();

        console.log(`map_center_lat`, map.getCenter().lat());
        console.log(`map_center_lag`, map.getCenter().lng());

        console.log(`marker kub`, marker.getPosition().lat());
        // marker.setPosition(latlng);

        // console.log(marker.getPosition().lat());
        // marker.setPosition(myLatlng);
      });

      google.maps.event.addListener(marker, "dragend", () => {
        let markerData2 = marker.getPosition();
        console.log(marker);
        this.geocodePosition(markerData2);
      });
    },
    geocodePosition(pos) {
      this.location.lat = pos.lat();
      this.location.long = pos.lng();

      this.link = `https://maps.google.com/?q=${pos.lat()},${pos.lng()}`;

      console.log(pos);
      console.log(pos.lat());
      console.log(pos.lng());

      var addressMarker = "ss";
      let geocoder = new google.maps.Geocoder();
      geocoder.geocode(
        {
          latLng: pos,
        },
        (results, status) => {
          console.log(`results`, results);
          addressMarker = results[0].formatted_address;
          if (status == google.maps.GeocoderStatus.OK) {
            console.log(`ที่อยู่`, results[0].formatted_address);
            console.log(`address`, addressMarker);
            //
            addressMarker = results[0].formatted_address;
            this.addressMarker = addressMarker;
            this.addressMap = addressMarker;
            //

            // $("#mapSearchInput").val(results[0].formatted_address);
            // $("#mapErrorMsg").hide(100);
          } else {
            $("#mapErrorMsg")
              .html("Cannot determine address at this location." + status)
              .show(100);
          }
        }
      );
    },

    addressNow(data) {
      console.log("data", data);
      this.detail.address_com.no = data.no_t;
      this.detail.address_com.sign = data.sign_t;
      this.detail.address_com.district = data.amphoe_t;
      this.detail.address_com.zone = data.district_t;

      this.detail.address_com.postcode = data.zipcode_t;
      this.detail.address_com.province = data.province_t;

      console.log(this.detail.address_com.no);
      console.log(this.detail.address_com.district);
      console.log(this.detail.address_com.zone);
      console.log(this.detail.address_com.postcode);
      console.log(this.detail.address_com.province);
    },

    get_place() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      fetch(`${baseUrl}api/details/` + `${localStorage.idUser}`, requestOptions)
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          let latitude = result.location_address_com.latitude;
          let longtitude = result.location_address_com.longtitude;

          this.old_link = `https://maps.google.com/?q=${latitude},${longtitude}`;
          this.old_location.lat = latitude;
          this.old_location.long = longtitude;

          if (result) {
            // this.detail = result;
            this.detail.address_com.company_name = result.company_name;
            this.detail.address_com.phone = result.phone;
            this.detail.address_com.note = result.note;
            this.detail.tools.cbc = result.tools_com.cbc;
            this.detail.tools.blood = result.tools_com.blood;
            this.detail.tools.x_ray = result.tools_com.x_ray;
            this.detail.tools.ultrasound = result.tools_com.ultrasound;
            this.detail.tools.anesrhesia = result.tools_com.anesrhesia;
            this.detail.tools.note_tool = result.tools_com.note_tool;
            this.detail.cost.min_cost = result.cost_com.min_cost;
            this.detail.cost.max_cost = result.cost_com.max_cost;
            this.timeKeeper = {
              tStart: result.time_com.start,
              tEnd: result.time_com.end,
            };
            console.log("Time Keeper:", this.timeKeeper);
            console.log("xx", this.timeTrack);
            this.$store.dispatch(
              "calendar/timePickerSelectedEvent",
              this.timeKeeper
            );

            this.checkcom = true;
          } else {
            this.checkcom = false;
          }
        })
        .catch((error) => console.log("error", error));
    },
    savedata_detail(e) {
      e.preventDefault();
      this.disabled = true;
      this.detail.sub_com_id = this.sub_com;
      this.detail.time.start = this.timeTrack.tStart;
      this.detail.time.end = this.timeTrack.tEnd;
      this.detail.location.latitude = this.old_location.lat * 1;
      this.detail.location.longtitude = this.old_location.long * 1;

      console.log("start::", this.detail.time.start);
      console.log("end::", this.detail.time.end);
      console.log(`detail`, this.detail);

      if (this.checkcom == false) {
        if (this.url != null) {
          if (this.detail.tools.note == null) {
            this.detail.tools.note = "-";
          }

          this.post_place();
          // this.liftClosewindow();
        } else {
          alert("ข้อมูลไม่ถูกต้อง กรุณากรอกข้อมูลใหม่ให้ถูกต้องครบถ้วน");
          this.disabled = false;
        }
      } else {
        if (this.url != null || this.place_img !== null) {
          if (this.detail.tools.note == null) {
            this.detail.tools.note = "-";
          }
          this.put_place();
        } else {
          alert("ข้อมูลไม่ถูกต้อง กรุณากรอกข้อมูลใหม่ให้ถูกต้องครบถ้วน");
          this.disabled = false;
        }
      }
    },
    async post_place() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");
      // this.detail.time.start = this.timeTrack.tStart;
      // console.log(this.detail.time.start);
      console.log("end::", this.detail.time.end);

      var raw = JSON.stringify(this.detail);

      var request = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow",
      };
      console.log(raw);

      await fetch(`${baseUrl}api/details`, request)
        .then((response) => response.text())
        .then((res) => {
          console.log(`api/details`, res);
          res = JSON.parse(res);
          this.address_com_id = res.address_com.address_com_id;

          this.onUpload_place(this.address_com_id);
          // this.liftClosewindow();
        })
        .catch((error) => console.log("error", error));
    },
    put_place() {
      var myHeaders = new Headers();

      myHeaders.append("Content-Type", "application/json");
      var raw_2 = JSON.stringify(this.detail);

      console.log("put", raw_2);

      var requestOptions = {
        method: "PUT",
        headers: myHeaders,
        body: raw_2,
        redirect: "follow",
      };

      fetch(`${baseUrl}api/update/details`, requestOptions)
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(`after update`, result);
          if (result.message == "Update Complete") {
            this.onUpload_place(this.address_com_id);
          } else {
            alert("ไม่มีการอัพเดต");
          }
        })
        .catch((error) => console.log("error", error));
    },

    compressImage(file) {
      return new Promise((resolve, reject) => {
        new Compressor(file, {
          quality: 0.6,
          success(result) {
            resolve(result);
          },
          error(e) {
            reject(e);
          },
        });
      });
    },

    async get_place_img() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/image/place/` + `${this.sub_com}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          result.link
            ? ((this.place_img = result.link),
              console.log(this.place_img),
              (this.check_img_place = true))
            : console.log(result);
          this.spinner_place = false;
        })
        .catch((error) => console.log("error", error));
    },
    onFileSelected_place(event) {
      console.log(event);

      this.selected_place = event.target.files[0];
      this.spinner_place = true;
      console.log(this.selected_place);
      this.url = URL.createObjectURL(event.target.files[0]);
      if (this.url) {
        this.check_img_place = false;
      }

      // this.onUpload_place();
    },
    async onUpload_place(address_id) {
      if (this.place_img && !this.selected_place) {
        console.log(`yes`);
        this.go_usermanage();
        return "";
      }
      const fileforupload = await this.compressImage(this.selected_place);

      var place_name = this.selected_place.name;

      var formdata = new FormData();
      formdata.append("place", fileforupload, place_name);
      // formdata.append("type", "place");
      var requestOptions = {
        method: "POST",
        body: formdata,
        redirect: "follow",
      };
      fetch(
        `${baseUrl}api/upload/place/${this.sub_com}/${address_id}`,
        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          result.link
            ? (this.place_img = result.link)
            : alert("กรุณาอัพโหลดรูปภาพใหม่อีกครั้ง");
          this.spinner_place = false;
          if (this.checkcom) {
            this.go_usermanage();
          } else {
            this.liftClosewindow();
          }

          console.log(this.place_img);

          console.log(result);
        })
        .catch((error) => console.log("error", error));
    },
    place_click() {
      document.getElementById("place_input").click();
    },
    async get_data_user() {
      var myHeaders = new Headers();
      myHeaders.append(
        "Cookie",
        "__cfduid=de4d85e74687b775ae022c46e0913dde41587025756"
      );

      var requestOptions = {
        method: "GET",
        headers: myHeaders,
        redirect: "follow",
      };
      await fetch(
        `${baseUrl}api/company/` + `${localStorage.idLine}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          if (result != null) {
            this.register = result;
            localStorage.idMember = this.register.member;
            localStorage.idUser = this.register.company_id;
            this.detail.address_com.company_name = result.company_name;
            this.$store.dispatch("addSubCompanyId", this.register.sub_com_id);
            this.$store.dispatch("addCompanyId", this.register.company_id);

            console.log(this.sub_com);

            console.log(this.register);
            console.log(localStorage.idMember);
            console.log(localStorage.idUser);
            this.get_place_img();
          } else {
            console.log("no");
          }
        })
        .catch((error) => console.log("error", error));
    },
    get_address_detail() {
      var myHeaders = new Headers();
      myHeaders.append(
        "Cookie",
        "__cfduid=d6a36e805c731b1b176fcc23dd2f8bb241596445387"
      );

      var requestOptions = {
        method: "GET",
        headers: myHeaders,
        redirect: "follow",
      };

      fetch(
        `api/address/${localStorage.idUser}/${this.sub_com}`,
        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          this.address_com_id = result.address_com_id;
          console.log(result);
        })
        .catch((error) => console.log("error", error));
    },

    liftClosewindow() {
      liff.closeWindow();
    },
  },
  computed: {
    ...mapGetters({
      timeTrack: "calendar/getPostJobTimer",
      sub_com: "getSubCompanyId",
    }),
  },

  created() {
    console.log(localStorage.position);

    // vconsole();
    if (this.$route.params.path === "usermanage") {
      this.check_usermanage = true;
    } else {
      this.check_usermanage = false;
    }
    // localStorage.idUser = 3;
    // localStorage.idLine = "U9ef47654bbac4240417f700d90ba5f84";
    // localStorage.idMember = "OP-00002";
    this.get_place();

    this.get_data_user();
  },
  components: {
    BackGround,
    GreyPage,

    PopupTimePicker,
    AddressNow,
  },
};
</script>
<style>
.vue__time-picker input.display-time {
  width: 80%;
  height: 2.2em;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: black;
  font-size: 1em;
  text-align: center;
}
.vue__time-picker {
  /* display: inline-block; */
  position: relative;
  font-size: 1em;
  width: 7em;

  vertical-align: middle;
}
.label_form {
  margin-left: 5%;
  color: black;
}
</style>

<style scoped>
.link-map {
  color: black;
}
.link-map {
  font-size: 1rem;
}

.ui.button,
.dot.circle.icon {
  background-color: #ff5a5f;
  color: white;
}

.pac-icon {
  display: none;
}

.pac-item {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.pac-item:hover {
  background-color: #ececec;
}

.pac-item-query {
  font-size: 16px;
}

#map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: all 0s ease;
  transition: none;
}

.google_map {
  position: fixed;

  background: rgb(255, 255, 255);
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  z-index: 100;
}

.button_back img {
  margin-left: 1rem;
  margin-right: -1rem;
}

.form-group {
  width: 100%;
  position: relative;
  padding: 2% !important;
  z-index: 5;
}

.grey-page {
  background-color: #d9d9d9;
  width: 98%;
  height: 92% !important;
  position: absolute;
  top: 0%;
  left: 1%;
  /* padding: 3%; */
  z-index: -1;
  opacity: 0.6;
  border-radius: 10px;
}

@media only screen and (min-device-width: 375px) {
  .grey-page {
    height: 92% !important;
    position: absolute;
  }
  .body_input3 {
    background-color: white;
    margin-top: 2%;
    height: 405px;

    padding: 2%;
    border-radius: 10px;
    border-width: 0px;
    -webkit-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
    -moz-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
    box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
  }
}

@media only screen and (min-device-width: 640px) {
  .grey-page {
    height: 92% !important;
    position: absolute;
  }
  .body_input3 {
    background-color: white;
    margin-top: 2%;
    height: 412px;

    padding: 2%;
    border-radius: 10px;
    border-width: 0px;
    -webkit-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
    -moz-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
    box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
  }
}

@media only screen and (min-device-width: 667px) {
  .grey-page {
    height: 73% !important;
    position: absolute;
  }
  .body_input3 {
    background-color: white;
    margin-top: 2%;
    height: 420px;

    padding: 2%;
    border-radius: 10px;
    border-width: 0px;
    -webkit-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
    -moz-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
    box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
  }
}
@media only screen and (min-device-width: 731px) {
  .grey-page {
    height: 92% !important;
    position: absolute;
  }
  .body_input3 {
    background-color: white;
    margin-top: 2%;
    height: 435px;

    padding: 2%;
    border-radius: 10px;
    border-width: 0px;
    -webkit-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
    -moz-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
    box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
  }
}

@media only screen and (min-device-width: 760px) {
  .grey-page {
    height: 93% !important;
    position: absolute;
  }
  .body_input3 {
    background-color: white;
    margin-top: 2%;

    padding: 2%;
    border-radius: 10px;
    border-width: 0px;
    -webkit-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
    -moz-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
    box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
  }
}

@media only screen and (min-device-width: 812px) {
  .grey-page {
    height: 93% !important;
    position: absolute;
  }
  .body_input3 {
    background-color: white;
    margin-top: 2%;
    height: 430px;

    padding: 2%;
    border-radius: 10px;
    border-width: 0px;
    -webkit-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
    -moz-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
    box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
  }
}
@media only screen and (min-device-width: 1024px) {
  .grey-page {
    height: 94% !important;
    position: absolute;
  }
  .body_input3 {
    background-color: white;
    margin-top: 2%;
    height: 541px;

    padding: 2%;
    border-radius: 10px;
    border-width: 0px;
    -webkit-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
    -moz-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
    box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
  }
}
@media only screen and (min-device-width: 1366px) {
  .grey-page {
    height: 94% !important;
    position: absolute;
  }
}
</style>
