<template>
  <div class="container" style="height:105%">
    <BackGround></BackGround>
    <div
      style="border-radius: 15px;;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); "
      id="rule"
    >
      <div class="body_input" style="margin-top: 5%; padding: 5%;">
        <div style="text-align: center;">
          <h6 style="font-weight: 600;">กฏและข้อตกลง</h6>
        </div>

        <p style="font-size: 12px;">
          <br />ตามที่ท่านตกลงเข้าเป็นสมาชิกกับ บริษัท ควอลิไฟด์ เอสเซนส์
          ซัพพลายออร์ แอนด์ เทรเซอร์ จำกัด (“บริษัท”) เพื่อปฏิบัติงานให้แก่
          บริษัท ท่านรับทราบและตกลงผูกพันในเงื่อนไขดังต่อไปนี้
        </p>

        <br />

        <p style="font-size: 12px;">
          1. เมื่อท่านเป็นสมาชิกกับบริษัทแล้ว
          ท่านสามารถเลือกวันที่ประสงค์ปฏิบัติงานและเปิดดูตารางงานของท่าน
          ตามที่ท่านต้องการได้ทันทีในเมนู ตารางการทำงาน
          <br />
          <br />2. ในการแจ้งความความต้องการด้านบุคลากร
          ท่านแจ้งความต้องการให้บริษัททราบล่วงหน้า 5 วันสำหรับพนักงาน Part time
          และ 30 วัน สำหรับ Full time
          เพื่อเผื่อระยะเวลาในขั้นตอนต่างๆให้แก่บริษัท เช่น การจัดลำดับ
          การจัดบุคลากรที่เหมาะสม เป็นต้น
          <br />
          <br />3. ในกรณีที่ท่านเลือกพนักงาน Part time :
          บริษัทจะจัดส่งบุคลากรในวันที่ท่านต้องการเมื่อท่านชำระค่าบริการและส่งหลักฐานการโอนเงินมายังบริษัทตามขั้นตอนหน้า
          website ของบริษัทเรียบร้อยแล้ว (กรณีโอนเงิน) และ
          บริษัทจะส่งอีเมลล์ตอบกลับถึงการชำระเงินของท่านว้
          <br />
          <br />4. ท่านสามารถตรวจเช็คตารางงาน
          หรือรายละเอียดเกี่ยวกับบุคลากรที่บริษัทจะส่งไปให้ท่านได้ทางระบบสมาชิกของท่าน
          <br />
          <br />5. ในกรณีที่ท่านเห็นว่าบุคลากรของบริษัทที่ปฏิบัติงานให้แก่ท่าน
          ปฏิบัติหน้าที่โดยบกพร่อง มีพฤติกรรมที่ไม่เหมาะสม
          หรือมีความสามารถไม่ตรงตามตำแหน่งงานทีได้ระบุไว้บน website ของบริษัท
          บริษัทจะเปลี่ยนตัวบุคลากรให้ท่านใหม่ เป็นจำนวนไม่เกิน 5 คน
          ในแต่ละรอบของการให้บริการ โดยไม่คิดค่าใช้จ่ายเพิ่มเติม
          <br />
          <br />6.ในกรณีที่บุคลากรของบริษัทก่อให้เกิดความเสียหายอันเป็นผลจากการปฎิบัติงานของบุคลากรตามตำแหน่งที่ระบุ
          หรือในกรณีที่ท่านได้รับความเสียหายอย่างใดอย่างหนึ่งจากการให้บริการของบริษัท
          บริษัทจะรับผิดชอบความเสียหายที่เกิดขึ้นกับท่านเท่าที่เสียหายจริง
          แต่ละครั้งในวงเงินไม่เกิน 2
          เท่าของค่าบริการที่บริษัทได้รับสำหรับบุคลากรรายดังกล่าว
          แล้วแต่กรณีภายใต้ดุลยพินิจของบริษัท
          <br />
          <br />7.
          บุคลากรที่บริษัทส่งไปจะปฏิบัติตามหน้าที่อย่างสุดความสามารถภายในขอบเขตหน้าที่ที่แจ้งในรายละเอียดความสามารถแต่ละบุคคล
          ในกรณีบุคลากรก่อให้เกิดความเสียหายแก่ท่านอันเป็นผลมาจากการที่ท่านได้ออกคำสั่งให้บุคลากรปฏิบัติงานผิดไปจากหน้าที่ที่กำหนดไว้
          ทางบริษัทขอสงวนสิทธิ์ไม่รับผิดชอบความหายในส่วนดังกล่าว
          <br />
          <br />8. เมื่อบริษัทส่งบุคลากรไปปฎิบัติงานกับท่านแล้ว
          ท่านเข้าใจและยอมรับว่าท่านจะต้องไม่ดำเนินการอย่างหนึ่งอย่างใดเพื่อให้บุคลากรของบริษัทปฏิบัติงานให้ท่านโดยตรง
          ไม่ว่าจะปฏิบัติงานในตามสัญญาจ้างแรงงานหรือจ้างทำของ
          และไม่ว่าจะมีการทำสัญญาเป็นลายลักษณ์อักษรหรือไม่
          โดยในกรณีที่ท่านดำเนินการดังกล่าว
          บริษัทของสงวนสิทธิ์ในการเรียกร้องค่าปรับเป็นเงินจำนวน 10,000
          (หนึ่งหมื่นบาท) สำหรับ Part time และ 40,000 บาท (สี่หมื่นบาท) สำหรับ
          Full time
          ไม่ว่าบุคลากรคนนั้นจะยังเป็นพนักงานหรือสมาชิกของบริษัทอยู่หรือไม่ก็ตาม
          <br />
          <br />9. บริษัทขอสงวนสิทธิ์ในการเปลี่ยนแปลง แก้ไข หรือปรับปรุงข้อตกลง
          หรือกฎระเบียบใดๆ ก็ตาม
          โดยบริษัทจะแจ้งให้ท่านทราบล่วงหน้าเป็นลายลักษณ์อักษร
          <br />
          <br />10. เมื่อท่านใช้บริการเสร็จเรียบร้อยแล้ว
          ทางบริษัทจะส่งอีเมลล์ให้ท่านประเมินคะแนนบุคลากรของบริษัทหรือท่านสามารถแสดงความคิดเห็นต่างๆได้ใน
          www.qvetjob.com ได้โดยตรง
        </p>
        <p
          style="font-size: 12px"
          v-if="this.$route.params.path == 'usermanage'"
        >
          ข้าพเจ้าได้อ่านและเข้าใจเงื่อนไขข้างต้นโดยตลอดแล้ว
          โดยข้าพเจ้าตกลงเข้าผูกพันตามข้อตกลงดังที่กล่าวมาข้างต้น
        </p>

        <div
          class="container"
          v-else
          style="display: flex; margin-top: 5%;margin-bottom: 5%;"
        >
          <input
            type="checkbox"
            name="condition"
            id="condition"
            v-on:change="check"
          />
          <label
            style="font-size: 12px;margin-left: 2%;color:black"
            for="condition"
          >
            ข้าพเจ้าได้อ่านและเข้าใจเงื่อนไขข้างต้นโดยตลอดแล้ว
            โดยข้าพเจ้าตกลงเข้าผูกพันตามข้อตกลงดังที่กล่าวมาข้างต้น
          </label>
        </div>
      </div>
      <div style="height:100px"></div>
      <div
        v-if="this.$route.params.path == 'usermanage'"
        class="body_button"
        style="justify-content:center"
      >
        <button
          class="button_back"
          style="width: 100%;"
          @click="go_usermanage()"
        >
          <img src="../image/left_arrow_2.svg" alt />
          กลับ
        </button>
      </div>
      <div v-else class="body_button">
        <button class="button_back" id="closewindowbutton" style="width: 30%;">
          ยกเลิก
        </button>
        <button
          class="button_save"
          id="nextButton"
          style="width: 70%; background-color: grey; "
          @click="go_register()"
        >
          ยอมรับ
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import BackGround from "../components/Background.vue";
// import { init } from "../util/index";
// import { liffid } from "../util/liffid";
import { init } from "../util/index";
import { liffid } from "../util/liffId";
export default {
  name: "Rule",
  metaInfo: {
    title: "กฎและข้อตกลง",
  },

  components: {
    BackGround,
  },
  methods: {
    go_usermanage() {
      this.$router.push("/usermanage");
    },
    go_register() {
      const condition = document.getElementById("condition");
      if (condition.checked) {
        this.$router.push("/registercompany");
      } else {
        return;
      }
    },
    check() {
      var in_button = document.getElementById("nextButton");
      var condition = document.getElementById("condition");

      if (condition.checked == true) {
        in_button.style.backgroundColor = "#a05489";
        in_button.disabled = false;
      } else {
        in_button.style.backgroundColor = "grey";
        in_button.disabled = true;
      }
    },
  },
  created() {
    if (this.$route.params.path != "usermanage") {
      init(liffid.rule);
    }
    // vconsole();
  },
};
</script>

<style scoped>
.button_back {
  justify-content: center !important;
}
.button_back img {
  margin-right: 5px;
}
</style>
