<template>
  <div class="container">
    <BackGround></BackGround>
    <div
      style="border-radius: 15px;;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); "
      id="rule"
    >
      <div
        class="body_input"
        style="margin-top: 10%; padding: 5%; border: #589F25 2px solid;"
      >
        <div style="text-align: center;">
          <img
            src="../image/correct_2.jpg"
            alt=""
            style="width: 20%;margin-bottom: 10%;"
          />
          <!-- <h5 style="font-weight: 500; font-size: 16px;">
            คุณกรอกข้อมูลเรียบร้อยแล้ว <br />
            กรุณากดปิดหน้าเว็บ
          </h5> -->
          <h5 style="font-weight: 500; font-size: 16px;">
            คุณได้ยืนยันการจ้างงานเรียบร้อยแล้ว<br />
            กรุณากดปิดหน้าเว็บ
          </h5>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import BackGround from "../components/Background.vue";

export default {
  name: "thankyou",
  metaInfo: {
    title: "สมัครสมาชิกเรียบร้อย",
  },
  components: {
    BackGround,
  },
};
</script>
<style></style>
