<template>
  <div class="container">
    <BackGround></BackGround>

    <div style="border-radius:10px">
      <div class="body_input" style="margin-top:0%;display:flex">
        <div class="col-4 p-1 align-items-center">
          <img :src="profile_img" alt style="width: 100px;height:100px;" id="profilePic" />
        </div>
        <div class="col-8 pl-0">
          <p style=" margin-bottom: 2%; font-size: 12px;">{{ company_name }}</p>
          <p
            style=" margin-bottom: 2%; font-size: 12px;"
          >แขวง {{ company.district }} เขต{{ company.zone }}</p>
          <p style=" margin-bottom: 2%; font-size: 12px;">จังหวัด {{ company.province }}</p>
          <p style=" margin-bottom: 2%; font-size: 12px;">โทร.{{ phone }}</p>
          <div class="d-flex">
            <p class="text_side_pic">สถานะการตรวจสอบข้อมูล : </p>
            <p
              class="text_side_pic ml-1"
              style="color:#e0ab1d"
              v-if="approve.approve_status ==='waiting'"
            > ยังไม่ตรวจสอบ</p>
            <p
              class="text_side_pic ml-1 text-success"
              style="color:#e0ab1d"
              v-if="approve.approve_status ==='approved'"
            >ตรวจสอบแล้ว</p>
          </div>
        </div>
      </div>
    </div>

    <div class="main_menu align-items-center" @click="go_registerPer()">
      <div class="col-1">
        <img src="../image/avatar.svg" alt class="img_icon" />
      </div>
      <div class="col-9">
        <p style="margin-left: 5%;width: 80%;">จัดการข้อมูลผู้ติดต่อประสานงาน</p>
      </div>
      <div class="col-2" @click="go_registerPer()">
        <img src="../image/icon_chevron_left.png" alt class="arrow" />
      </div>
    </div>
    <div class="main_menu align-items-center" @click="go_registerPer2()">
      <div class="col-1">
        <img src="../image/stethoscope_2.svg" alt class="img_icon" />
      </div>
      <div class="col-9">
        <p style="margin-left: 5%;width: 80%;">จัดการสถานประกอบการ</p>
      </div>
      <div class="col-2" @click="go_registerPer2()">
        <img src="../image/icon_chevron_left.png" class="arrow" alt />
      </div>
    </div>
    <div
      class="main_menu align-items-center"
      style="margin-top: 2%; display: flex;margin-top: 2%; "
    >
      <div class="col-1">
        <img src="../image/mortarboard.svg" alt class="img_icon img_icon_custom" />
      </div>
      <div class="col-9" @click="go_vote()">
        <p style="margin-left: 5%;">ประเมินพนักงานหลังทำงานเสร็จ</p>
      </div>
      <!-- <div class="col-2 " @click="go_vote()" > -->
      <div class="col-2">
        <img src="../image/icon_chevron_left.png" alt class="arrow" />
      </div>
    </div>

    <div class="main_menu align-items-center" @click="go_rule()">
      <div class="col-1">
        <img src="../image/legal_paper.svg" alt class="img_icon" />
      </div>
      <div class="col-9">
        <p style="margin-left: 5%;width: 80%;">กฏระเบียบ / ข้อตกลง</p>
      </div>
      <div class="col-2" @click="go_rule()">
        <img src="../image/icon_chevron_left.png" alt class="arrow" />
      </div>
    </div>

    <div class="main_menu align-items-center" @click="go_detail">
      <div class="col-1">
        <img src="../image/page_1.svg" alt class="img_icon" />
      </div>
      <div class="col-9">
        <p style="margin-left: 5%;width: 80%;">รายละเอียดเลเวลสัตวแพทย์</p>
      </div>
      <div class="col-2" @click="go_detail">
        <img src="../image/icon_chevron_left.png" alt class="arrow" />
      </div>
    </div>
    <div
      class="main_menu align-items-center"
      style="margin-top: 2%; display:none;margin-top: 2%;background: #cecece; "
    >
      <div class="col-1">
        <img src="../image/team.svg" style="opacity:0.6" alt class="img_icon" />
      </div>
      <div class="col-9">
        <p style="margin-left: 5%;width: 80%;opacity:0.6;">จัดการผู้ดูแลระบบ</p>
      </div>
      <div class="col-2">
        <img src="../image/chevron_grey.png" alt class="arrow" />
      </div>
    </div>
  </div>
</template>
<script>
import BackGround from "../components/Background";
import { baseUrl } from "../util/backend";
// import GreyPage from "../components/GreyPage";
export default {
  name: "UserManage",
  metaInfo: {
    title: "ข้อมูลส่วนตัว"
  },
  data() {
    return {
      profile_img: null,
      idUser: localStorage.idUser,
      idLine: localStorage.idLine,
      idMember: localStorage.idMember,
      phone: null,
      company_name: null,
      company: {},
      approve: {}
    };
  },
  methods: {
    get_approve() {
      var myHeaders = new Headers();
      myHeaders.append(
        "Cookie",
        "__cfduid=d6a36e805c731b1b176fcc23dd2f8bb241596445387"
      );

      var requestOptions = {
        method: "GET",
        headers: myHeaders,
        redirect: "follow"
      };

      fetch(`${baseUrl}api/allcompany`, requestOptions)
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);

          result = this.lodash.filter(result, s => {
            // console.log("sss", s);

            return s.company_id === parseInt(localStorage.idUser);
          });
          result = result[0];
          this.approve = result;
          console.log("aprove", result);
        })
        .catch(error => console.log("error", error));
    },
    go_registerPer() {
      this.$router.push("/registerpersonal/usermanage");
    },
    go_registerPer2() {
      this.$router.push("/registerpersonal2");
    },

    go_rule() {
      this.$router.push("/rule/usermanage");
    },

    go_detail() {
      this.$router.push("/detail");
    },
    go_vote() {
      this.$router.push("/vote");
    },
    async get_data_user() {
      console.log("ma");

      var myHeaders = new Headers();
      myHeaders.append(
        "Cookie",
        "__cfduid=de4d85e74687b775ae022c46e0913dde41587025756"
      );

      var requestOptions = {
        method: "GET",
        headers: myHeaders,
        redirect: "follow"
      };

      await fetch(
        `${baseUrl}/api/company/` + `${localStorage.idLine}`,

        requestOptions
      )
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          console.log(result);

          if (result != null) {
            console.log("yes");

            console.log(result);
            this.checkuser = true;
            this.company_name = result.company_name;
            localStorage.idMember = result.member;
            localStorage.idUser = result.company_id;

            this.phone = result.phone;
          } else {
            0;
            console.log(result);
            console.log("no");
          }
        })
        .catch(error => console.log("error", error));
    },
    async get_place() {
      var requestOptions = {
        method: "GET",
        redirect: "follow"
      };

      await fetch(
        `${baseUrl}/api/details/` + `${localStorage.idUser}`,

        requestOptions
      )
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          console.log(result);

          if (result) {
            this.company = result;
            console.log("company", this.company);
            this.checkcom = true;
          } else {
            this.checkcom = false;
          }
        })
        .catch(error => console.log("error", error));
    },
    async get_img_profile() {
      var requestOptions = {
        method: "GET",
        redirect: "follow"
      };

      await fetch(
        `${baseUrl}/api/image/profile/` + `${localStorage.idMember}`,

        requestOptions
      )
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          console.log("img", result);
          result.link
            ? (this.profile_img = result.link)
            : (this.profile_img = null);
        })
        .catch(error => console.log("error", error));
    }
  },
  components: {
    BackGround
    // GreyPage,
  },
  created() {
    // localStorage.idLine = "U7c30ccac97483ff81f6862f2dbadf884";
    // localStorage.idLine = "U9ef47654bbac4240417f700d90ba5f84";
    this.get_place();
    this.get_data_user();
    this.get_img_profile();
    this.get_approve();
  }
};
</script>
<style>
.col-1 {
  padding-right: 0px;
  padding-left: 10px;
}
.col-2 {
  text-align: end;
}
.arrow {
  margin-top: 2% !important;
  height: 15px;
}
.icon {
  margin-top: 1% !important;
}
.img_icon {
  width: 15px !important;
  height: 17px !important;
  margin-left: 2% !important;
}

.img_icon_custom {
  width: 20px !important;
  height: 17px !important;
  margin-left: 2% !important;
}
</style>

<style scoped>
#profilePic {
  object-fit: cover;
}
.main_menu {
  background-color: white;
  margin-top: 2%;
  height: 45px;

  border-radius: 10px;
  border-width: 0px;
  -webkit-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
  -moz-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
  box-shadow: 0px 0px 7px 2px rgba(158, 155, 158, 0.3);
  margin-top: 2%;
  display: flex;
  width: 100%;
}
.text_side_pic {
  margin-bottom: 2%;

  font-size: 12px;
}
</style>
<style scoped>
p {
  margin-top: 0px !important;
}
</style>
