<template>
  <div class="container">
    <BackGround></BackGround>
    <div v-if="isFull">
      <div style="display: flex;height:40px">
        <div class="subject">
          <p class="text_subject">ประเมินสำเร็จ</p>
        </div>
        <div class="sub_subject" v-on:click="switched()">
          <p class="text_sub_subject">รอการประเมิน</p>
        </div>
      </div>
      <Voted></Voted>
    </div>
    <div v-else>
      <div style="display: flex;height:40px">
        <div class="sub_subject" v-on:click="switched()">
          <p class="text_sub_subject">ประเมินสำเร็จ</p>
        </div>
        <div class="subject">
          <p class="text_subject">รอการประเมิน</p>
        </div>
      </div>
      <NotVoted></NotVoted>
    </div>
  </div>
</template>
<script>
import BackGround from "@/components/Background.vue";
import Voted from "@/components/Voted.vue";
import NotVoted from "@/components/NotVoted.vue";
export default {
  data() {
    return {
      isFull: true,
    };
  },
  methods: {
    switched() {
      this.isFull = !this.isFull;
    },
  },
  components: {
    BackGround,
    Voted,
    NotVoted,
  },
  created() {},
};
</script>
<style>
.subject {
  width: 50%;
  color: #8a296d;
  background-color: white;
  text-align: center;

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 -7px 5px -4px rgba(0, 0, 0, 0.3);
}
.text_subject {
  color: #8a296d;
  margin-top: 3% !important;
}
.text_sub_subject {
  color: #ffffff;
  margin-top: 3% !important;
}
.sub_subject {
  width: 50%;
  color: white;
  background-color: #b77fa6;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.text_des {
  font-size: 12px !important;
  text-align: start;
  margin-top: 0% !important;
}
</style>
