<template>
  <div class="body_input3">
    <label style="margin-left: 3%;font-size:14px;color:black;margin-top: 5%;" for="address_too">
      ที่อยู่สถานประกอบการ
      <span class="span_orage">*</span>
    </label>
    <input
      type="text"
      class="form-control"
      id="no"
      v-model="no"
      placeholder="เลขที่อยู่ / ถนน / ซอย"
      style="margin-top:2% ;"
    />
    <input
      type="text"
      class="form-control"
      id="no"
      v-model="sign"
      placeholder="จุดสังเกตุ"
      style="margin-top:4% ;"
      required
    />
    <ThailandAutoComplete
      v-model="zipcode"
      type="zipcode"
      @select="select"
      placeholder="รหัสไปรษณีย์"
    />
    <ThailandAutoComplete
      v-model="province"
      type="province"
      @select="select"
      placeholder="จังหวัด"
    />
    <ThailandAutoComplete
      v-model="amphoe"
      type="amphoe"
      @select="select"
      placeholder="เขต / อำเภอ"
    />
    <ThailandAutoComplete
      v-model="district"
      type="district"
      @select="select"
      placeholder="แขวง / ตำบล"
    />
  </div>
</template>
<script>
import ThailandAutoComplete from "vue-thailand-address-autocomplete";
import { baseUrl } from "../util/backend";
export default {
  data() {
    return {
      district: "",
      amphoe: "",
      province: "",
      no: null,
      zipcode: "",
      sign: null
    };
  },
  methods: {
    select(address) {
      this.district = address.district;
      this.amphoe = address.amphoe;
      this.province = address.province;
      this.zipcode = address.zipcode;
      const data = {
        no_t: this.no,
        sign_t: this.sign,
        district_t: this.district,
        amphoe_t: this.amphoe,
        province_t: this.province,
        zipcode_t: this.zipcode
      };

      this.$emit("selectNow", data);

      // console.log(this.district);
      // console.log(this.amphoe);
      // console.log(this.province);
      // console.log(this.zipcode);
    },

    async get_data_profile() {
      var requestOptions = {
        method: "GET",
        redirect: "follow"
      };

      await fetch(
        `${baseUrl}api/profile` + `${localStorage.idMember}`,
        requestOptions
      )
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          console.log("a", result);

          if (result.addressNow) {
            this.no = result.addressNow.noNow;
            this.zipcode = result.addressNow.postcodeNow;
            this.province = result.addressNow.provinceNow;
            this.amphoe = result.addressNow.districtNow;
            this.district = result.addressNow.zoneNow;
            this.sameAddress = result.profile.sameAddress;

            console.log("sameaddress", this.sameAddress);
            console.log("db same", result.profile.sameAddress);

            const x = document.getElementById("address_too");
            if (this.sameAddress == "checked") {
              x.checked = true;
            } else {
              x.checked = false;
            }
          } else {
            console.log("mai ma");
          }
        })
        .catch(error => console.log("error", error));
    },
    async get_place() {
      var requestOptions = {
        method: "GET",
        redirect: "follow"
      };

      await fetch(

        `${baseUrl}api/details/` + `${localStorage.idUser}`,

        requestOptions
      )
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          console.log(result);

          if (result) {
            // this.detail = result;
            this.no = result.no;
            this.sign = result.sign;
            this.district = result.zone;
            this.amphoe = result.district;
            this.province = result.province;
            this.zipcode = result.postcode;

            const data = {
              no_t: this.no,
              sign_t: this.sign,
              district_t: this.district,
              amphoe_t: this.amphoe,
              province_t: this.province,
              zipcode_t: this.zipcode
            };
            this.$emit("selectNow", data);

            //  this.detail.address_com.no = result.no
            //  this.detail.address_com.sign = result.sign
            //  this.detail.address_com.sign = result.sign
            //        detail: {
            //   company_id: localStorage.idUser,
            //   sub_com_id: null,
            //   address_com: {
            //     company_name: null,
            //     no: null,
            //     sign: null,
            //     postcode: null,
            //     province: null,
            //     district: null,
            //     zone: null,
            //     phone: null,
            //     note: null,
            //   },
            //   location: {
            //     latitude: 0.0000,
            //     longtitude:0.000,
            //   },
            //   tools: {
            //     cbc: false,
            //     blood: false,
            //     x_ray: false,
            //     ultrasound: false,
            //     anesthesia: false,
            //     note_tool: null,
            //   },
            //   cost: {
            //     min_cost: null,
            //     max_cost: null,
            //   },
            //   time: {
            //     start: null,
            //     end: null,
            //   },
            // },
            this.checkcom = true;
          } else {
            this.checkcom = false;
          }
        })
        .catch(error => console.log("error", error));
    }
  },
  mounted() {
    this.get_place();
    // this.get_data_profile();
    // console.log("addressnow");
    // console.log("idcard", this.idcard_live.no);
    // this.set_address();
  },
  components: {
    ThailandAutoComplete
  }
};
</script>
<style>
.vth-addr-input[data-v-1f53c317] {
  float: left;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 2%;
  padding: calc(0.475em - 1px) 0.75rem;
  line-height: 1.25;
  font-size: 14px;
  color: #555;
  letter-spacing: normal;
  text-align: left;

  border: solid 1px #d3d3d3;
  display: block;
  font-family: Sukhumvit;
}
.body_input3 {
  background-color: white;
  margin-top: 2%;
  height: 425px;

  padding: 2%;
  border-radius: 10px;
  border-width: 0px;
  -webkit-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
  -moz-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
  box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
}
.vth-addr-container[data-v-1f53c317] {
  float: left;
  width: 100%;
  margin-bottom: 2%;
}
/* .[data-v-1f53c317] {
  box-sizing: border-box;

  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
} */
</style>
