<template>
  <div class="body_input2" id="live_address">
    <p>
      ที่อยู่ตามบัตรประชาชน
      <span class="span_orage">*</span>
    </p>

    <input
      type="text"
      class="form-control"
      id="no"
      v-model="no"
      placeholder="เลขที่อยู่ / ถนน / ซอย"
      style="margin-top:2% ;"
    />
    <ThailandAutoComplete
      v-model="zipcode"
      type="zipcode"
      @select="select"
      placeholder="รหัสไปรษณีย์"
    />
    <ThailandAutoComplete
      v-model="province"
      type="province"
      @select="select"
      placeholder="จังหวัด"
    /><ThailandAutoComplete
      v-model="amphoe"
      type="amphoe"
      @select="select"
      placeholder="เขต / อำเภอ"
    />
    <ThailandAutoComplete
      v-model="district"
      type="district"
      @select="select"
      placeholder="แขวง / ตำบล"
    />
  </div>
</template>
<script>
import ThailandAutoComplete from "vue-thailand-address-autocomplete";
import { baseUrl } from "../util/backend";
export default {
  props: ["idcard_live"],
  data() {
    return {
      district: "",
      amphoe: "",
      province: "",
      no: null,
      zipcode: "",
    };
  },
  methods: {
    select(address) {
      this.district = address.district;
      this.amphoe = address.amphoe;
      this.province = address.province;
      this.zipcode = address.zipcode;
      const data = {
        no_t: this.no,
        district_t: this.district,
        amphoe_t: this.amphoe,
        province_t: this.province,
        zipcode_t: this.zipcode,
      };

      this.$emit("select", data);

      // console.log(this.district);
      // console.log(this.amphoe);
      // console.log(this.province);
      // console.log(this.zipcode);
    },
    set_address() {
      this.no = localStorage.no_t;
      this.district = localStorage.district_t;
      this.amphoe = localStorage.amphoe_t;
      this.province = localStorage.province_t;
      this.zipcode = localStorage.zipcode_t;
    },

    async get_data_profile() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/profile/` + `${localStorage.idMember}`,
        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log("a", result);

          if (result.address) {
            this.no = result.address.no;
            this.zipcode = result.address.postcode;
            this.province = result.address.province;
            this.amphoe = result.address.district;
            this.district = result.address.zone;
            this.select();
            // console.log("idcard", this.no);

            // localStorage.noNow_l = result.addressNow.noNow;
            // localStorage.postcodeNow_l = result.addressNow.postcodeNow;
            // localStorage.provinceNow_l = result.addressNow.provinceNow;
            // localStorage.districtNow_l = result.addressNow.districtNow;
            // localStorage.zoneNow_l = result.addressNow.zoneNow;
          } else {
            console.log("mai ma");
          }

          // window.reload();
        })
        .catch((error) => console.log("error", error));
      // this.spit_birth();
    },
  },
  mounted() {
    this.get_data_profile();
    // console.log("idcard", this.idcard_live.no);
    // this.set_address();
  },

  components: {
    ThailandAutoComplete,
  },
};
</script>
<style>
.vth-addr-input[data-v-1f53c317] {
  float: left;
  width: 100%;
  height: 45px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 2%;
  color: #555;
  padding: calc(0.475em - 1px) 0.75rem;
  line-height: 1.25;
  font-size: 14px;
  letter-spacing: normal;
  text-align: left;

  border: solid 1px #d3d3d3;
  display: block;
  font-family: Sukhumvit;
}
.body_input2 {
  background-color: white;
  margin-top: 2%;
  height: 321px;

  padding: 2%;
  border-radius: 10px;
  border-width: 0px;
  -webkit-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
  -moz-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
  box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
}

@media only screen and (min-device-width: 768px) {
  .grey-page {
    height: 600px;
  }
}

.vth-addr-container[data-v-1f53c317] {
  float: left;
  width: 100%;
  margin-bottom: 2%;
}
/* .[data-v-1f53c317] {
  box-sizing: border-box;

  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
} */
</style>
