<template>
  <div>
    <div class="background1"></div>
    <div class="background2"></div>
  </div>
</template>
<script>
export default {};
</script>
<style>
@media (min-width: 1200px) {
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .background1 {
    width: 620px;
    height: 620px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #8a296d, #db4529);
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: -15%;
    z-index: -2;
  }
  .background2 {
    width: 200px;
    height: 200px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #db4529, #bfd335);
    border-radius: 50%;
    position: absolute;
    top: -2%;
    right: 0%;
    z-index: -2;
  }
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .background1 {
    width: 400px;
    height: 400px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #8a296d, #db4529);
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: -15%;
    z-index: -2;
  }
  .background2 {
    width: 100px;
    height: 100px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #db4529, #bfd335);
    border-radius: 50%;
    position: absolute;
    top: -2%;
    right: 0%;
    z-index: -2;
  }
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
  .background1 {
    width: 400px;
    height: 400px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #8a296d, #db4529);
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: -15%;
    z-index: -2;
  }
  .background2 {
    width: 100px;
    height: 100px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #db4529, #bfd335);
    border-radius: 50%;
    position: absolute;
    top: -2%;
    right: 0%;
    z-index: -2;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 568px) {
  .background1 {
    width: 300px;
    height: 300px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #8a296d, #db4529);
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: -15%;
    z-index: -2;
  }
  .background2 {
    width: 60px;
    height: 60px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #db4529, #bfd335);
    border-radius: 50%;
    position: absolute;
    top: -2%;
    right: 0%;
    z-index: -2;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
  .background1 {
    width: 300px;
    height: 300px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #8a296d, #db4529);
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: -15%;
    z-index: -2;
  }
  .background2 {
    width: 60px;
    height: 60px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #db4529, #bfd335);
    border-radius: 50%;
    position: absolute;
    top: -2%;
    right: 0%;
    z-index: -2;
  }
}
</style>
