<template>
  <div>
    <p style="display:none">{{ level_4_full }}</p>
    <div v-if="cancle.length > 0">
      <div style="background-color:#ffffff; width:100%;">
        <div class="text-center pt-2">
          <b style="color:black;font-size:15px;">รายการที่มีการยกเลิก</b>
        </div>
        <!-- <p>{{show_part}}</p> -->
        <div v-for="(item, index) in show_part" :key="index">
          <span class="badge badge-secondary day_show">{{
            item.date_start
          }}</span>

          <div v-if="getHeader(item.date_start, level_1).length > 0">
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_1[0].level }} :
                    {{ level_1[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>
            </div>
            <div v-if="job.period_job.date_start === item.date_start ">
              <div
                class="d-flex mt-2 justify-content-center"
                v-for="(job, index) in level_1"
                :key="index"
              >
                <div
                  class="col-11 pt-0 pb-0"
                  v-if="job.period_job.date_start == item.date_start"
                >
                  <div class="body_input d-flex">
                    <div class="col-3">
                      <img :src="job.img" style="width:60px;height:60px" />
                    </div>
                    <div class="col-9">
                      <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                      <p class="text_des w-100">
                        {{ job.user.title }}
                        {{ job.user.name }}
                      </p>
                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            Level {{ level_1[0].level }} :
                            {{ level_1[0].position }}
                          </p>
                        </div>
                      </div>

                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            วันที่ปฏิบัติงาน {{ job.period_job.date_start }}
                          </p>
                        </div>
                      </div>

                      <div
                        v-if="job.status == 'cancel_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยพนักงาน
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยพนักงาน
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="getHeader(item.date_start, level_2).length > 0">
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_2[0].level }} :
                    {{ level_2[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>
            </div>
            <div v-if="job.period_job.date_start === item.date_start ">
              <div
                class="d-flex mt-2 justify-content-center"
                v-for="(job, index) in level_2"
                :key="index"
              >
                <div
                  class="col-11 pt-0 pb-0"
                  v-if="job.period_job.date_start == item.date_start"
                >
                  <div class="body_input d-flex">
                    <div class="col-3">
                      <img :src="job.img" style="width:60px;height:60px" />
                    </div>
                    <div class="col-9">
                      <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                      <p class="text_des w-100">
                        {{ job.user.title }}
                        {{ job.user.name }}
                      </p>
                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            Level {{ level_2[0].level }} :
                            {{ level_2[0].position }}
                          </p>
                        </div>
                      </div>

                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            วันที่ปฏิบัติงาน {{ job.period_job.date_start }}
                          </p>
                        </div>
                      </div>

                      <div
                        v-if="job.status == 'cancel_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยพนักงาน
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยพนักงาน
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="getHeader(item.date_start, level_3).length > 0">
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_3[0].level }} :
                    {{ level_3[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>
            </div>
            <div v-if="job.period_job.date_start === item.date_start ">
              <div
                class="d-flex mt-2 justify-content-center"
                v-for="(job, index) in level_3"
                :key="index"
              >
                <div
                  class="col-11 pt-0 pb-0"
                  v-if="job.period_job.date_start == item.date_start"
                >
                  <div class="body_input d-flex">
                    <div class="col-3">
                      <img :src="job.img" style="width:60px;height:60px" />
                    </div>
                    <div class="col-9">
                      <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                      <p class="text_des w-100">
                        {{ job.user.title }}
                        {{ job.user.name }}
                      </p>
                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            Level {{ level_3[0].level }} :
                            {{ level_3[0].position }}
                          </p>
                        </div>
                      </div>

                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            วันที่ปฏิบัติงาน {{ job.period_job.date_start }}
                          </p>
                        </div>
                      </div>

                      <div
                        v-if="job.status == 'cancel_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยพนักงาน
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยพนักงาน
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="getHeader(item.date_start, level_4).length > 0">
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_4[0].level }} :
                    {{ level_4[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div
                class="d-flex mt-2 justify-content-center"
                v-for="(job, index) in level_4"
                :key="index"
              >
                <div
                  class="col-11 pt-0 pb-0"
                  v-if="job.period_job.date_start == item.date_start"
                >
                  <div class="body_input d-flex">
                    <div class="col-3">
                      <img :src="job.img" style="width:60px;height:60px" />
                    </div>
                    <div class="col-9">
                      <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                      <p class="text_des w-100">
                        {{ job.user.title }}
                        {{ job.user.name }}
                      </p>
                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            Level {{ level_4[0].level }} :
                            {{ level_4[0].position }}
                          </p>
                        </div>
                      </div>

                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            วันที่ปฏิบัติงาน {{ job.period_job.date_start }}
                          </p>
                        </div>
                      </div>

                      <div
                        v-if="job.status == 'cancel_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยพนักงาน
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยพนักงาน
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="getHeader(item.date_start, level_5).length > 0">
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_5[0].level }} :
                    {{ level_5[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div
                class="d-flex mt-2 justify-content-center"
                v-for="(job, index) in level_5"
                :key="index"
              >
                <div
                  class="col-11 pt-0 pb-0"
                  v-if="job.period_job.date_start == item.date_start"
                >
                  <div class="body_input d-flex">
                    <div class="col-3">
                      <img :src="job.img" style="width:60px;height:60px" />
                    </div>
                    <div class="col-9">
                      <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                      <p class="text_des w-100">
                        {{ job.user.title }}
                        {{ job.user.name }}
                      </p>
                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            Level {{ level_5[0].level }} :
                            {{ level_5[0].position }}
                          </p>
                        </div>
                      </div>

                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            วันที่ปฏิบัติงาน {{ job.period_job.date_start }}
                          </p>
                        </div>
                      </div>

                      <div
                        v-if="job.status == 'cancel_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยพนักงาน
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยพนักงาน
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="getHeader(item.date_start, level_6).length > 0">
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_6[0].level }} :
                    {{ level_6[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div
                class="d-flex mt-2 justify-content-center"
                v-for="(job, index) in level_6"
                :key="index"
              >
                <div
                  class="col-11 pt-0 pb-0"
                  v-if="job.period_job.date_start == item.date_start"
                >
                  <div class="body_input d-flex">
                    <div class="col-3">
                      <img :src="job.img" style="width:60px;height:60px" />
                    </div>
                    <div class="col-9">
                      <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                      <p class="text_des w-100">
                        {{ job.user.title }}
                        {{ job.user.name }}
                      </p>
                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            Level {{ level_6[0].level }} :
                            {{ level_6[0].position }}
                          </p>
                        </div>
                      </div>

                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            วันที่ปฏิบัติงาน {{ job.period_job.date_start }}
                          </p>
                        </div>
                      </div>

                      <div
                        v-if="job.status == 'cancel_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยพนักงาน
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยพนักงาน
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-for="(item, index) in show_full" :key="index">
          <span class="badge badge-secondary day_show"
            >{{ item.date_start }} - {{ item.date_end }}</span
          >
          <div
            v-if="
              getHeaderFullTime(item.date_start, item.date_end, level_1_full)
                .length > 0
            "
          >
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_1_full[0].level }} :
                    {{ level_1_full[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div
                class="d-flex mt-2 justify-content-center"
                v-for="(job, index) in level_1_full"
                :key="index"
              >
                <div
                  class="col-11 pt-0 pb-0"
                  v-if="
                    job.date_time_job.date_start == item.date_start &&
                      job.date_time_job.date_end == item.date_end
                  "
                >
                  <div class="body_input d-flex">
                    <!-- <p>{{ job }}</p> -->
                    <div class="col-3">
                      <img :src="job.img" style="width:60px;height:60px" />
                    </div>
                    <div class="col-9">
                      <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                      <p class="text_des w-100">
                        {{ job.user.title }}
                        {{ job.user.name }}
                      </p>
                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            Level {{ level_1_full[0].level }} :
                            {{ level_1_full[0].position }}
                          </p>
                        </div>
                      </div>

                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            วันที่ปฏิบัติงาน {{ job.date_time_job.date_start }}
                          </p>
                        </div>
                      </div>

                      <div
                        v-if="job.status == 'cancel_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยพนักงาน
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยพนักงาน
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            v-if="
              getHeaderFullTime(item.date_start, item.date_end, level_2_full)
                .length > 0
            "
          >
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_2_full[0].level }} :
                    {{ level_2_full[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div
                class="d-flex mt-2 justify-content-center"
                v-for="(job, index) in level_2_full"
                :key="index"
              >
                <div
                  class="col-11 pt-0 pb-0"
                  v-if="
                    job.date_time_job.date_start == item.date_start &&
                      job.date_time_job.date_end == item.date_end
                  "
                >
                  <div class="body_input d-flex">
                    <!-- <p>{{ job }}</p> -->
                    <div class="col-3">
                      <img :src="job.img" style="width:60px;height:60px" />
                    </div>
                    <div class="col-9">
                      <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                      <p class="text_des w-100">
                        {{ job.user.title }}
                        {{ job.user.name }}
                      </p>
                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            Level {{ level_1_full[0].level }} :
                            {{ level_1_full[0].position }}
                          </p>
                        </div>
                      </div>

                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            วันที่ปฏิบัติงาน {{ job.date_time_job.date_start }}
                          </p>
                        </div>
                      </div>

                      <div
                        v-if="job.status == 'cancel_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยพนักงาน
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยพนักงาน
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            v-if="
              getHeaderFullTime(item.date_start, item.date_end, level_3_full)
                .length > 0
            "
          >
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_3_full[0].level }} :
                    {{ level_3_full[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div
                class="d-flex mt-2 justify-content-center"
                v-for="(job, index) in level_3_full"
                :key="index"
              >
                <div
                  class="col-11 pt-0 pb-0"
                  v-if="
                    job.date_time_job.date_start == item.date_start &&
                      job.date_time_job.date_end == item.date_end
                  "
                >
                  <div class="body_input d-flex">
                    <!-- <p>{{ job }}</p> -->
                    <div class="col-3">
                      <img :src="job.img" style="width:60px;height:60px" />
                    </div>
                    <div class="col-9">
                      <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                      <p class="text_des w-100">
                        {{ job.user.title }}
                        {{ job.user.name }}
                      </p>
                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            Level {{ level_3_full[0].level }} :
                            {{ level_3_full[0].position }}
                          </p>
                        </div>
                      </div>

                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            วันที่ปฏิบัติงาน {{ job.date_time_job.date_start }}
                          </p>
                        </div>
                      </div>

                      <div
                        v-if="job.status == 'cancel_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยพนักงาน
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยพนักงาน
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            v-if="
              getHeaderFullTime(item.date_start, item.date_end, level_4_full)
                .length > 0
            "
          >
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_4_full[0].level }} :
                    {{ level_4_full[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div
                class="d-flex mt-2 justify-content-center"
                v-for="(job, index) in level_4_full"
                :key="index"
              >
                <div
                  class="col-11 pt-0 pb-0"
                  v-if="
                    job.date_time_job.date_start == item.date_start &&
                      job.date_time_job.date_end == item.date_end
                  "
                >
                  <div class="body_input d-flex">
                    <!-- <p>{{ job }}</p> -->
                    <div class="col-3">
                      <img :src="job.img" style="width:60px;height:60px" />
                    </div>
                    <div class="col-9">
                      <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                      <p class="text_des w-100">
                        {{ job.user.title }}
                        {{ job.user.name }}
                      </p>
                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            Level {{ level_4_full[0].level }} :
                            {{ level_4_full[0].position }}
                          </p>
                        </div>
                      </div>

                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            วันที่ปฏิบัติงาน {{ job.date_time_job.date_start }}
                          </p>
                        </div>
                      </div>

                      <div
                        v-if="job.status == 'cancel_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยพนักงาน
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยพนักงาน
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div
            v-if="
              getHeaderFullTime(item.date_start, item.date_end, level_5_full)
                .length > 0
            "
          >
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_5_full[0].level }} :
                    {{ level_5_full[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div
                class="d-flex mt-2 justify-content-center"
                v-for="(job, index) in level_5_full"
                :key="index"
              >
                <div
                  class="col-11 pt-0 pb-0"
                  v-if="
                    job.date_time_job.date_start == item.date_start &&
                      job.date_time_job.date_end == item.date_end
                  "
                >
                  <div class="body_input d-flex">
                    <!-- <p>{{ job }}</p> -->
                    <div class="col-3">
                      <img :src="job.img" style="width:60px;height:60px" />
                    </div>
                    <div class="col-9">
                      <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                      <p class="text_des w-100">
                        {{ job.user.title }}
                        {{ job.user.name }}
                      </p>
                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            Level {{ level_4_full[0].level }} :
                            {{ level_4_full[0].position }}
                          </p>
                        </div>
                      </div>

                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            วันที่ปฏิบัติงาน {{ job.date_time_job.date_start }}
                          </p>
                        </div>
                      </div>

                      <div
                        v-if="job.status == 'cancel_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยพนักงาน
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยพนักงาน
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div
            v-if="
              getHeaderFullTime(item.date_start, item.date_end, level_6_full)
                .length > 0
            "
          >
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_6_full[0].level }} :
                    {{ level_6_full[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div
                class="d-flex mt-2 justify-content-center"
                v-for="(job, index) in level_6_full"
                :key="index"
              >
                <div
                  class="col-11 pt-0 pb-0"
                  v-if="
                    job.date_time_job.date_start == item.date_start &&
                      job.date_time_job.date_end == item.date_end
                  "
                >
                  <div class="body_input d-flex">
                    <!-- <p>{{ job }}</p> -->
                    <div class="col-3">
                      <img :src="job.img" style="width:60px;height:60px" />
                    </div>
                    <div class="col-9">
                      <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                      <p class="text_des w-100">
                        {{ job.user.title }}
                        {{ job.user.name }}
                      </p>
                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            Level {{ level_6_full[0].level }} :
                            {{ level_6_full[0].position }}
                          </p>
                        </div>
                      </div>

                      <div class="d-flex">
                        <div class="col-12 p-0">
                          <p class="text_des w-100">
                            วันที่ปฏิบัติงาน {{ job.date_time_job.date_start }}
                          </p>
                        </div>
                      </div>

                      <div
                        v-if="job.status == 'cancel_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_company'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยผู้ประกอบการ
                      </div>
                      <div
                        v-if="job.status == 'cancel_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกคำขอการปฏิบัติงานโดยพนักงาน
                      </div>
                      <div
                        v-if="job.status == 'cancel_confirm_by_employee'"
                        class="text-cancle margin_top2"
                      >
                        ยกเลิกการปฏิบัติงานโดยพนักงาน
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="text-center" style="margin-top:20%">
      <b style="color:black;font-size:15px;">ไม่มีรายการการยกเลิก</b>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import { baseUrl } from "../util/backend";
import moment from "moment";
export default {
  data() {
    return {
      address_job: {},
      all_em: {
        level_1: [],
        level_2: [],
        level_3: [],
        level_4_full: [],
        level_5: [],
        level_6: [],
      },
      user_level_1: [],
      user_level_2: [],
      user_level_3: [],
      user_level_4: [],
      user_level_5: [],
      user_level_6: [],

      profile_img: null,
      profile_user: [],
      count: 0,
      activeList: true,
      for_post: [],
      activated: false,
      day_show: [],
      day_show_full: [],
    };
  },
  methods: {
    getHeader(date, level) {
      console.log(`date`, date);
      console.log(`can level`, level);
      let result = level.filter((data) => data.period_job.date_start === date);
      // console.log(`check result`, a);

      return result;
    },

    getHeaderFullTime(dateStart, dateEnd, level) {
      console.log(`dateStart`, dateStart);
      console.log(`dateEnd`, dateEnd);

      console.log(`can level`, level);
      let result = level.filter(
        (data) =>
          data.date_time_job.date_start === dateStart &&
          data.date_time_job.date_end === dateEnd
      );
      // console.log(`check result`, a);

      return result;
    },
    async get_list_sub() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var requestOptions = {
        method: "GET",
        headers: myHeaders,

        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/address/${this.company_id}/${this.sub_com_id}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          this.address_job = result;
          // this.$store.dispatch("addressCompanyId", result.address_com_id);
          console.log(this.address_job);
        })
        .catch((error) => console.log("error", error));
    },

    async get_em_select() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/dealjob/company/${localStorage.idUser}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log("employee will select job", result);

          result.deal_job.forEach(async (o) => {
            if (o.level === 1 && o.annoucement.deal_jobs[0]) {
              // console.log("oooo", o);

              o.annoucement.deal_jobs.forEach(async (i) => {
                var requestOptions = {
                  method: "GET",
                  redirect: "follow",
                };

                await fetch(
                  `${baseUrl}api/image/profile/` + `${i.user.member}`,
                  requestOptions
                )
                  .then((response) => response.text())
                  .then((result) => {
                    result = JSON.parse(result);
                    console.log(result.link);
                    // console.log("img", result.link);

                    //  this.img_level_1.push(result.link);
                    // console.log("img coming", this.img_level_1);
                    o.annoucement.date_time_job.date_start = moment(
                      o.annoucement.date_time_job.date_start
                    ).format("dd DD-MM-YY");
                    o.annoucement.date_time_job.date_end = moment(
                      o.annoucement.date_time_job.date_end
                    ).format("dd DD-MM-YY");

                    if (result.link) {
                      this.all_em.level_1.push(o);
                      // console.log("ooo level_1", i);
                      Object.assign(i, { img: result.link });
                      Object.assign(i, {
                        date_time_job: o.annoucement.date_time_job,
                      });
                      Object.assign(i, { type: o.type });
                      this.user_level_1.push(i);
                      setTimeout(() => {
                        // console.log("log level_1 Full", this.all_em.level_1);
                        // console.log("before level_1 Full", this.user_level_1);
                        this.user_level_1 = this.lodash.filter(
                          this.user_level_1,
                          (a) => {
                            return (
                              a.status !== "waiting" &&
                              a.status !== "confirm" &&
                              a.status !== "complete"
                            );
                          }
                        );
                        console.log("after level_1 Full", this.user_level_1);
                      }, 500);
                    }
                  })
                  .catch((error) => console.log("error", error));

                // console.log("i yaaa", this.img_level_1);
              });
            }

            if (o.level === 2 && o.annoucement.deal_jobs[0]) {
              o.annoucement.deal_jobs.forEach(async (i) => {
                var requestOptions = {
                  method: "GET",
                  redirect: "follow",
                };

                await fetch(
                  `${baseUrl}api/image/profile/` + `${i.user.member}`,
                  requestOptions
                )
                  .then((response) => response.text())
                  .then((result) => {
                    result = JSON.parse(result);
                    console.log(result.link);
                    // this.img_level_2.push(result.link);
                    o.annoucement.date_time_job.date_start = moment(
                      o.annoucement.date_time_job.date_start
                    ).format("dd DD-MM-YY");
                    o.annoucement.date_time_job.date_end = moment(
                      o.annoucement.date_time_job.date_end
                    ).format("dd DD-MM-YY");
                    if (result.link) {
                      this.all_em.level_2.push(o);
                      // console.log("ooo level_2", i);
                      Object.assign(i, { img: result.link });
                      Object.assign(i, {
                        date_time_job: o.annoucement.date_time_job,
                      });
                      Object.assign(i, { type: o.type });
                      this.user_level_2.push(i);
                      setTimeout(() => {
                        // console.log("log level_2 Full", this.all_em.level_2);
                        // console.log("before level_2 Full", this.user_level_2);
                        this.user_level_2 = this.lodash.filter(
                          this.user_level_2,
                          (a) => {
                            return (
                              a.status !== "waiting" &&
                              a.status !== "confirm" &&
                              a.status !== "complete"
                            );
                          }
                        );
                        // console.log("all em lv2", this.all_em.level_2);

                        console.log("after level_2 Full", this.user_level_2);
                      }, 500);
                    }
                  })
                  .catch((error) => console.log("error", error));

                // console.log("i yaaa", this.img_level_2);
              });
            }
            if (o.level === 3 && o.annoucement.deal_jobs[0]) {
              o.annoucement.deal_jobs.forEach(async (i) => {
                var requestOptions = {
                  method: "GET",
                  redirect: "follow",
                };

                await fetch(
                  `${baseUrl}api/image/profile/` + `${i.user.member}`,
                  requestOptions
                )
                  .then((response) => response.text())
                  .then((result) => {
                    result = JSON.parse(result);
                    o.annoucement.date_time_job.date_start = moment(
                      o.annoucement.date_time_job.date_start
                    ).format("dd DD-MM-YY");
                    o.annoucement.date_time_job.date_end = moment(
                      o.annoucement.date_time_job.date_end
                    ).format("dd DD-MM-YY");
                    if (result.link) {
                      this.all_em.level_3.push(o);
                      console.log("ooo level_3", o);
                      Object.assign(i, { img: result.link });
                      Object.assign(i, {
                        date_time_job: o.annoucement.date_time_job,
                      });
                      Object.assign(i, { type: o.type });
                      this.user_level_3.push(i);
                      setTimeout(() => {
                        // console.log("log level_3 Full", this.all_em.level_3);
                        // console.log("before level_3 Full", this.user_level_3);
                        this.user_level_3 = this.lodash.filter(
                          this.user_level_3,
                          (a) => {
                            return (
                              a.status !== "waiting" &&
                              a.status !== "confirm" &&
                              a.status !== "complete"
                            );
                          }
                        );
                        console.log("after level_3 Full", this.user_level_3);
                      }, 500);
                    }
                  })
                  .catch((error) => console.log("error", error));

                // console.log("i yaaa", this.img_level_3);
              });

              // forEach
              // console.log("log level_3", this.all_em.level_3);
            }
            if (o.level === 4 && o.annoucement.deal_jobs[0]) {
              o.annoucement.deal_jobs.forEach(async (i) => {
                var requestOptions = {
                  method: "GET",
                  redirect: "follow",
                };

                await fetch(
                  `${baseUrl}api/image/profile/` + `${i.user.member}`,
                  requestOptions
                )
                  .then((response) => response.text())
                  .then((result) => {
                    result = JSON.parse(result);
                    o.annoucement.date_time_job.date_start = moment(
                      o.annoucement.date_time_job.date_start
                    ).format("dd DD-MM-YY");
                    o.annoucement.date_time_job.date_end = moment(
                      o.annoucement.date_time_job.date_end
                    ).format("dd DD-MM-YY");
                    if (result.link) {
                      this.all_em.level_4.push(o);
                      // console.log("ooo level_4", i);
                      Object.assign(i, { img: result.link });
                      Object.assign(i, {
                        date_time_job: o.annoucement.date_time_job,
                      });
                      Object.assign(i, { type: o.type });
                      this.user_level_4.push(i);
                      setTimeout(() => {
                        console.log("log level_4 Full", this.all_em.level_4);
                        console.log("before level_4 Full", this.user_level_4);
                        this.user_level_4 = this.lodash.filter(
                          this.user_level_4,
                          (a) => {
                            return (
                              a.status !== "waiting" &&
                              a.status !== "confirm" &&
                              a.status !== "complete"
                            );
                          }
                        );
                        console.log("after level_4 Full", this.user_level_4);
                      }, 500);
                    }
                  })
                  .catch((error) => console.log("error", error));

                // console.log("i yaaa", this.img_level_4);
              });
            }
            if (o.level === 5 && o.annoucement.deal_jobs[0]) {
              o.annoucement.deal_jobs.forEach(async (i) => {
                var requestOptions = {
                  method: "GET",
                  redirect: "follow",
                };

                await fetch(
                  `${baseUrl}api/image/profile/` + `${i.user.member}`,
                  requestOptions
                )
                  .then((response) => response.text())
                  .then((result) => {
                    result = JSON.parse(result);
                    o.annoucement.date_time_job.date_start = moment(
                      o.annoucement.date_time_job.date_start
                    ).format("dd DD-MM-YY");
                    o.annoucement.date_time_job.date_end = moment(
                      o.annoucement.date_time_job.date_end
                    ).format("dd DD-MM-YY");
                    if (result.link) {
                      this.all_em.level_5.push(o);
                      // console.log("ooo level_5", i);
                      Object.assign(i, { img: result.link });
                      Object.assign(i, {
                        date_time_job: o.annoucement.date_time_job,
                      });
                      Object.assign(i, { type: o.type });
                      this.user_level_5.push(i);
                      setTimeout(() => {
                        // console.log("log level_5 Full", this.all_em.level_5);
                        // console.log("before level_5 Full", this.user_level_5);
                        this.user_level_5 = this.lodash.filter(
                          this.user_level_5,
                          (a) => {
                            // console.log(
                            //   "level_5 a status" + `${a.deal_job_id}`,
                            //   a.status
                            // );

                            return (
                              a.status !== "waiting" &&
                              a.status !== "confirm" &&
                              a.status !== "complete"
                            );
                          }
                        );
                        console.log("after level_5 Full", this.user_level_5);
                      }, 500);
                    }
                  })
                  .catch((error) => console.log("error", error));

                // console.log("i yaaa", this.img_level_5);
              });
            }
            if (o.level === 6 && o.annoucement.deal_jobs[0]) {
              o.annoucement.deal_jobs.forEach(async (i) => {
                var requestOptions = {
                  method: "GET",
                  redirect: "follow",
                };

                await fetch(
                  `${baseUrl}api/image/profile/` + `${i.user.member}`,
                  requestOptions
                )
                  .then((response) => response.text())
                  .then((result) => {
                    result = JSON.parse(result);
                    o.annoucement.date_time_job.date_start = moment(
                      o.annoucement.date_time_job.date_start
                    ).format("dd DD-MM-YY");
                    o.annoucement.date_time_job.date_end = moment(
                      o.annoucement.date_time_job.date_end
                    ).format("dd DD-MM-YY");
                    if (result.link) {
                      this.all_em.level_6.push(o);
                      // console.log("ooo level_6", i);
                      Object.assign(i, { img: result.link });
                      Object.assign(i, {
                        date_time_job: o.annoucement.date_time_job,
                      });
                      Object.assign(i, { type: o.type });
                      this.user_level_6.push(i);
                      setTimeout(() => {
                        // console.log("log level_6 Full", this.all_em.level_6);
                        // console.log("before level_6 Full", this.user_level_6);
                        this.user_level_6 = this.lodash.filter(
                          this.user_level_6,
                          (a) => {
                            return (
                              a.status !== "waiting" &&
                              a.status !== "confirm" &&
                              a.status !== "complete"
                            );
                          }
                        );
                        console.log("after level_6 Full", this.user_level_6);
                      }, 500);
                    }
                  })
                  .catch((error) => console.log("error", error));

                // console.log("i yaaa", this.img_level_6);
              });
            }
          });
          result.deal_job_part_time.forEach(async (o) => {
            if (o.level === 1 && o.annoucement.deal_job_part_times[0]) {
              // console.log("oooo", o);

              o.annoucement.deal_job_part_times.forEach(async (i) => {
                var requestOptions = {
                  method: "GET",
                  redirect: "follow",
                };

                await fetch(
                  `${baseUrl}api/image/profile/` + `${i.user.member}`,
                  requestOptions
                )
                  .then((response) => response.text())
                  .then((result) => {
                    result = JSON.parse(result);
                    console.log(result.link);
                    console.log("ooo part lv1", i.period_job);
                    i.period_job.date_start = moment(
                      i.period_job.date_start
                    ).format("dd DD-MM-YY");
                    // console.log("img", result.link);

                    //  this.img_level_1.push(result.link);
                    // console.log("img coming", this.img_level_1);
                    if (result.link) {
                      this.all_em.level_1.push(o);
                      // console.log("ooo level_1", i);
                      Object.assign(i, { img: result.link });
                      Object.assign(i, {
                        date_time_job: o.annoucement.date_time_job,
                      });
                      Object.assign(i, { type: o.type });
                      this.user_level_1.push(i);
                      setTimeout(() => {
                        // console.log("log level_1 Part", this.all_em.level_1);
                        // console.log("before level_1 Part", this.user_level_1);
                        this.user_level_1 = this.lodash.filter(
                          this.user_level_1,
                          (a) => {
                            return (
                              a.status !== "waiting" &&
                              a.status !== "confirm" &&
                              a.status !== "complete"
                            );
                          }
                        );
                        console.log("after level_1 Part", this.user_level_1);
                      }, 500);
                    }
                  })
                  .catch((error) => console.log("error", error));

                // console.log("i yaaa", this.img_level_1);
              });
            }

            if (o.level === 2 && o.annoucement.deal_job_part_times[0]) {
              o.annoucement.deal_job_part_times.forEach(async (i) => {
                var requestOptions = {
                  method: "GET",
                  redirect: "follow",
                };

                await fetch(
                  `${baseUrl}api/image/profile/` + `${i.user.member}`,
                  requestOptions
                )
                  .then((response) => response.text())
                  .then((result) => {
                    result = JSON.parse(result);
                    console.log(result.link);
                    // this.img_level_2.push(result.link);
                    i.period_job.date_start = moment(
                      i.period_job.date_start
                    ).format("dd DD-MM-YY");
                    if (result.link) {
                      this.all_em.level_2.push(o);
                      // console.log("ooo level_2", i);
                      Object.assign(i, { img: result.link });
                      Object.assign(i, {
                        date_time_job: o.annoucement.date_time_job,
                      });
                      Object.assign(i, { type: o.type });
                      this.user_level_2.push(i);
                      setTimeout(() => {
                        // console.log("log level_2 Part", this.all_em.level_2);
                        // console.log("before level_2 Part", this.user_level_2);
                        this.user_level_2 = this.lodash.filter(
                          this.user_level_2,
                          (a) => {
                            return (
                              a.status !== "waiting" &&
                              a.status !== "confirm" &&
                              a.status !== "complete"
                            );
                          }
                        );
                        // console.log("all em lv2 Part", this.all_em.level_2);

                        console.log("after level_2 Part", this.user_level_2);
                      }, 500);
                    }
                  })
                  .catch((error) => console.log("error", error));

                // console.log("i yaaa", this.img_level_2);
              });
            }
            if (o.level === 3 && o.annoucement.deal_job_part_times[0]) {
              o.annoucement.deal_job_part_times.forEach(async (i) => {
                var requestOptions = {
                  method: "GET",
                  redirect: "follow",
                };

                await fetch(
                  `${baseUrl}api/image/profile/` + `${i.user.member}`,
                  requestOptions
                )
                  .then((response) => response.text())
                  .then((result) => {
                    result = JSON.parse(result);
                    i.period_job.date_start = moment(
                      i.period_job.date_start
                    ).format("dd DD-MM-YY");
                    if (result.link) {
                      this.all_em.level_3.push(o);
                      // console.log("ooo level_3", i);
                      Object.assign(i, { img: result.link });
                      Object.assign(i, {
                        date_time_job: o.annoucement.date_time_job,
                      });
                      Object.assign(i, { type: o.type });
                      this.user_level_3.push(i);
                      setTimeout(() => {
                        // console.log("log level_3 Part", this.all_em.level_3);
                        // console.log("before level_3 Part", this.user_level_3);
                        this.user_level_3 = this.lodash.filter(
                          this.user_level_3,
                          (a) => {
                            return (
                              a.status !== "waiting" &&
                              a.status !== "confirm" &&
                              a.status !== "complete"
                            );
                          }
                        );
                        console.log("after level_3 Part", this.user_level_3);
                      }, 500);
                    }
                  })
                  .catch((error) => console.log("error", error));

                // console.log("i yaaa", this.img_level_3);
              });

              // forEach
              // console.log("log level_3", this.all_em.level_3);
            }
            if (o.level === 4 && o.annoucement.deal_job_part_times[0]) {
              o.annoucement.deal_job_part_times.forEach(async (i) => {
                var requestOptions = {
                  method: "GET",
                  redirect: "follow",
                };

                await fetch(
                  `${baseUrl}api/image/profile/` + `${i.user.member}`,
                  requestOptions
                )
                  .then((response) => response.text())
                  .then((result) => {
                    result = JSON.parse(result);
                    i.period_job.date_start = moment(
                      i.period_job.date_start
                    ).format("dd DD-MM-YY");
                    if (result.link) {
                      this.all_em.level_4.push(o);
                      // console.log("ooo level_4", i);
                      Object.assign(i, { img: result.link });
                      Object.assign(i, {
                        date_time_job: o.annoucement.date_time_job,
                      });
                      Object.assign(i, { type: o.type });
                      this.user_level_4.push(i);
                      setTimeout(() => {
                        // console.log("log level_4 Part", this.all_em.level_4);
                        // console.log("before level_4 Part", this.user_level_4);
                        this.user_level_4 = this.lodash.filter(
                          this.user_level_4,
                          (a) => {
                            return (
                              a.status !== "waiting" &&
                              a.status !== "confirm" &&
                              a.status !== "complete"
                            );
                          }
                        );
                        console.log("after level_4 Part", this.user_level_4);
                      }, 500);
                    }
                  })
                  .catch((error) => console.log("error", error));

                // console.log("i yaaa", this.img_level_4);
              });
            }
            if (o.level === 5 && o.annoucement.deal_job_part_times[0]) {
              o.annoucement.deal_job_part_times.forEach(async (i) => {
                var requestOptions = {
                  method: "GET",
                  redirect: "follow",
                };

                await fetch(
                  `${baseUrl}api/image/profile/` + `${i.user.member}`,
                  requestOptions
                )
                  .then((response) => response.text())
                  .then((result) => {
                    result = JSON.parse(result);
                    i.period_job.date_start = moment(
                      i.period_job.date_start
                    ).format("dd DD-MM-YY");
                    if (result.link) {
                      this.all_em.level_5.push(o);
                      // console.log("ooo level_5", i);
                      Object.assign(i, { img: result.link });
                      Object.assign(i, {
                        date_time_job: o.annoucement.date_time_job,
                      });
                      Object.assign(i, { type: o.type });
                      this.user_level_5.push(i);
                      setTimeout(() => {
                        // console.log("log level_5 Part", this.all_em.level_5);
                        // console.log("before level_5 Part", this.user_level_5);
                        this.user_level_5 = this.lodash.filter(
                          this.user_level_5,
                          (a) => {
                            // console.log(
                            //   "level_5 a status" + `${a.deal_job_part_time_id}`,
                            //   a.status
                            // );

                            return (
                              a.status !== "waiting" &&
                              a.status !== "confirm" &&
                              a.status !== "complete"
                            );
                          }
                        );
                        console.log("after level_5 Part", this.user_level_5);
                      }, 500);
                    }
                  })
                  .catch((error) => console.log("error", error));

                // console.log("i yaaa", this.img_level_5);
              });
            }
            if (o.level === 6 && o.annoucement.deal_job_part_times[0]) {
              o.annoucement.deal_job_part_times.forEach(async (i) => {
                var requestOptions = {
                  method: "GET",
                  redirect: "follow",
                };

                await fetch(
                  `${baseUrl}api/image/profile/` + `${i.user.member}`,
                  requestOptions
                )
                  .then((response) => response.text())
                  .then((result) => {
                    result = JSON.parse(result);
                    i.period_job.date_start = moment(
                      i.period_job.date_start
                    ).format("dd DD-MM-YY");
                    if (result.link) {
                      this.all_em.level_6.push(o);
                      // console.log("ooo level_6", i);
                      Object.assign(i, { img: result.link });
                      Object.assign(i, {
                        date_time_job: o.annoucement.date_time_job,
                      });
                      Object.assign(i, { type: o.type });
                      this.user_level_6.push(i);
                      setTimeout(() => {
                        // console.log("log level_6 Part", this.all_em.level_6);
                        // console.log("before level_6 Part", this.user_level_6);
                        this.user_level_6 = this.lodash.filter(
                          this.user_level_6,
                          (a) => {
                            return (
                              a.status !== "waiting" &&
                              a.status !== "confirm" &&
                              a.status !== "complete"
                            );
                          }
                        );
                        console.log("after level_6 Part", this.user_level_6);
                      }, 500);
                    }
                  })
                  .catch((error) => console.log("error", error));

                // console.log("i yaaa", this.img_level_6);
              });
            }
          });

          console.log("classicfied level:", this.all_em);
        })
        .catch((error) => console.log("error", error));
    },
    async get_profile_img(id) {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/image/profile/` + `${id}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result.link);
          this.img_level_1.push({ img: result.link });
        })
        .catch((error) => console.log("error", error));
    },
    goBack() {
      this.$emit("select", { active_3: this.isActive });
      this.$store.dispatch("activeList", this.activeList);
    },

    choose(job) {
      console.log("coming", job);
      if (this.for_post[0]) {
        // this.for_post.push(job);
        this.for_post.forEach((o) => {
          console.log("for post", o);

          if (o.deal_job_id === job.deal_job_id) {
            console.log("same");

            this.lodash.remove(this.for_post, (e) => {
              console.log(e);

              return (e.deal_job_id = job.deal_job_id);
            });
          } else {
            this.for_post.push(job);
          }
        });
      } else {
        this.for_post.push(job);
      }
      console.log("for post", this.for_post);
      if (this.for_post[0]) {
        this.activated = true;
      } else {
        this.activated = false;
      }
    },
    confirm_job() {
      this.for_post.forEach((o) => {
        this.post_confirm_job(o.deal_job_id);
      });
    },
    async post_confirm_job(id) {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var raw = JSON.stringify({ deal_job_id: id });

      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/confirm/job`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          this.get_em_select();
        })
        .catch((error) => console.log("error", error));
    },
    goEmployeeDetail(user) {
      // console.log("go employee eiei ", user);
      this.$store.dispatch("addDetailEm", user);
      this.$router.push("/employeeDetails");
    },
  },
  created() {
    console.log("cancle from vuex", this.cancle);

    // console.log("ok");
    // console.log(this.company_id);
    // console.log(this.sub_com_id);
    // console.log("content announce", this.getAnnounce);
    // this.get_em_select();

    this.get_list_sub();
  },
  updated() {
    // console.log("check announce", this.getAnnounce);
  },

  computed: {
    allEmployee() {
      return this.all_em;
    },
    show_part() {
      let a = [];
      if (this.cancle.length > 0) {
        this.cancle.forEach((i) => {
          if (i.type == "Part time") a.push(i.period_job);
        });

        a = this.lodash.uniqBy(a, (elem) => {
          return elem.date_start;
        });

        console.log("day one deaun", a);
      }
      console.log(`aaaaaa`, a);
      console.log(`level2`, this.level_2.slice(0, 1));
      return a;
    },
    show_full() {
      let a = [];
      if (this.cancle.length > 0) {
        this.cancle.forEach((i) => {
          if (i.type == "Full time") {
            a.push(i.date_time_job);
          }
        });

        a = this.lodash.uniqBy(a, (elem) => {
          return [elem.date_start, elem.date_end].join();
        });

        console.log("day one deaun full", a);
      }
      return a;
    },
    level_1() {
      let a = this.lodash.filter(this.cancle, { level: 1, type: "Part time" });

      return a;
    },
    level_2() {
      let a = this.lodash.filter(this.cancle, { level: 2, type: "Part time" });
      console.log("a level_2 part", a);

      return a;
    },
    level_3() {
      let a = this.lodash.filter(this.cancle, { level: 3, type: "Part time" });
      return a;
    },
    level_4() {
      let a = this.lodash.filter(this.cancle, { level: 4, type: "Part time" });
      return a;
    },
    level_5() {
      let a = this.lodash.filter(this.cancle, { level: 5, type: "Part time" });
      return a;
    },
    level_6() {
      let a = this.lodash.filter(this.cancle, { level: 6, type: "Part time" });
      return a;
    },
    level_1_full() {
      let a = this.lodash.filter(this.cancle, { level: 1, type: "Full time" });

      return a;
    },
    level_2_full() {
      let a = this.lodash.filter(this.cancle, { level: 2, type: "Full time" });
      return a;
    },
    level_3_full() {
      let a = this.lodash.filter(this.cancle, { level: 3, type: "Full time" });
      return a;
    },
    level_4_full() {
      let a = this.lodash.filter(this.cancle, { level: 4, type: "Full time" });
      console.log("a_level_4", a);

      return a;
    },
    level_5_full() {
      let a = this.lodash.filter(this.cancle, { level: 5, type: "Full time" });
      return a;
    },
    level_6_full() {
      let a = this.lodash.filter(this.cancle, { level: 6, type: "Full time" });
      return a;
    },

    ...mapGetters({
      getAnnounce: "getAnnounce",
      company_id: "getCompanyId",
      sub_com_id: "getSubCompanyId",
      address_com_id: "getAddressComId",
      cancle: "getCancleAll",
    }),
  },
};
</script>
<style>
.align-items-center {
  display: flex;
  align-items: center;
}
.active {
  background: #8a296d !important;
}
.text-cancle {
  color: #f04c23;
  font-size: 12px;
}
.margin_top2 {
  margin-top: 2%;
}
</style>

<style scoped>
.badge-job {
  display: inline-block;
  width: 60px;
  border-radius: 2px;
  text-align: center;
  font-size: 12px;
}

.badge-job-green {
  background-color: #aed593;
}

.badge-job-yellow {
  background-color: #feda6d;
}
</style>
