<template>
  <div style="background-color:#ffffff">
    <div v-if="level_1[0]">
      <div style="display:flex" class="mt-2">
        <div class="col-2 p-0"></div>
        <div
          class="col-8 p-0"
          style="background-color:#f3bb25;border-radius:7px"
        >
          <p style="font-size:12px !important" class="m-1">
            {{ getAnnounce.level_1[0].position }}
          </p>
        </div>
        <div class="col-2 p-0"></div>
      </div>
      <div
        class="body_input pt-0"
        v-for="(job, index) in getAnnounce.level_1"
        :key="index"
      >
        <div class="row" style="margin-left:5px">
          <div class="col-3">
            <img :src="job.place_img" alt style="width:60px;height:60px" />
          </div>
          <div class="col-8" style="margin-left:2%">
            <div class="row">
              <div v-if="job.level <= 4">
                <p class="text_des w-100">
                  Level {{ job.level }} : {{ job.position }}
                </p>
              </div>
              <div v-else>
                <p class="text_des w-100">{{ job.position }}</p>
              </div>

              <p class="text_des w-100">{{ job.type }}</p>
              <div style="width:90%">
                <p class="text_des">
                  {{ address_job.company_name }} แขวง
                  {{ address_job.district }} เขต {{ address_job.zone }} จังหวัด
                  {{ address_job.province }}
                </p>
              </div>
              <p class="text_des w-100">{{ job.amount }} ตำแหน่ง</p>
              <br />
              <p class="text_des w-100">
                เวลาการทำงาน {{ job.date_time_job.time_start }} -
                {{ job.date_time_job.time_end }}น.
              </p>
              <div v-if="job.type === 'Part Time'" style="display:flex">
                <p class="text_des col-4 col-lg-4 col-md-3 p-0">
                  วันปฏิบัติงาน
                </p>
                <div
                  class="p-0 col-8 text-left d-flex flex-wrap"
                  style="margin-top:2%"
                >
                  <p
                    class="text_des text-dark mr-2 mt-0"
                    v-for="(item, index) in job.period"
                    :key="index"
                  >
                    {{ item.day }},
                    <br />
                  </p>
                </div>
              </div>
              <div v-else>
                <p class="text_des">
                  วันปฏิบัติงาน {{ job.date_time_job.date_start }} -
                  {{ job.date_time_job.date_end }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="level_2[0]">
      <div style="display:flex" class="mt-2">
        <div class="col-2 p-0"></div>
        <div
          class="col-8 p-0"
          style="background-color:#f3bb25;border-radius:7px"
        >
          <p style="font-size:12px !important" class="m-1">
            {{ getAnnounce.level_2[0].position }}
          </p>
        </div>
        <div class="col-2 p-0"></div>
      </div>
      <div
        class="body_input"
        v-for="(job, index) in getAnnounce.level_2"
        :key="index"
      >
        <div class="row" style="margin-left:5px">
          <div class="col-3">
            <img :src="job.place_img" alt style="width:60px;height:60px" />
          </div>
          <div class="col-8" style="margin-left:2%">
            <div class="row">
              <div v-if="job.level <= 4">
                <p class="text_des w-100">
                  Level {{ job.level }} : {{ job.position }}
                </p>
              </div>
              <div v-else>
                <p class="text_des w-100">{{ job.position }}</p>
              </div>

              <p class="text_des w-100">{{ job.type }}</p>
              <div style="width:90%">
                <p class="text_des w-100">
                  {{ address_job.company_name }} แขวง
                  {{ address_job.district }} เขต {{ address_job.zone }} จังหวัด
                  {{ address_job.province }}
                </p>
              </div>
              <p class="text_des w-100">{{ job.amount }} ตำแหน่ง</p>
              <br />
              <p class="text_des w-100">
                เวลาการทำงาน {{ job.date_time_job.time_start }} -
                {{ job.date_time_job.time_end }}น.
              </p>
              <div v-if="job.type === 'Part Time'" style="display:flex">
                <p class="text_des col-4 col-lg-4 col-md-3 p-0">
                  วันปฏิบัติงาน
                </p>
                <div
                  class="p-0 col-8 text-left d-flex flex-wrap"
                  style="margin-top:2%"
                >
                  <p
                    class="text_des text-dark mr-2 mt-0"
                    v-for="(item, index) in job.period"
                    :key="index"
                  >
                    {{ item.day }},
                    <br />
                  </p>
                </div>
              </div>
              <div v-else>
                <p class="text_des">
                  วันปฏิบัติงาน {{ job.date_time_job.date_start }} -
                  {{ job.date_time_job.date_end }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="level_3[0]">
      <div style="display:flex" class="mt-2">
        <div class="col-2 p-0"></div>
        <div
          class="col-8 p-0"
          style="background-color:#f3bb25;border-radius:7px"
        >
          <p style="font-size:12px !important" class="m-1">
            {{ getAnnounce.level_3[0].position }}
          </p>
        </div>
        <div class="col-2 p-0"></div>
      </div>
      <div
        class="body_input"
        v-for="(job, index) in getAnnounce.level_3"
        :key="index"
      >
        <div class="row" style="margin-left:5px">
          <div class="col-3">
            <img :src="job.place_img" alt style="width:60px;height:60px" />
          </div>
          <div class="col-8" style="margin-left:2%">
            <div class="row">
              <div v-if="job.level <= 4">
                <p class="text_des w-100">
                  Level {{ job.level }} : {{ job.position }}
                </p>
              </div>
              <div v-else>
                <p class="text_des w-100">{{ job.position }}</p>
              </div>

              <p class="text_des w-100">{{ job.type }}</p>
              <div style="width:90%">
                <p class="text_des">
                  {{ address_job.company_name }} แขวง
                  {{ address_job.district }} เขต {{ address_job.zone }} จังหวัด
                  {{ address_job.province }}
                </p>
              </div>
              <p class="text_des w-100">{{ job.amount }} ตำแหน่ง</p>
              <br />
              <p class="text_des w-100">
                เวลาการทำงาน {{ job.date_time_job.time_start }} -
                {{ job.date_time_job.time_end }}น.
              </p>
              <div v-if="job.type === 'Part Time'" style="display:flex">
                <p class="text_des col-4 col-lg-4 col-md-3 p-0">
                  วันปฏิบัติงาน
                </p>
                <div
                  class="p-0 col-8 text-left d-flex flex-wrap"
                  style="margin-top:2%"
                >
                  <p
                    class="text_des text-dark mr-2 mt-0"
                    v-for="(item, index) in job.period"
                    :key="index"
                  >
                    {{ item.day }},
                    <br />
                  </p>
                </div>
              </div>
              <div v-else>
                <p class="text_des">
                  วันปฏิบัติงาน {{ job.date_time_job.date_start }} -
                  {{ job.date_time_job.date_end }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="level_4[0]">
      <div style="display:flex" class="mt-2">
        <div class="col-2 p-0"></div>
        <div
          class="col-8 p-0"
          style="background-color:#f3bb25;border-radius:7px"
        >
          <p style="font-size:12px !important" class="m-1">
            {{ getAnnounce.level_4[0].position }}
          </p>
        </div>
        <div class="col-2 p-0"></div>
      </div>
      <div
        class="body_input"
        v-for="(job, index) in getAnnounce.level_4"
        :key="index"
      >
        <div class="row" style="margin-left:5px">
          <div class="col-3">
            <img :src="job.place_img" alt style="width:60px;height:60px" />
          </div>
          <div class="col-8" style="margin-left:2%">
            <div class="row">
              <div v-if="job.level <= 4">
                <p class="text_des w-100">
                  Level {{ job.level }} : {{ job.position }}
                </p>
              </div>
              <div v-else>
                <p class="text_des w-100">{{ job.position }}</p>
              </div>

              <p class="text_des w-100">{{ job.type }}</p>
              <div style="width:90%">
                <p class="text_des">
                  {{ address_job.company_name }} แขวง
                  {{ address_job.district }} เขต {{ address_job.zone }} จังหวัด
                  {{ address_job.province }}
                </p>
              </div>
              <p class="text_des w-100">{{ job.amount }} ตำแหน่ง</p>
              <br />
              <p class="text_des w-100">
                เวลาการทำงาน {{ job.date_time_job.time_start }} -
                {{ job.date_time_job.time_end }}น.
              </p>
              <div v-if="job.type === 'Part Time'" style="display:flex">
                <p class="text_des col-4 col-lg-4 col-md-3 p-0">
                  วันปฏิบัติงาน
                </p>
                <div
                  class="p-0 col-8 text-left d-flex flex-wrap"
                  style="margin-top:2%"
                >
                  <p
                    class="text_des text-dark mr-2 mt-0"
                    v-for="(item, index) in job.period"
                    :key="index"
                  >
                    {{ item.day }},
                    <br />
                  </p>
                </div>
              </div>
              <div v-else>
                <p class="text_des">
                  วันปฏิบัติงาน {{ job.date_time_job.date_start }} -
                  {{ job.date_time_job.date_end }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="level_5[0]">
      <div style="display:flex" class="mt-2">
        <div class="col-2 p-0"></div>
        <div
          class="col-8 p-0"
          style="background-color:#f3bb25;border-radius:7px"
        >
          <p style="font-size:12px !important" class="m-1">
            {{ getAnnounce.level_5[0].position }}
          </p>
        </div>
        <div class="col-2 p-0"></div>
      </div>
      <div
        class="body_input"
        v-for="(job, index) in getAnnounce.level_5"
        :key="index"
      >
        <div class="row" style="margin-left:5px">
          <div class="col-3">
            <img :src="job.place_img" alt style="width:60px;height:60px" />
          </div>
          <div class="col-8" style="margin-left:2%">
            <div class="row">
              <div v-if="job.level <= 4">
                <p class="text_des w-100">
                  Level {{ job.level }} : {{ job.position }}
                </p>
              </div>
              <div v-else>
                <p class="text_des w-100">{{ job.position }}</p>
              </div>

              <p class="text_des w-100">{{ job.type }}</p>
              <div style="width:90%">
                <p class="text_des w-100">
                  {{ address_job.company_name }} แขวง
                  {{ address_job.district }} เขต {{ address_job.zone }} จังหวัด
                  {{ address_job.province }}
                </p>
              </div>
              <p class="text_des w-100">{{ job.amount }} ตำแหน่ง</p>
              <br />
              <p class="text_des w-100">
                เวลาการทำงาน {{ job.date_time_job.time_start }} -
                {{ job.date_time_job.time_end }}น.
              </p>
              <div v-if="job.type === 'Part Time'" style="display:flex">
                <p class="text_des col-4 col-lg-4 col-md-3 p-0">
                  วันปฏิบัติงาน
                </p>
                <div
                  class="p-0 col-8 text-left d-flex flex-wrap"
                  style="margin-top:2%"
                >
                  <p
                    class="text_des text-dark mr-2 mt-0"
                    v-for="(item, index) in job.period"
                    :key="index"
                  >
                    {{ item.day }},
                    <br />
                  </p>
                </div>
              </div>
              <div v-else>
                <p class="text_des">
                  วันปฏิบัติงาน {{ job.date_time_job.date_start }} -
                  {{ job.date_time_job.date_end }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="level_6[0]">
      <div style="display:flex" class="mt-2">
        <div class="col-2 p-0"></div>
        <div
          class="col-8 p-0"
          style="background-color:#f3bb25;border-radius:7px"
        >
          <p style="font-size:12px !important" class="m-1">
            {{ getAnnounce.level_6[0].position }}
          </p>
        </div>
        <div class="col-2 p-0"></div>
      </div>
      <div
        class="body_input"
        v-for="(job, index) in getAnnounce.level_6"
        :key="index"
      >
        <div class="row" style="margin-left:5px">
          <div class="col-3">
            <img :src="job.place_img" alt style="width:60px;height:60px" />
          </div>
          <div class="col-8" style="margin-left:2%">
            <div class="row">
              <div v-if="job.level <= 4">
                <p class="text_des w-100">
                  Level {{ job.level }} : {{ job.position }}
                </p>
              </div>
              <div v-else>
                <p class="text_des w-100">{{ job.position }}</p>
              </div>

              <p class="text_des w-100">{{ job.type }}</p>
              <div style="width:90%">
                <p class="text_des">
                  {{ address_job.company_name }} แขวง
                  {{ address_job.district }} เขต {{ address_job.zone }} จังหวัด
                  {{ address_job.province }}
                </p>
              </div>
              <p class="text_des w-100">{{ job.amount }} ตำแหน่ง</p>
              <br />
              <p class="text_des w-100">
                เวลาการทำงาน {{ job.date_time_job.time_start }} -
                {{ job.date_time_job.time_end }}น.
              </p>
              <div v-if="job.type === 'Part Time'" style="display:flex">
                <p class="text_des col-4 col-lg-4 col-md-3 p-0">
                  วันปฏิบัติงาน
                </p>
                <div
                  class="p-0 col-8 text-left d-flex flex-wrap"
                  style="margin-top:2%"
                >
                  <p
                    class="text_des text-dark mr-2 mt-0"
                    v-for="(item, index) in job.period"
                    :key="index"
                  >
                    {{ item.day }},
                    <br />
                  </p>
                </div>
              </div>
              <div v-else>
                <p class="text_des">
                  วันปฏิบัติงาน {{ job.date_time_job.date_start }} -
                  {{ job.date_time_job.date_end }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import { baseUrl } from "../util/backend";
export default {
  data() {
    return {
      address_job: {},
    };
  },
  methods: {
    async get_list_sub() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var requestOptions = {
        method: "GET",
        headers: myHeaders,

        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/address/${this.company_id}/${this.sub_com_id}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          this.address_job = result;
          // this.$store.dispatch("addressCompanyId", result.address_com_id);
          console.log(this.address_job);
        })
        .catch((error) => console.log("error", error));
    },
  },
  created() {
    console.log("ok");
    console.log(this.company_id);
    console.log(this.sub_com_id);
    console.log("content announce", this.getAnnounce);

    this.get_list_sub();
  },
  updated() {
    console.log("check announce", this.getAnnounce);
  },

  computed: {
    ...mapGetters({
      getAnnounce: "getAnnounce",
      company_id: "getCompanyId",
      sub_com_id: "getSubCompanyId",
      address_com_id: "getAddressComId",
    }),
    level_1() {
      let a = this.lodash.sortBy(this.getAnnounce.level_1, "job_id");
      console.log("aaaaa", a);

      return a;
    },
    level_2() {
      let a = this.lodash.sortBy(this.getAnnounce.level_2, "job_id");
      console.log("aaaaa", a);

      return a;
    },
    level_3() {
      let a = this.lodash.sortBy(this.getAnnounce.level_3, "job_id");
      console.log("aaaaa", a);

      return a;
    },
    level_4() {
      let a = this.lodash.sortBy(this.getAnnounce.level_4, "job_id");
      console.log("aaaaa", a);

      return a;
    },
    level_5() {
      let a = this.lodash.sortBy(this.getAnnounce.level_5, "job_id");
      console.log("aaaaa", a);

      return a;
    },
    level_6() {
      let a = this.lodash.sortBy(this.getAnnounce.level_6, "job_id");
      console.log("aaaaa", a);

      return a;
    },
  },
};
</script>
<style></style>
