<template>
  <div>
    <div style="margin-top: 2%;" v-if="isPost">
      <div style="display: flex;height:40px">
        <div class="subject">
          <p class="text_subject">
            งานที่รอการยืนยัน
          </p>
        </div>
        <div class="sub_subject " v-on:click="switched()">
          <p class="text_sub_subject">
            งานที่ลงประกาศแล้ว
          </p>
        </div>
      </div>

      <div class="postJob">
        <img src="../image/empty_box.svg" alt="" style="margin-top: 30%;" />
        <p style="color: #7e7e7e;margin-top: 2%;">
          ยังไม่มีการลงประกาศงาน <br />
          กรุณาเพิ่มการลงประกาศงานที่ด้านล่าง
        </p>
      </div>

      <router-link to="/postjob">
        <button
          class="btn"
          style="background-color: #8a296d;color: white;text-align: center;width: 100%;"
        >
          <img src="../image/plus.svg" alt="" />

          เพิ่มการลงประกาศงาน
        </button></router-link
      >
    </div>

    <div style="margin-top: 2%;" v-else>
      <div style="display: flex;height:40px">
        <div class="sub_subject">
          <p class="text_sub_subject" v-on:click="switchback">
            งานที่รอการยืนยัน
          </p>
        </div>
        <div class="subject ">
          <p class="text_subject">งานที่ลงประกาศแล้ว</p>
        </div>
      </div>

      <div class="postJob" v-if="!this.setjob">
        <img src="../image/empty_box.svg" alt="" style="margin-top: 30%;" />
        <p style="color: #7e7e7e;margin-top: 2%;">
          ยังไม่มีการลงประกาศงาน <br />
          กรุณาเพิ่มการลงประกาศงานที่ด้านล่าง
        </p>
      </div>

      <router-link to="/postjob">
        <button
          class="btn"
          style="background-color: #8a296d;color: white;text-align: center;width: 100%;"
        >
          <img src="../image/plus.svg" alt="" />

          เพิ่มการลงประกาศงาน
        </button></router-link
      >
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
// import ManageJob from "../views/ManageJob";

export default {
  props: ["job_send"],
  data() {
    return {
      isPost: false,
      job_announe: {},
    };
  },
  methods: {
    switched() {
      this.isPost = false;
      console.log(this.isPost);
    },
    switchback() {
      this.isPost = true;
      console.log(this.isPost);
    },
  },
  computed: {
    ...mapGetters(["getjob"]),
  },
  created() {
    // this.job_announe = localStorage.announce;
    // console.log(this.job_announe);
  },
};
</script>
<style>
.subject {
  width: 50%;
  color: #8a296d;
  background-color: white;
  text-align: center;
  border-top-right-radius: 10px;
}
.text_subject {
  color: #8a296d;
  margin-top: 3% !important;
}
.text_sub_subject {
  color: #ffffff;
  margin-top: 3% !important;
}
.sub_subject {
  width: 50%;
  color: white;
  background-color: #b77fa6;
  text-align: center;
  border-top-right-radius: 10px;
}
@media only screen and (min-device-height: 568px) {
  .postJob {
    height: 300px;
    text-align: center;
  }
}
@media only screen and (min-device-height: 630px) {
  .postJob {
    height: 370px;
    text-align: center;
  }
}
@media only screen and(min-height: 800px) {
  .postJob {
    height: 450px;
    text-align: center;
  }
}
@media only screen and(min-height:940px) and (max-height: 1000px) {
  .postJob {
    height: 600px;
    text-align: center;
  }
}

/* Large Mobile :480px. */

/* small Mobile :320px. */
</style>
