<template>
  <div>
    <Datepicker class="form-control" />
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";

export default {
  // ...
  components: {
    Datepicker,
  },
  // ...
};
</script>
