<template>
  <div class="text-center">
    <form @submit.prevent="onPartTimeSubmit">
      <v-app class="Vapp form-control">
        <v-dialog v-model="dialog" width="500">
          <template v-slot:activator="{ on }">
            <div style="display:flex !important">
              <v-text-field v-on="on" :value="convertDay" class="mr-5 ml-5 p-0 text-center"></v-text-field>
              <img
                class="calendar"
                src="../image/calendar.svg"
                alt
                style="position:relative;top:-22%;"
              />
            </div>
          </template>

          <v-card>
            <v-card-text>
              <vc-date-picker
                ref="calendar"
                v-model="date"
                :attributes="attributes"
                is-inline
                @dayclick="updateSelectedDate"
                is-expanded
                locale="th"
                @drag="dragValue = $event"
                popover-visibility="focus"
                @popover-did-disappear="disapperaed(this.date)"
                :min-date="presentDay"
                :max-date="maxDay"
              >
                <div slot="day-popover" slot-scope="{ format }">
                  {{
                  format(dragValue ? dragValue.start : range.start, "MMM D")
                  }}
                  -
                  {{ format(dragValue ? dragValue.end : range.end, "MMM D") }}
                </div>
              </vc-date-picker>

              <div class="d-flex justify-content-around from-to-date">
                <div class="from">
                  <button
                    class="d-flex align-items-center h-30 dialog-btn text-center"
                    type="submit"
                  >{{ fullTimeFromDate }}</button>
                </div>
                <p>ถึง</p>
                <div class="to">
                  <button
                    class="d-flex align-items-center h-30 dialog-btn text-center"
                  >{{ fullTimeToDate }}</button>
                </div>
              </div>
              <div>
                <div class="header">
                  <p>เลือกลงงานเฉพาะวัน</p>
                </div>

                <div class="wrap">
                  <div v-for="(day, i) in inweek" :key="i" class="day-check">
                    <input
                      @change="checked($event)"
                      type="checkbox"
                      :value="day.id"
                      class="c-3 ml-4 mr-2"
                      :id="`check_${i}`"
                    />
                    <label for="checkbox">{{ day.value }}</label>
                  </div>
                </div>
              </div>
            </v-card-text>

            <v-card-actions>
              <div class="front d-flex justify-content-around w-100 overflow-hidden">
                <p></p>
                <button
                  class="d-flex align-items-center dialog-btn text-center"
                  v-if="activate_button"
                  @click="send_to_vuex()"
                >ตกลง</button>
                <button
                  class="d-flex align-items-center dialog-btn text-center"
                  v-else
                  style="color:black;background-color:#cecece"
                  disabled
                >ตกลง</button>
                <p></p>
              </div>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-app>
    </form>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import moment from "moment";

export default {
  data() {
    return {
      pageDate: [],
      fromDate: "-",
      allSelected: true,
      toDate: "-",
      attributes: [
        {
          highlight: {
            fillMode: "light",
            class: "today-bg",
            contentClass: "today-color"
          },
          dates: [
            {
              start: "", // Jan 1st, 2018
              end: "", // Jan 1st, 2019
              weekdays: [] // ...on Sundays and Saturdays
            }
          ]
        }
      ],
      dragValue: null,
      date: [
        { start: new Date(2020, 5, 8), end: new Date(2020, 5, 30), span: 20 }
      ],
      inweek: [
        {
          id: 2,
          value: "จันทร์"
        },

        {
          id: 3,
          value: "อังคาร"
        },
        { id: 4, value: "พุธ" },
        { id: 5, value: "พฤหัส" },
        { id: 6, value: "ศุกร์" },
        { id: 7, value: "เสาร์" },
        { id: 1, value: "อาทิตย์" }
      ],
      checker: "",

      dayArr: [{ start: "", end: "", weekdays: [] }],
      dArr: [],
      dialog: false,
      all_select: [],
      send_all: [],
      activate_button: true,
      started: true,
      remove: [],
      count_lenght: [],
      alert: false
    };
  },
  created() {
    moment.locales("th");
    if (this.getUpdateJob.job_id) {
      this.started = false;
    }

    console.log(this.getUpdateJob);

    console.log("presentDay", this.presentDay);
    console.log("maxDay", this.maxDay);

    // this.started = false;

    // this.check_start();
  },

  computed: {
    ...mapGetters({
      partTimeDay: "calendar/getPartTimeDaySelected",
      fullTimeToDate: "calendar/getFullTimeToDate",
      fullTimeFromDate: "calendar/getFullTimeFromDate",
      getStartEnd: "calendar/getStartEnd",
      getUpdateJob: "calendar/getUpdateJob"
    }),
    convertDay() {
      console.log(this.getStartEnd.first);
      let a = null;
      if (this.started) {
        console.log("true started");
        return a;
      } else {
        console.log("false started");

        a =
          moment(this.getStartEnd.first).format("dd DD-MM-YYYY") +
          " - " +
          moment(this.getStartEnd.last).format("dd DD-MM-YYYY");
        return a;
      }
    },
    dateSelected() {
      return `xx`;
    },
    presentDay() {
      let a = new Date();
      let present = moment(new Date()).format("D");
      let mm = moment(a).format("MM");
      // let mm = 10;
      if (parseInt(present) > 1) {
        present = new Date(a.getFullYear(), mm, 1);
        console.log("present", a.getFullYear(), mm, 1);

        return present;
      } else {
        return new Date();
      }
    },
    maxDay() {
      let lastDay = new Date();

      let present = new Date();
      let mm = moment(present).format("MM");
      // let mm = 10;
      let real_last = moment(this.presentDay)
        .endOf("month")
        .format("DD");

      let turn = new Date(
        lastDay.getFullYear(),
        parseInt(mm),
        parseInt(real_last)
      );

      return turn;

      //  if (parseInt(lastday) > 1) {

      //   console.log("new lastday", lastday);

      //   return lastday;
      // } else {
      //   return new Date()
      // }
    }
  },
  methods: {
    compareValues(key, order = "asc") {
      return function innerSort(a, b) {
        // eslint-disable-next-line no-prototype-builtins
        if (!a.hasOwnProperty(key) || !b.hasOwnProperty(key)) {
          // property doesn't exist on either object
          return 0;
        }

        const varA = typeof a[key] === "string" ? a[key].toUpperCase() : a[key];
        const varB = typeof b[key] === "string" ? b[key].toUpperCase() : b[key];

        let comparison = 0;
        if (varA > varB) {
          comparison = 1;
        } else if (varA < varB) {
          comparison = -1;
        }
        return order === "desc" ? comparison * -1 : comparison;
      };
    },
    selected_by_pon() {
      this.all_select = this.all_select.filter(
        o => o.isDisabled === false && o.inMonth === true && o.attributes
      );
      let send_all = [];

      console.log("page day", this.all_select);
      this.lodash.filter(this.all_select, function(o) {
        send_all.push(moment(o.date).format("YYYY-MM-DD"));
        // console.log(o.date);

        return o.date;
      });
      this.send_all = send_all;
      console.log("send all", this.send_all.length);
      if (this.send_all.length <= 20) {
        this.activate_button = true;
      } else {
        this.activate_button = true;
      }
    },
    check_start() {
      let zero = document.getElementById("check_0");
      zero.checked = true;
      // console.log(document.getElementById("check_0").checked);
    },
    send_to_vuex() {
      if (this.started) {
        this.all_select = [];
      } else {
        let send_all = [];
        if (this.count_lenght.length === 7) {
          this.all_select.forEach(e => {
            console.log("e for vuex", e);

            send_all.push(moment(e).format("YYYY-MM-DD"));
          });
          // console.log("send to vuex", send_all);
          send_all = this.lodash.sortBy(send_all, [
            function(o) {
              return o;
            }
          ]);
          // console.log(send_all);
          this.alert = false;
          console.log("before send", send_all);

          this.$store.dispatch("calendar/fullTimeCalendarAllDate", send_all);
        } else {
          alert("กรุณาเลือกวันลงงานจำนวน 7 วัน ต่อสัปดาห์");
          this.alert = true;
        }
      }
    },
    checked(event) {
      console.log(event);

      const calendar = this.$refs.calendar;

      // console.log("button", event.target.id);

      // console.log("c0", calendar.$refs.calendar);
      // console.log("c", calendar.$refs.calendar.getPageDays());

      if (event.target.checked) {
        this.pageDate = calendar.$refs.calendar.getPageDays();

        // console.log("week", event.target.value);
        // console.log("gd0", this.all_select);

        this.pageDate = this.pageDate.filter(
          b =>
            b.isDisabled === false &&
            b.inMonth === true &&
            b.weekday === Number(event.target.value)
        );

        // console.log(this.pageDate);
        // let convert = null;

        this.pageDate.forEach(e => {
          // convert = moment(e.date).format("YYYY-MM-DD");
          this.all_select.push(e.date);
        });
        this.count_lenght.push("a");

        console.log("new select", this.all_select);

        /////////////Pon Edit///////////

        ///////////////////////////////////////

        this.dArr.push({
          start: this.pageDate[0].date,
          end: this.pageDate[this.pageDate.length - 1].date,
          weekdays: event.target.value
        });
        let attributesTmp = [
          {
            highlight: {
              fillMode: "light",
              class: "today-bg",
              contentClass: "today-color"
            },
            dates: this.dArr
          }
        ];

        console.log("df", attributesTmp[0].dates);
        let sorterStart = attributesTmp[0].dates.sort(
          this.compareValues("start", "asc")
        );
        console.log(
          "df2",
          attributesTmp[0].dates[attributesTmp[0].dates.length - 1]
        );
        // eslint-disable-next-line no-undef
        let sorterEnd = this.lodash.sortBy(attributesTmp[0].dates, ["end"]);
        console.log("pop", sorterEnd);
        this.$store.dispatch(
          "calendar/fullTimeCalendarFromDate",
          moment(sorterStart[0].start).format("ll")
        );
        this.$store.dispatch(
          "calendar/fullTimeCalendarToDate",
          moment(sorterEnd[sorterEnd.length - 1].end).format("ll")
        );
        console.log("oo=", this.fullTimeToDate);
        this.attributes = attributesTmp;
      } else {
        let index;
        this.count_lenght.splice(-1, 1);
        console.log("pageDate", event.target);
        this.pageDate = calendar.$refs.calendar.getPageDays();

        // console.log("week", event.target.value);
        console.log("gd0", this.all_select);

        this.pageDate = this.pageDate.filter(
          b =>
            b.isDisabled === false &&
            b.inMonth === true &&
            b.weekday === Number(event.target.value)
        );

        this.pageDate.forEach(e => this.remove.push(e.date));

        console.log(this.remove);

        this.lodash.remove(this.dArr, e => {
          return e.weekdays === event.target.value;
        });
        // this.lodash.remove(this.all_select, (e) => {
        //   return e !== event.date;
        // });

        for (let i = 0; i < this.remove.length; i++) {
          this.all_select = this.lodash.filter(this.all_select, e => {
            return e !== this.remove[i];
          });
          // this.all_select = this.lodash.remove(this.all_select, (e) => {
          //   return e !== remove[i];
          // });
        }

        console.log("remove", this.all_select);

        // console.log("remove", this.all_select);

        console.log("th", this.dArr, event.target.value);
        let attributesTmp = [
          {
            highlight: {
              fillMode: "light",
              class: "today-bg",
              contentClass: "today-color"
            },
            dates: this.dArr
          }
        ];
        if (attributesTmp[0].dates.length !== 0) {
          let sorterStart = this.lodash.sortBy(attributesTmp[0].dates, [
            "start"
          ]);
          let sorterEnd = this.lodash.sortBy(attributesTmp[0].dates, ["end"]);
          this.$store.dispatch(
            "calendar/fullTimeCalendarFromDate",
            moment(sorterStart[0].start).format("ll")
          );
          this.$store.dispatch(
            "calendar/fullTimeCalendarToDate",
            moment(sorterEnd[sorterEnd.length - 1].end).format("ll")
          );
          console.log("id", index);

          this.attributes = attributesTmp;
        } else {
          attributesTmp[0].dates = [];
          this.attributes = attributesTmp;
        }
      }
    },
    close() {
      this.dialog = false;
    },
    updateSelectedDate(event) {
      console.log("xx", event);
    },
    onPartTimeSubmit() {
      // this.$store.dispatch(
      //   "calendar/partTimeCalendarSelectedEvent",
      //   this.dayArr
      // );
      if (this.alert) {
        this.dialog = true;
      } else {
        this.dialog = false;
      }
    }
  },
  updated() {
    console.log("updated");

    if (this.started) {
      console.log("start");

      let check_0 = document.getElementById("check_0");
      let check_1 = document.getElementById("check_1");
      let check_2 = document.getElementById("check_2");
      let check_3 = document.getElementById("check_3");
      let check_4 = document.getElementById("check_4");
      let check_5 = document.getElementById("check_5");
      let check_6 = document.getElementById("check_6");
      check_0.click();
      check_1.click();
      check_2.click();
      check_3.click();
      check_5.click();
      check_4.click();
      check_6.click();
      this.started = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.front {
  height: 40px;
  position: absolute;
  bottom: 2%;
  z-index: 100000000009;
}
.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: rgba(0, 0, 0, 0);
  text-align: center !important;
}
.c-3 {
  padding: 20px;
}

.day-check {
  display: flex;
  align-items: center;
}

label {
  margin-bottom: 0rem !important;
}

.checkbox {
  margin-left: 20px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.header {
  text-align: left;
  margin-left: 0.7rem;
}

.h-30 {
  height: 30px;
}

.dialog-btn {
  color: white;
  width: 100px;
  height: 40px;
  justify-content: center;
  background-color: #8a296d;
  border-radius: 10px;
}
.v-dialog > .v-card {
  & > .v-card__text {
    padding: 0px;
  }
  & > .v-card__title {
    padding-bottom: 0px;
  }
}
.v-card__actions {
  display: flex;
  justify-content: center;
}
.absolute {
  position: absolute;
  z-index: 99;
}
.front {
  height: 40px;
  position: absolute;
  bottom: 2%;
  z-index: 100000000009;
}
.from-to-date {
  min-width: 100%;
  bottom: 20%;
}

.v-card {
  height: 500px;
}
.v-card__actions {
  align-items: center;
  display: flex;
  padding: 0px;
}

.vc-grid-container .vc-weeks {
  gap: 0px !important;
}

.vc-border {
  border: none;
}
.vc-day-content:hover {
}
.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: inherit;
  border-style: none !important;
}
</style>
