<template>
  <div>
    <div class="body_on_list">
      <div class="body_list" @click="active()" :class="FillPurple">
        <div class="col-8 p-2">
          <p class="text_style" :class="FillPurple">
            รายการคำขอปฏิบัติงานทั้งหมด
          </p>
        </div>
        <div class="col-4 p-2 text-right">
          <div class="button_list_have">
            <div class="zerobtn">
              <span class="zero" style="color:black">{{ EmComing }}</span>
            </div>
            <span class="newlist" style="color:black">รายการ</span>
          </div>
        </div>
      </div>
      <div
        class="body_list"
        style="display:none"
        @click="active2()"
        :class="FillPurple2"
      >
        <div class="col-8 p-2">
          <p class="text_style" :class="FillPurple2">
            รายการที่มีการยกเลิกทั้งหมด
          </p>
        </div>
        <div class="col-4 p-2 text-right">
          <div class="button_list_have">
            <div class="zerobtn">{{ EmCancle }}</div>
            <span class="newlist">รายการ</span>
          </div>
        </div>
      </div>

      <div class="body_list" @click="active3()" :class="FillPurple3">
        <div class="col-8 p-2">
          <p class="text_style" :class="FillPurple3">
            รายการงานที่ดำเนินการทั้งหมด
          </p>
        </div>
        <div class="col-4 p-2 text-right">
          <div class="button_list_have">
            <div class="zerobtn" style="color:black">{{ getJob.length }}</div>
            <span class="newlist" style="color:black">รายการ</span>
          </div>
        </div>
      </div>
  
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import { baseUrl } from "../util/backend";
export default {
  data() {
    return {
      isActive: false,
      isActive2: false,
      isActive3: false,
      color: "white",
      coming: 0,
      cancle: 0,
      process: 0,
    };
  },
  methods: {
    active() {
      this.isActive = !this.isActive;
      this.isActive2 = false;
      this.isActive3 = false;
      this.$emit("select", { active_1: this.isActive });
    },
    active2() {
      this.isActive2 = !this.isActive2;
      this.isActive = false;
      this.isActive3 = false;
      this.$emit("select", { active_2: this.isActive2 });
    },
    active3() {
      this.isActive3 = !this.isActive3;
      this.isActive = false;
      this.isActive2 = false;
      this.$emit("select", { active_3: this.isActive });
    },
    async get_em_select() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/dealjob/company/${localStorage.idUser}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log("employee will come", result);
          result.deal_job.forEach((o) => {
            o.annoucement.deal_jobs.forEach((i) => {
              console.log("i iiii", i.status);

              if (i.status === "waiting") {
                this.coming += 1;
                // console.log("person", this.coming);
              }
              if (
                i.status !== "confirm" &&
                i.status !== "complete" &&
                i.status !== "waiting"
              ) {
                this.cancle += 1;
                // console.log("person", this.cancle);
              }

              // console.log("person", this.cancle);
            });

            //   if (o.annoucement.deal_jobs[0] ) {
            //     this.coming = o.annoucement.deal_jobs.length;
            //   }
            //   console.log("list", o.annoucement.deal_jobs[0]);
          });
          result.deal_job_part_time.forEach((o) => {
            o.annoucement.deal_job_part_times.forEach((i) => {
              console.log("i iiii", i.status);

              if (i.status === "waiting") {
                this.coming += 1;
                // console.log("person", this.coming);
              }
              if (
                i.status !== "confirm" &&
                i.status !== "complete" &&
                i.status !== "waiting"
              ) {
                this.cancle += 1;
                // console.log("person", this.cancle);
              }

              // console.log("person", this.cancle);
            });

            //   if (o.annoucement.deal_job_part_times[0] ) {
            //     this.coming = o.annoucement.deal_jobs.length;
            //   }
            //   console.log("list", o.annoucement.deal_jobs[0]);
          });
          // this.coming = result.deal_job.length;
          // console.log(this.coming);
        })
        .catch((error) => console.log("error", error));
    },
  },
  computed: {
    FillPurple: function() {
      return {
        purple: this.isActive,
      };
    },
    FillPurple2: function() {
      return {
        purple: this.isActive2,
      };
    },
    FillPurple3: function() {
      return {
        purple: this.isActive3,
      };
    },

    EmComing() {
      return this.getCountWaiting;
    },
    EmCancle() {
      return this.getCountCancle;
    },
    vueActive() {
      console.log("listactive from vuex", this.getActiveList);

      return this.getActiveList;
    },
    ...mapGetters({
      getActiveList: "getActiveList",
      getJob: "getjob",
      getCountWaiting: "getCountWaiting",
      getCountCancle: "getCountCancle",
    }),
  },
  created() {
    // console.log("activate after", this.getActiveList);
    this.get_em_select();
    this.$emit("select", { active_3: true });
  },
  updated() {
    console.log("activate after", this.getJob.length);
  },
};
</script>
<style>
.body_on_list {
  margin-top: 2%;
  padding: 2%;
  border-radius: 10px;
  border-width: 0px;
}
.button_back {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.body_list {
  display: flex;
  background-color: white;
  margin-top: 2%;
  height: 38px;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 3px rgba(158, 155, 158, 0.49);
  /* background-color: #8a296d; */
}
.purple {
  background-color: #8a296d;
  color: white;
}
.white {
  background-color: #ffff;
  color: black;
}
.button_list_no {
  float: right;
  background-color: #b2b2b2;
  color: #7e7e7e;
  font-size: 12px;
  display: flex;
  width: 103px;
  height: 23px;
  margin-top: 2%;
  border-radius: 15px;
}
.button_list_have {
  float: right;
  background-color: #ffffff;
  color: #ffff;
  font-size: 12px;
  display: flex;
  width: 103px;
  height: 23px;
  margin-top: 2%;
  border-radius: 15px;
  justify-content: center;
}

.text_style {
  font-size: 14px;
  margin-top: 0% !important;
  /* width: 58%; */
  /* margin-left: 2%; */
}
.zerobtn {
  background-color: #ffffff;
  border-radius: 15px;
  color: #7e7e7e;
  text-align: center;
  margin-right: 5%;
  height: 17px;
  margin-top: 3%;
  margin-left: 3%;
  width: 20%;
}
.zero {
  margin-left: 2%;
}
.newlist {
  margin-top: 3%;
}
@media only screen and (min-device-width: 319px) and (max-device-width: 374px) {
  .text_style {
    font-size: 12px !important;
    margin-left: 2%;
  }
}
</style>
