<template>
  <div class="postJob">
    <img src="../image/empty_box.svg" alt="" style="margin-top: 30%;" />
    <p style="color: #7e7e7e;margin-top: 2%;">
      ยังไม่มีการลงประกาศงาน <br />
      กรุณาเพิ่มการลงประกาศงานที่ด้านล่าง
    </p>
  </div>
</template>
<script>
export default {};
</script>
<style></style>
