<template>
  <div>
    <div class="body_input">
      <div class="rower">
        <div class="col-4 p-0 text-center ">วันปฏิบัติงาน</div>
        <div class="col-4 p-0 text-center">ชื่อ-นามสกุล</div>
        <!-- <div class="col-4 p-0 text-center">ตำแหน่งงาน</div> -->
        <div class="col-4 p-0 text-center">คะแนน</div>
      </div>
      <hr class="p-0" />
      <div
        class="rower"
        v-for="(paids, index) in filterCompute"
        :key="index"
        @click="goVote(paids)"
      >
        <div
          class="col-4 p-0 text-left respon-center"
          v-if="paids.type == 'Part time'"
        >
          <span class="ml-left"
            >{{
              changeToMoment(
                paids.done_job_part_time.deal_job_part_time.period_job
                  .date_start
              )
            }}
          </span>
        </div>

        <div class="col-4 p-0 text-center" v-else>
          {{ changeToMoment(paids.done_job.deal_job.date_time_job.date_start) }}
          -
          {{ changeToMoment(paids.done_job.deal_job.date_time_job.date_end) }}
        </div>

        <div class="col-4 p-0 pl-2 text-left">{{ paids.user.name }}</div>
        <!-- <div class="col-3 p-0 text-center">{{ paids.user.position }}</div> -->
        <div class="col-4 p-0 text-center" v-if="paids.score == 0">-</div>
      </div>

      <div class="rower" v-if="filterCompute.length <= 0">
        <div class="col-12 p-3 text-center">ไม่มีรายการรอประเมิน</div>
      </div>
    </div>
  </div>
</template>
<script>
import { baseUrl } from "../util/backend";
import moment from "moment";

export default {
  data() {
    return {
      dataVote: "",
      filterPartime: "",
      filterFulltime: "",
      company_result: "",
    };
  },

  created() {
    this.get_data_user();
  },
  computed: {
    filterCompute() {
      let result = [];
      let condition = { score: 0, note: null };
      let data = this.lodash.filter(this.filterPartime, condition);

      Object.assign(result, data);
      let dataFull = this.lodash.filter(this.filterFulltime, condition);

      Object.assign(result, dataFull);

      this.lodash.sortBy(result, (res) => {
        res.date;
      });
      console.log(`data from compute`, result);
      return result;
    },
  },
  methods: {
    goVote(data) {
      let id_line = data.user.id_line;
      let date_start = "";
      let date_end = "";
      let type = "";

      if (data.type == "Part time") {
        type = "part_time";
        date_start =
          data.done_job_part_time.deal_job_part_time.period_job.date_start;
        date_end =
          data.done_job_part_time.deal_job_part_time.period_job.date_start;
      } else {
        type = "full_time";

        date_start = data.done_job.deal_job.date_time_job.date_start;
        date_end = data.done_job.deal_job.date_time_job.date_end;
      }

      let user_assessment_id = data.user_assessment_id;
      this.$router.push(
        `/employeeVote/?id_line=${id_line}&date_start=${date_start}&date_end=${date_end}&user_assessment_id=${user_assessment_id}&type=${type}`
      );
    },
    changeToMoment(time) {
      return moment(time).format("DD/MM/YY");
    },
    async get_data_user() {
      console.log("ma");

      var myHeaders = new Headers();
      myHeaders.append(
        "Cookie",
        "__cfduid=de4d85e74687b775ae022c46e0913dde41587025756"
      );

      var requestOptions = {
        method: "GET",
        headers: myHeaders,
        redirect: "follow",
      };

      await fetch(
        `${baseUrl}/api/company/` + `${localStorage.idLine}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          this.company_result = result;
          this.get_noVote();
        })
        .catch((error) => console.log("error", error));
    },

    async get_noVote() {
      let subcom_id = await this.company_result.sub_com_id;
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/user_assessment/subcom/` + `${subcom_id}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          this.dataVote = result;
          this.filterPartime = result.user_assessment_part_time;
          this.lodash.forEach(this.filterPartime, (result) => {
            result.date = new Date(
              result.done_job_part_time.deal_job_part_time.period_job.date_start
            );
          });
          this.filterFulltime = result.user_assessment_full_time;
          this.lodash.forEach(this.filterFulltime, (result) => {
            result.date = new Date(
              result.done_job.deal_job.date_time_job.date_start
            );
            result.period = `${result.done_job.deal_job.date_time_job.date_start} - ${result.done_job.deal_job.date_time_job.date_end}`;
          });
        })
        .catch((error) => console.log("error", error));
    },

  },
};
</script>
<style>
.rower {
  display: flex;
  color: black;
  font-size: 12px;
  margin-top: 5%;
}
</style>

<style scoped>
.ml-left {
  margin-left: 1rem;
}

@media only screen and (min-width: 378px) and (max-width: 991px) {
  .ml-left {
    margin: 0;
  }
  .respon-center {
    text-align: center !important;
  }
}
</style>
