<template>
  <div class="text-center">
    <form @submit.prevent="onPartTimeSubmit">
      <v-app class="Vapp form-control">
        <v-dialog v-model="dialog" width="500">
          <template v-slot:activator="{ on }">
            <div style="display:flex !important">
              <v-text-field
                v-on="on"
                :value="convertDay"
                class="mr-5 ml-5 p-0 text-center"
              >{{ partTimeDay }}</v-text-field>
              <img
                class="calendar"
                src="../image/calendar.svg"
                alt
                style="position: relative;
    top: -13px;"
              />
            </div>
          </template>

          <v-card>
            <v-card-text>
              <vc-date-picker
                mode="multiple"
                v-model="date"
                is-inline
                @dayclick="updateSelectedDate"
                @click="updateSelectedDate"
                is-expanded
                locale="th"
                @popover-did-disappear="disapperaed(this.date)"
                :min-date="new Date()"
              >
                <div slot="day-popover" slot-scope="{ format }">
                  {{
                  format(dragValue ? dragValue.start : range.start, "MMM D")
                  }}
                  -
                  {{ format(dragValue ? dragValue.end : range.end, "MMM D") }}
                </div>
              </vc-date-picker>
            </v-card-text>

            <v-card-actions>
              <div class="front d-flex justify-content-around w-100 overflow-hidden">
                <p></p>
                <button
                  class="d-flex w-50 align-items-center dialog-btn text-center"
                  type="submit"
                >ตกลง</button>
                <p></p>
              </div>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-app>
    </form>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import moment from "moment";
export default {
  data() {
    return {
      date: "",
      dayArr: [],
      dialog: false
    };
  },
  created() {
    moment.locales("th");
  },
  computed: {
    ...mapGetters({ partTimeDay: "calendar/getPartTimeDaySelected" }),
    convertDay() {
      console.log(this.partTimeDay);

      return this.partTimeDay.map(m => {
        console.log(m);

        return moment(m).format("dd DD-MM-YYYY");
      });
    }
  },
  methods: {
    close() {
      this.dialog = false;
    },
    updateSelectedDate(event) {
      console.log("event", new Date(event.id));
      console.log(new Date());

      if (event.attributes) {
        let removeId = this.dayArr.findIndex(v => v === event.id);
        if (removeId >= 0) {
          this.dayArr.splice(removeId, 1);
        }
      } else {
        if (new Date(event.id) > new Date()) {
          console.log("push", event.id);

          this.dayArr.push(event.id);
        }
      }
    },
    onPartTimeSubmit() {
      this.$store.dispatch(
        "calendar/partTimeCalendarSelectedEvent",
        this.dayArr
      );
      this.dialog = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.v-card {
  height: 400px;
}
.vc-grid-container .vc-weeks {
  gap: 10px !important;
}
.vc-border {
  border: none;
}
.dialog-btn {
  color: white;
  width: 100px;
  height: 40px;
  justify-content: center;
  background-color: #8a296d;
  border-radius: 10px;
}
.v-dialog > .v-card {
  & > .v-card__text {
    padding: 0px;
  }
  & > .v-card__title {
    padding-bottom: 0px;
  }
}
.v-card__actions {
  display: flex;
  justify-content: center;
}
.absolute {
  position: absolute;
  z-index: 99;
}
.front {
  height: 40px;
  position: absolute;
  bottom: 2%;
  z-index: 100000000009;
}
.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: inherit;
  border-style: none !important;
}
</style>
