<template>
  <div>
    <div class="body_input color_back">
      <div class="row">
        <div class="col-9 pt-1 pr-1 pb-0" style="margin-top:0 % !important; ">
          <div class="ml-1" style="display:flex">
            <div class="col-6 p-0">
              <p style="font-size:10px">
                <span style="font-size:12px">รอบการชำระเงิน</span>
                <br />
                <span style="font-size:9px">(ทุกวันที่ 1 และ 16 ของเดือน)</span>
              </p>
            </div>
            <div class="col-6 p-0 calendar-block">
              <!-- <input
              id="this"
              type="text"
              class="form-control mt-1 calendar_in"
           
              />-->
              <vc-date-picker
                ref="calendar"
                v-model="dateInput"
                @click="getDate()"
                mode="single"
                @dayclick="updateSelectedDate"
                :disabled-dates="{ days: dayArr }"
                :popover="{ placement: 'bottom' }"
              ></vc-date-picker>
              <img class="calendar" src="../image/calendar.svg" alt />
            </div>
          </div>
          <div class="ml-1 mt-1" style="display:flex">
            <div class="col-6 p-0">
              <p style="font-size:12px">
                คำนวนจาก
                <br />
              </p>
            </div>
            <div class="col-6 p-0">
              <input
                type="text"
                class="form-control form-disable mt-1 calendar_in"
                style="font-size:10px;background:#d9d9d9;"
                :placeholder="full_date"
              />
            </div>
          </div>
        </div>
        <div class="col-3 p-0 pr-2" style="display:flex">
          <div class="vl mt-2 mb-2"></div>
          <div class="box">
            <p style="color:#f52121; font-size:12px; font-weight:bold">
              ยอดรวม
              <br />
              <span style="display:none">{{vuex_date}}</span>
            </p>
            <p
              style="color:#f52121; font-size:14px; font-weight:bold;"
              class="mt-2"
            >{{`${count_price.toLocaleString()}`}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="body_input">
      <!-- <p>{{filter_day}}</p> -->
      <div class="rower">
        <div class="col-2 p-0 text-center">วันปฏิบัติงาน</div>
        <div class="col-4 p-0 text-center">ผู้ปฏิบัติงาน</div>
        <div class="col-4 p-0 text-center">ตำแหน่งงาน</div>
        <div class="col-2 p-0 text-center">ราคา</div>
      </div>
      <hr class="p-0" />
      <div class="rower" v-for="(item, index) in forShow" :key="index">
        <div class="col-2 p-0 text-center">{{ item.date_show }}</div>
        <div class="col-4 p-0 pl-2 text-start">{{ item.user.title }} {{ item.user.name }}</div>
        <div class="col-4 p-0 text-center" v-if="item.level == 1">สัตวแพทย์รุ่นใหม่</div>
        <div class="col-4 p-0 text-center" v-if="item.level == 2">สัตวแพทย์มีประสบกาณ์</div>
        <div class="col-4 p-0 text-center" v-if="item.level == 3">สัตวแพทย์ Advance</div>
        <div class="col-4 p-0 text-center" v-if="item.level == 4">สัตวแพทย์จบเฉพาะทาง</div>
        <div class="col-4 p-0 text-center" v-if="item.level == 5">ผู้ช่วยสัตวแพทย์</div>
        <div class="col-4 p-0 text-center" v-if="item.level == 6">พนักงานตัดขน</div>
        <div class="col-2 p-0 text-center">{{ `${item.pricing_level.toLocaleString()}` }}</div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import moment from "moment";
import { baseUrl } from "../util/backend";

export default {
  data() {
    return {
      user: [],
      part: [],
      full: [],
      price: 0,
      count_done: 0,
      price_level: 0,
      dateInput: new Date(),
      date: new Date(),
      showDate: null,
      month: new Date().getMonth(),
      year: new Date().getFullYear(),
      lastDay: "",
      fistDay: "",
      dayArr: [
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20,
        21,
        22,
        23,
        24,
        25,
        26,
        27,
        28,
        29,
        30,
        31
      ],
      all_user: [],
      test: new Date()
    };
  },
  methods: {
    get_done_job() {
      var requestOptions = {
        method: "GET",
        redirect: "follow"
      };

      fetch(
        `${baseUrl}api/donejob/company/${localStorage.idUser}`,
        requestOptions
      )
        .then(response => response.text())
        .then(result => {
          result = JSON.parse(result);
          this.user = result;

          this.part = this.lodash.filter(this.user.done_job_part_time, o => {
            return o.company_id == localStorage.idUser;
          });
          this.full = this.lodash.filter(this.user.done_job, o => {
            return o.company_id == localStorage.idUser;
          });
          this.full = this.full[0];
          this.part = this.part[0];
          this.$store.commit("addfull", this.full);
          this.$store.commit("addpart", this.part);
          this.classified();
        })
        .catch(error => console.log("error", error));
    },

    getEvent(d) {
      console.log(`get event`, d);
    },
    parseDate(d) {
      console.log(d);
    },

    formatDate(d) {
      console.log("aaaa");
      console.log(d);
    },

    functionEvents(event) {
      console.log(event);
    },
    updateSelectedDate(event) {
      console.log("event", event.id);
      this.classified();
      // this.$store.commit("datePaymentMutation", this.dateInput);
    },
    getDate() {
      console.log(this.date);
    },
    classified() {
      let a = [];
      let user_part = [];
      let user_full = this.full.jobs;

      if (this.full.jobs !== undefined) {
        user_full.forEach(e => {
          e.deal_jobs.forEach(p => {
            Object.assign(p, { date_time_job: e.date_time_job });
            Object.assign(p, { level: e.level });

            Object.assign(p, { pricing_job: e.pricing_job });

            if (this.full.position === "Pet shop") {
              switch (e.level) {
                case 1:
                  this.price_level = (25000 * 107) / 100;
                  break;
                case 2:
                  this.price_level = (25000 * 107) / 100;
                  break;
                case 3:
                  this.price_level = (25000 * 107) / 100;
                  break;
                case 4:
                  this.price_level = (25000 * 107) / 100;
                  break;
                case 5:
                  this.price_level = (12000 * 107) / 100;
                  break;
                case 6:
                  this.price_level = (14000 * 107) / 100;
                  break;
                default:
                  break;
              }
            } else {
              switch (e.level) {
                case 1:
                  this.price_level = (23000 * 107) / 100;
                  break;
                case 2:
                  this.price_level = (28000 * 107) / 100;
                  break;
                case 3:
                  this.price_level = (33000 * 107) / 100;
                  break;
                case 4:
                  this.price_level = (38000 * 107) / 100;
                  break;
                case 5:
                  this.price_level = (12000 * 107) / 100;
                  break;
                case 6:
                  this.price_level = (14000 * 107) / 100;
                  break;
                default:
                  break;
              }
            }
            Object.assign(p, { pricing_level: this.price_level });

            a.push(p);
          });
        });
      }

      if (this.part.jobs != undefined) {
        console.log("parttime coming", this.part);

        this.lodash.forEach(this.part.jobs, p => {
          user_part = this.lodash.filter(p.deal_job_part_times, l => {
            Object.assign(l, { level: p.level });
            Object.assign(l, { pricing_job: p.pricing_job });
            Object.assign(l, { date_time_job: l.period_job });

            if (this.part.position === "Pet shop") {
              switch (p.level) {
                case 1:
                  this.price_level = (1500 * 107) / 100;
                  break;
                case 2:
                  this.price_level = (1500 * 107) / 100;
                  break;
                case 3:
                  this.price_level = (1500 * 107) / 100;
                  break;
                case 4:
                  this.price_level = (1500 * 107) / 100;
                  break;
                case 5:
                  this.price_level = (550 * 107) / 100;
                  break;
                case 6:
                  this.price_level = (850 * 107) / 100;
                  break;
                default:
                  break;
              }
            } else {
              switch (p.level) {
                case 1:
                  this.price_level = (1600 * 107) / 100;
                  break;
                case 2:
                  this.price_level = (1700 * 107) / 100;
                  break;
                case 3:
                  this.price_level = (2000 * 107) / 100;
                  break;
                case 4:
                  this.price_level = (3000 * 107) / 100;
                  break;
                case 5:
                  this.price_level = (550 * 107) / 100;
                  break;
                case 6:
                  this.price_level = (850 * 107) / 100;
                  break;
                default:
                  break;
              }
            }
            Object.assign(l, { pricing_level: this.price_level });

            a.push(l);
          });
        });

        console.log("user_part", user_part);
      }

      this.all_user = a;
    }
  },
  created() {
    this.get_done_job();

    this.dateInput = new Date(this.year, this.month, 1);
  },
  computed: {
    ...mapGetters({
      getPaid: "payment/getEmPaid",
      getdatePayment: "getdatePayment"
    }),

    vat() {
      let a = this.price;

      return a;
    },
    Data() {
      const startMonth = moment(this.dateInput).format("DD-MM-YY");
      console.log(startMonth);
      return startMonth;
    },
    vuex_date() {
      const a = this.dateInput;
      this.$store.commit("datePaymentMutation", this.dateInput);
      return a;
    },
    getStart() {
      let day = moment(this.dateInput).format("DD");
      let month = parseInt(moment(this.dateInput).format("MM")) - 2;
      let year = this.dateInput.getFullYear();

      // const thisDate = moment(this.dateInput).format("DD-MM-YYYY");
      let thisDate = new Date(year, month, day);
      thisDate = moment(thisDate).format("DD-MM-YYYY");
      console.log("change", thisDate);
      console.log("date", year, month, day);

      return thisDate;
    },
    end() {
      // const month_now = moment(this.dateInput).format("M");
      // // console.log("mounth", month_now);
      const last_day = new Date(
        this.dateInput.getFullYear(),
        this.dateInput.getMonth(),
        0
      );
      const endOfMonth = moment(last_day).format("DD-MM-YYYY");

      // console.log("mounth enddd", endOfMonth);
      return endOfMonth;
    },
    full_date() {
      return this.getStart + " - " + this.end;
    },
    forShow() {
      console.log("date for filter", this.dateInput);
      console.log("this.all user", this.all_user);

      let month = new Date(this.dateInput).getMonth();
      // let date_show = null

      let i = this.lodash.filter(this.all_user, a => {
        if (new Date(a.date_time_job.date_start).getMonth() === month - 1) {
          Object.assign(a, {
            date_show: moment(a.date_time_job.date_start).format("DD/MM/YY")
          });
          console.log("yessssß");
          return a;
        }
        // console.log("iiii", a);
      });
      console.log("last", i);

      return i;
    },
    count_price() {
      let price = 0;
      this.forShow.forEach(o => {
        price += o.pricing_level;
      });
      return price;
    }
  },
  updated() {
    // console.log("update date::::", moment(this.dateInput).format("MM"));
  }
};
</script>
<style>
.rower {
  display: flex;
  color: black;
  font-size: 12px;
  margin-top: 5%;
}
.color_back {
  background: #f5937a !important ;
}
.vl {
  border-left: 1px solid white;
  height: 80px;
}
.total {
  background: white;
}
.calendar_in {
  height: 35px;
}
</style>
<style scoped>
.vc-popover-content-wrapper is-interactive {
  left: -14px !important;
  color: red;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: black;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: black;
}
.body_input {
  box-shadow: 0px 0px 7px 2px rgba(158, 155, 158, 0.3);
}

.form-control {
  box-shadow: 0px 0px 7px 2px rgba(158, 155, 158, 0.3);
  border: none;
  padding-left: 20px;
  padding-right: 30px;
}
.vc-text-base {
  font-size: 12px;
}

.form-disable {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.box {
  background-color: white;
  border-radius: 10px;
  border-width: 0px;
  box-shadow: 0px 0px 7px 2px rgba(158, 155, 158, 0.3);
  height: 80%;
  width: 90%;
  display: flex;
  text-align: center;
  margin: 4px;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

.calendar-block {
  position: relative;
}
.calendar-block img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 19px;
}

@media screen and (min-width: 320px) {
  .calendar-block img {
    position: absolute;
    top: 8px;
    right: 9px;
    width: 18px;
  }
}
</style>

