<template>
  <div class="text-center">
    <form @submit.prevent="timeSubmit(timeStart, timeEnd)">
      <v-app class="Vapp">
        <v-dialog v-model="dialog" width="600" height="500">
          <template v-slot:activator="{ on }" style="min-height: 0 !important;">
            <div class="p-1">
              <v-btn
                v-on="on"
                class="d-flex justify-content-between pop-timer text-center"
                style="width:100%;height:45px"
              >
                <p></p>
                <p
                  v-if="
                    timeTrack.tStart !== '12:00' && timeTrack.tEnd !== '12:00'
                  "
                  class="text-white"
                >
                  {{ timeTrack.tStart }} - {{ timeTrack.tEnd }}
                </p>

                <p v-else class="text-white">00-00</p>

                <v-icon class="circle-check center"
                  >$vuetify.icons.clock</v-icon
                >
              </v-btn>
            </div>
          </template>

          <v-card>
            <div class="d-flex justify-content-between">
              <v-card-text>เวลาเริ่มต้น</v-card-text>
              <v-card-text>เวลาสิ้นสุด</v-card-text>
            </div>
            <v-card-text>
              <div class="d-flex flex-column">
                <div class="d-flex justify-content-around picker">
                  <VueCtkDateTimePicker
                    :no-button="true"
                    minute-interval="30"
                    :persistent="true"
                    format="HH:mm"
                    color="#a05489"
                    :overlay="true"
                    v-model="timeStart"
                    :inline="true"
                    :range="false"
                    only-time
                  ></VueCtkDateTimePicker>
                  <v-divider vertical></v-divider>
                  <VueCtkDateTimePicker
                    format="HH:mm"
                    :no-button="true"
                    :overlay="true"
                    color="#a05489"
                    minute-interval="30"
                    :inline="true"
                    :range="false"
                    only-time
                    v-model="timeEnd"
                  ></VueCtkDateTimePicker>
                </div>
              </div>
            </v-card-text>
            <v-card-actions>
              <div
                class="front d-flex justify-content-around w-100 overflow-hidden"
              >
                <button
                  class="d-flex align-items-center dialog-btn cancel text-center"
                  @click="close"
                >
                  ยกเลิก
                </button>
                <button
                  class="d-flex align-items-center dialog-btn text-center"
                  type="submit"
                  @click="timeSubmit(timeStart, timeEnd)"
                  :disabled="timeStart === '' || timeEnd === ''"
                >
                  ตกลง
                </button>
              </div>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-app>
    </form>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import moment from "moment";
import "moment/locale/th";
// import Timeselector from "vue-timeselector";
// import "vue2-timepicker/dist/VueTimepicker.css";

import VueCtkDateTimePicker from "vue-ctk-date-time-picker";
import "vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css";

export default {
  name: "PopupTimePicker",
  components: { VueCtkDateTimePicker },

  created() {
    moment.locale = "th";
  },

  data() {
    return {
      timeStart: "",
      timeEnd: "",
      time: "",
      timeKeeper: {},
      dialog: false,
    };
  },
  methods: {
    close() {
      this.dialog = false;
    },
    timeSubmit(tStart, tEnd) {
      console.table(
        "Start Time:",
        tStart,
        "End Time:",
        moment()
          .toDate()
          .getTime()
      );
      this.timeKeeper = {
        tStart,
        tEnd,
      };
      console.log("Time Keeper:", this.timeKeeper);
      console.log("xx", this.timeTrack);
      this.$store.dispatch("calendar/timePickerSelectedEvent", this.timeKeeper);
      this.dialog = false;
    },
  },
  computed: {
    ...mapGetters({ timeTrack: "calendar/getPostJobTimer" }),
  },
};
</script>

<style lang="scss" scoped>
.v-btn {
  border-radius: 10px !important;
}
.v-card-text {
  font-family: Sukhumvit !important;
}
.v-application .headline {
  font-size: 1.5rem !important;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: normal !important;
  font-family: Sukhumvit !important;
}
.v-application--wrap {
  flex: 1 1 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  min-height: 0vh !important;
  max-width: 100%;
  position: relative;
}
v-application {
  font-family: Sukhumvit !important;
  line-height: 1.5;
}
//disable scroll bar ของ time picker
::-webkit-scrollbar {
  display: none;
}
.cancel {
  background-color: #888888 !important;
}
button:disabled {
  background-color: #888888;
}
.before {
  height: 0px;
}
.time-picker-column-item-text {
  font-size: 20px;
}
.time-picker-column-item-effect {
  background-color: #a05489 !important;
}
.dialog-btn {
  color: white;
  width: 40%;
  height: 40px;
  justify-content: center;
  background-color: #8a296d;
  border-radius: 10px;
}
.v-dialog > .v-card {
  & > .v-card__text {
    padding: 0px;
  }
  & > .v-card__title {
    padding-bottom: 0px;
  }
}
.v-card__actions {
  display: flex;
  justify-content: center;
}
.absolute {
  position: absolute;
  z-index: 99;
}
.front {
  height: 40px;
  position: absolute;
  bottom: 2%;
  z-index: 100000000009;
}
.vtimeselector__box__item {
  font-size: 20px;
  &--is-selected {
    background: #a05489;
  }
}
.timeselector__box__item--is-selected {
  background: #a05489;
}
.vtimeselector__input {
  text-align: center;
}

.v-application {
  & .headline {
    display: center;
    justify-content: center;
    font-size: 14px !important;
    background-color: white !important;
    font-weight: bold !important;
  }
  & ul,
  & ol {
    height: 210px;
    padding-left: 0px !important;
    padding-left: 17px;
    overflow-y: scroll;
  }
  &--wrap {
    min-height: 0 !important;
  }
}

.vtimeselector {
  display: flex;
  justify-content: center;
}
.v-card {
  height: 400px;
  width: 400px;
}
.vtimeselector__box--is-closed {
  display: flex;
}

.text-white {
  color: white;
}
.pop-timer {
  background-color: #a05489 !important;
}
.mdi-clock::before {
  color: white;
}
</style>
<style>
.v-application--wrap {
  min-height: 0vh !important;
}
</style>
