<template>
  <div style="background-color:#ffffff; width:100%;">
    <div class="text-center pt-2">
      <b style="color:black;font-size:15px;">รายการคำขอปฏิบัติงาน</b>
      <div style="margin-top: 2%;">
        <div v-if="isFull">
          <div style="display: flex;height:40px">
            <div class="subject">
              <p class="text_subject">Full Time</p>
            </div>
            <div class="sub_subject" v-on:click="switched()">
              <p class="text_sub_subject">PartTime</p>
            </div>
          </div>
        </div>
        <div v-else>
          <div style="display: flex;height:40px">
            <div class="sub_subject" v-on:click="switched()">
              <p class="text_sub_subject">Full Time</p>
            </div>
            <div class="subject">
              <p class="text_subject">PartTime</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="isFull">
      <div v-if="waiting_sort_day.length > 0">
        <div v-for="(item, index) in show" :key="index">
          <span class="badge badge-secondary day_show"
            >{{ item.date_start }} - {{ item.date_end }}</span
          >
          <div
            v-if="
              getHeaderFullTime(item.date_start, item.date_end, level_1)
                .length > 0
            "
          >
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_1[0].level }} :
                    {{ level_1[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div v-for="(job, index) in level_1" :key="index">
                <div
                  class="d-flex mt-2"
                  v-if="
                    job.date_time_job.date_start === item.date_start &&
                      job.date_time_job.date_end === item.date_end
                  "
                >
                  <div class="col-1 align-items-center">
                    <input type="checkbox" @change="choose(job)" />
                  </div>
                  <div class="col-11">
                    <div class="body_input d-flex">
                      <div class="col-3">
                        <img :src="job.img" style="width:60px;height:60px" />
                      </div>
                      <div class="col-9">
                        <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                        <p class="text_des w-100">
                          {{ job.user.title }}
                          {{ job.user.name }}
                        </p>
                        <p class="text_des w-100">
                          Level {{ level_1[0].level }} :
                          {{ level_1[0].position }}
                        </p>
                        <div class="d-flex">
                          <div class="col-7 p-0">
                            <p class="text_des w-100">
                              วันที่ปฏิบัติงาน
                              {{ job.date_time_job.date_start }}-{{
                                job.date_time_job.date_end
                              }}
                            </p>
                          </div>
                          <div class="col-5 p-0 text-right">
                            <p style="margin-top:0% !important">
                              <u
                                style="font-size:12px;color:#8a296d"
                                @click="goEmployeeDetail(job)"
                                >ดูรายละเอียด</u
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            v-if="
              getHeaderFullTime(item.date_start, item.date_end, level_2)
                .length > 0
            "
          >
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_2[0].level }} :
                    {{ level_2[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div v-for="(job, index) in level_2" :key="index">
                <div
                  class="d-flex mt-2"
                  v-if="
                    job.date_time_job.date_start === item.date_start &&
                      job.date_time_job.date_end === item.date_end
                  "
                >
                  <div class="col-1 align-items-center">
                    <input type="checkbox" @change="choose(job)" />
                  </div>
                  <div class="col-11">
                    <div class="body_input d-flex">
                      <div class="col-3">
                        <img :src="job.img" style="width:60px;height:60px" />
                      </div>
                      <div class="col-9">
                        <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                        <p class="text_des w-100">
                          {{ job.user.title }}
                          {{ job.user.name }}
                        </p>
                        <p class="text_des w-100">
                          Level {{ level_2[0].level }} :
                          {{ level_2[0].position }}
                        </p>
                        <div class="d-flex">
                          <div class="col-7 p-0">
                            <p class="text_des w-100">
                              วันที่ปฏิบัติงาน
                              {{ job.date_time_job.date_start }}-{{
                                job.date_time_job.date_end
                              }}
                            </p>
                          </div>
                          <div class="col-5 p-0 text-right">
                            <p style="margin-top:0% !important">
                              <u
                                style="font-size:12px;color:#8a296d"
                                @click="goEmployeeDetail(job)"
                                >ดูรายละเอียด</u
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            v-if="
              getHeaderFullTime(item.date_start, item.date_end, level_3)
                .length > 0
            "
          >
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_3[0].level }} :
                    {{ level_3[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div v-for="(job, index) in level_3" :key="index">
                <div
                  class="d-flex mt-2"
                  v-if="
                    job.date_time_job.date_start === item.date_start &&
                      job.date_time_job.date_end === item.date_end
                  "
                >
                  <div class="col-1 align-items-center">
                    <input type="checkbox" @change="choose(job)" />
                  </div>
                  <div class="col-11">
                    <div class="body_input d-flex">
                      <div class="col-3">
                        <img :src="job.img" style="width:60px;height:60px" />
                      </div>
                      <div class="col-9">
                        <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                        <p class="text_des w-100">
                          {{ job.user.title }}
                          {{ job.user.name }}
                        </p>
                        <p class="text_des w-100">
                          Level {{ level_3[0].level }} :
                          {{ level_3[0].position }}
                        </p>
                        <div class="d-flex">
                          <div class="col-7 p-0">
                            <p class="text_des w-100">
                              วันที่ปฏิบัติงาน
                              {{ job.date_time_job.date_start }}-{{
                                job.date_time_job.date_end
                              }}
                            </p>
                          </div>
                          <div class="col-5 p-0 text-right">
                            <p style="margin-top:0% !important">
                              <u
                                style="font-size:12px;color:#8a296d"
                                @click="goEmployeeDetail(job)"
                                >ดูรายละเอียด</u
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            v-if="
              getHeaderFullTime(item.date_start, item.date_end, level_4)
                .length > 0
            "
          >
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_4[0].level }} :
                    {{ level_4[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div v-for="(job, index) in level_4" :key="index">
                <div
                  class="d-flex mt-2"
                  v-if="
                    job.date_time_job.date_start === item.date_start &&
                      job.date_time_job.date_end === item.date_end
                  "
                >
                  <div class="col-1 align-items-center">
                    <input type="checkbox" @change="choose(job)" />
                  </div>
                  <div class="col-11">
                    <div class="body_input d-flex">
                      <div class="col-3">
                        <img :src="job.img" style="width:60px;height:60px" />
                      </div>
                      <div class="col-9">
                        <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                        <p class="text_des w-100">
                          {{ job.user.title }}
                          {{ job.user.name }}
                        </p>
                        <p class="text_des w-100">
                          Level {{ level_4[0].level }} :
                          {{ level_4[0].position }}
                        </p>
                        <div class="d-flex">
                          <div class="col-7 p-0">
                            <p class="text_des w-100">
                              วันที่ปฏิบัติงาน
                              {{ job.date_time_job.date_start }}-{{
                                job.date_time_job.date_end
                              }}
                            </p>
                          </div>
                          <div class="col-5 p-0 text-right">
                            <p style="margin-top:0% !important">
                              <u
                                style="font-size:12px;color:#8a296d"
                                @click="goEmployeeDetail(job)"
                                >ดูรายละเอียด</u
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            v-if="
              getHeaderFullTime(item.date_start, item.date_end, level_5)
                .length > 0
            "
          >
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    {{ level_5[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div v-for="(job, index) in level_5" :key="index">
                <div
                  class="d-flex mt-2"
                  v-if="
                    job.date_time_job.date_start === item.date_start &&
                      job.date_time_job.date_end === item.date_end
                  "
                >
                  <div class="col-1 align-items-center">
                    <input type="checkbox" @change="choose(job)" />
                  </div>
                  <div class="col-11">
                    <div class="body_input d-flex">
                      <div class="col-3">
                        <img :src="job.img" style="width:60px;height:60px" />
                      </div>
                      <div class="col-9">
                        <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                        <p class="text_des w-100">
                          {{ job.user.title }}
                          {{ job.user.name }}
                        </p>
                        <p class="text_des w-100">{{ level_5[0].position }}</p>
                        <div class="d-flex">
                          <div class="col-7 p-0">
                            <p class="text_des w-100">
                              วันที่ปฏิบัติงาน
                              {{ job.date_time_job.date_start }}-{{
                                job.date_time_job.date_end
                              }}
                            </p>
                          </div>
                          <div class="col-5 p-0 text-right">
                            <p style="margin-top:0% !important">
                              <u
                                style="font-size:12px;color:#8a296d"
                                @click="goEmployeeDetail(job)"
                                >ดูรายละเอียด</u
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            v-if="
              getHeaderFullTime(item.date_start, item.date_end, level_6)
                .length > 0
            "
          >
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    {{ level_6[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div v-for="(job, index) in level_6" :key="index">
                <div
                  class="d-flex mt-2"
                  v-if="
                    job.date_time_job.date_start === item.date_start &&
                      job.date_time_job.date_end === item.date_end
                  "
                >
                  <div class="col-1 align-items-center">
                    <input type="checkbox" @change="choose(job)" />
                  </div>
                  <div class="col-11">
                    <div class="body_input d-flex">
                      <div class="col-3">
                        <img :src="job.img" style="width:60px;height:60px" />
                      </div>
                      <div class="col-9">
                        <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                        <p class="text_des w-100">
                          {{ job.user.title }}
                          {{ job.user.name }}
                        </p>
                        <p class="text_des w-100">
                          Level {{ level_6[0].level }} :
                          {{ level_6[0].position }}
                        </p>
                        <div class="d-flex">
                          <div class="col-7 p-0">
                            <p class="text_des w-100">
                              วันที่ปฏิบัติงาน
                              {{ job.date_time_job.date_start }}-{{
                                job.date_time_job.date_end
                              }}
                            </p>
                          </div>
                          <div class="col-5 p-0 text-right">
                            <p style="margin-top:0% !important">
                              <u
                                style="font-size:12px;color:#8a296d"
                                @click="goEmployeeDetail(job)"
                                >ดูรายละเอียด</u
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- </div> -->
        </div>
      </div>
      <div v-else class="text-center" style="margin-top:20%">
        <b style="color:black;font-size:15px;">ไม่มีรายการคำขอปฏิบัติงาน</b>
      </div>
      <div class="body_button">
        <button
          class="button_back"
          @click="goBack()"
          type="button"
          style="width: 30%;"
        >
          <img src="../image/left_arrow_2.svg" alt style="float: left;" />
          กลับ
        </button>
        <button
          class="button_save"
          :class="{ active: activated }"
          :disabled="activated === false"
          type="submit"
          style="width: 70%;background-color: #a7a7a7"
          id="next"
          @click="confirm_job"
        >
          ยืนยันการจ้างงาน
        </button>
      </div>
    </div>

    <div v-else>
      <SelectJobAnnouncePart />
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import { baseUrl } from "../util/backend";
import moment from "moment";
import SelectJobAnnouncePart from "../components/SelectJobAnnouncePart";
export default {
  data() {
    return {
      all_em: {
        level_1: [],
        level_2: [],
        level_3: [],
        level_4: [],
        level_5: [],
        level_6: [],
      },
      user_level_1: [],
      user_level_2: [],
      user_level_3: [],
      user_level_4: [],
      user_level_5: [],
      user_level_6: [],
      img_level_1: [],
      img_level_2: [],
      img_level_3: [],
      img_level_4: [],
      img_level_5: [],
      img_level_6: [],
      profile_img: null,
      profile_user: [],
      count: 0,
      activeList: true,
      for_post: [],
      activated: false,
      isFull: true,
      day_show: [],
      all_amount: 0,
      post_length: 0,
    };
  },
  methods: {
    getHeaderFullTime(dateStart, dateEnd, level) {
      console.log(`dateStart`, dateStart);
      console.log(`dateEnd`, dateEnd);

      console.log(`can level`, level);
      let result = level.filter(
        (data) =>
          data.date_time_job.date_start === dateStart &&
          data.date_time_job.date_end === dateEnd
      );
      // console.log(`check result`, a);

      return result;
    },
    switched() {
      this.isFull = !this.isFull;
    },
    async get_list_sub() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var requestOptions = {
        method: "GET",
        headers: myHeaders,

        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/address/${this.company_id}/${this.sub_com_id}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          this.address_job = result;
          // this.$store.dispatch("addressCompanyId", result.address_com_id);
          console.log(this.address_job);
        })
        .catch((error) => console.log("error", error));
    },

    goBack() {
      // this.$emit("select", { active_3: this.isActive });
      // this.$store.dispatch("activeList", this.activeList);
      location.reload();
    },

    choose(job) {
      console.log("coming", job);
      if (this.for_post[0]) {
        // this.for_post.push(job);
        this.for_post.forEach((o) => {
          console.log("for post", o);

          if (o.deal_job_id === job.deal_job_id) {
            console.log("same");

            this.lodash.remove(this.for_post, (e) => {
              console.log(e);

              return e.deal_job_id == job.deal_job_id;
            });
          } else {
            this.for_post.push(job);
          }
        });
      } else {
        this.for_post.push(job);
      }
      console.log("for post", this.for_post);
      if (this.for_post[0]) {
        this.activated = true;
      } else {
        this.activated = false;
      }
    },
    confirm_job() {
      this.all_amount = this.for_post.length;

      this.for_post.forEach((o) => {
        this.post_confirm_job(o.deal_job_id);
        this.post_length += 1;
      });
      this.get_em_select();
      if (this.all_amount === this.post_length) {
        this.$router.push("/thankyou");
      }
    },
    async post_confirm_job(id) {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var raw = JSON.stringify({ deal_job_id: id });

      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow",
      };

      await fetch(`${baseUrl}api/confirm/job`, requestOptions)
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          this.$router.push("/thankyou");
          // this.get_em_select();
        })
        .catch((error) => console.log("error", error));
    },
    goEmployeeDetail(user) {
      // console.log("go employee eiei ", user);
      this.$store.dispatch("addDetailEm", user);
      this.$router.push("/employeeDetails");
    },
  },
  created() {
    console.log("this.waiting", this.waiting);

    this.get_list_sub();
  },
  updated() {},

  computed: {
    allEmployee() {
      return this.all_em;
    },
    show() {
      let a = this.day_show;
      if (this.waiting.length > 0) {
        this.waiting.forEach((i) => {
          a.push(i.date_time_job);
        });

        a = this.lodash.uniqBy(a, (elem) => {
          return [elem.date_start, elem.date_end].join();
        });

        console.log("day one deaun", a);
      }
      return a;
    },

    level_1() {
      let a = this.lodash.filter(this.waiting, { level: 1 });

      return a;
    },
    level_2() {
      let a = this.lodash.filter(this.waiting, { level: 2 });
      return a;
    },
    level_3() {
      let a = this.lodash.filter(this.waiting, { level: 3 });
      return a;
    },
    level_4() {
      let a = this.lodash.filter(this.waiting, { level: 4 });
      return a;
    },
    level_5() {
      let a = this.lodash.filter(this.waiting, { level: 5 });
      return a;
    },
    level_6() {
      let a = this.lodash.filter(this.waiting, { level: 6 });
      return a;
    },
    waiting_sort_day() {
      let a = this.lodash.sortBy(this.waiting, (b) => {
        console.log("sort day", b);
        return moment(b.date_time_job.date_start, "dd DD-MM-YY").toDate();
      });
      return a;
    },

    ...mapGetters({
      getAnnounce: "getAnnounce",
      company_id: "getCompanyId",
      sub_com_id: "getSubCompanyId",
      address_com_id: "getAddressComId",
      waiting: "getWaitingFull",
    }),
  },
  components: {
    SelectJobAnnouncePart,
  },
};
</script>
<style>
.align-items-center {
  display: flex;
  align-items: center;
}
.active {
  background: #8a296d !important;
}
.day_show {
  background-color: #cbcbcb !important;
  color: black !important;
  font-size: 14px !important;
}
</style>
