<template>
  <div style="background-color:#ffffff; width:100%;">
    <div v-if="isFull">
      <div v-if="waiting_sort_day.length > 0">
        <div v-for="(item, index) in show" :key="index">
          <span class="badge badge-secondary day_show">{{
            item.date_start
          }}</span>
          <div v-if="getHeader(item.date_start, level_1).length > 0">
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_1[0].level }} :
                    {{ level_1[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div v-for="(job, index) in level_1" :key="index">
                <div
                  class="d-flex mt-2"
                  v-if="job.period_job.date_start === item.date_start"
                >
                  <div class="col-1 align-items-center">
                    <input type="checkbox" @change="choose(job)" />
                  </div>
                  <div class="col-11">
                    <div class="body_input d-flex">
                      <div class="col-3">
                        <img :src="job.img" style="width:60px;height:60px" />
                      </div>
                      <div class="col-9">
                        <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                        <p class="text_des w-100">
                          {{ job.user.title }}
                          {{ job.user.name }}
                        </p>
                        <p class="text_des w-100">
                          Level {{ level_1[0].level }} :
                          {{ level_1[0].position }}
                        </p>
                        <div class="d-flex">
                          <div class="col-7 p-0">
                            <p class="text_des w-100">
                              วันที่ปฏิบัติงาน
                              {{ job.period_job.date_start }}
                            </p>
                          </div>
                          <div class="col-5 p-0 text-right">
                            <p style="margin-top:0% !important">
                              <u
                                style="font-size:12px;color:#8a296d"
                                @click="goEmployeeDetail(job)"
                                >ดูรายละเอียด</u
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="getHeader(item.date_start, level_2).length > 0">
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_2[0].level }} :
                    {{ level_2[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div v-for="(job, index) in level_2" :key="index">
                <div
                  class="d-flex mt-2"
                  v-if="job.period_job.date_start === item.date_start"
                >
                  <div class="col-1 align-items-center">
                    <input type="checkbox" @change="choose(job)" />
                  </div>
                  <div class="col-11">
                    <div class="body_input d-flex">
                      <div class="col-3">
                        <img :src="job.img" style="width:60px;height:60px" />
                      </div>
                      <div class="col-9">
                        <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                        <p class="text_des w-100">
                          {{ job.user.title }}
                          {{ job.user.name }}
                        </p>
                        <p class="text_des w-100">
                          Level {{ level_2[0].level }} :
                          {{ level_2[0].position }}
                        </p>
                        <div class="d-flex">
                          <div class="col-7 p-0">
                            <p class="text_des w-100">
                              วันที่ปฏิบัติงาน
                              {{ job.period_job.date_start }}
                            </p>
                          </div>
                          <div class="col-5 p-0 text-right">
                            <p style="margin-top:0% !important">
                              <u
                                style="font-size:12px;color:#8a296d"
                                @click="goEmployeeDetail(job)"
                                >ดูรายละเอียด</u
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="getHeader(item.date_start, level_3).length > 0">
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_3[0].level }} :
                    {{ level_3[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div v-for="(job, index) in level_3" :key="index">
                <div
                  class="d-flex mt-2"
                  v-if="job.period_job.date_start === item.date_start"
                >
                  <div class="col-1 align-items-center">
                    <input type="checkbox" @change="choose(job)" />
                  </div>
                  <div class="col-11">
                    <div class="body_input d-flex">
                      <div class="col-3">
                        <img :src="job.img" style="width:60px;height:60px" />
                      </div>
                      <div class="col-9">
                        <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                        <p class="text_des w-100">
                          {{ job.user.title }}
                          {{ job.user.name }}
                        </p>
                        <p class="text_des w-100">
                          Level {{ level_3[0].level }} :
                          {{ level_3[0].position }}
                        </p>
                        <div class="d-flex">
                          <div class="col-7 p-0">
                            <p class="text_des w-100">
                              วันที่ปฏิบัติงาน
                              {{ job.period_job.date_start }}
                            </p>
                          </div>
                          <div class="col-5 p-0 text-right">
                            <p style="margin-top:0% !important">
                              <u
                                style="font-size:12px;color:#8a296d"
                                @click="goEmployeeDetail(job)"
                                >ดูรายละเอียด</u
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="getHeader(item.date_start, level_4).length > 0">
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    Level {{ level_4[0].level }} :
                    {{ level_4[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div v-for="(job, index) in level_4" :key="index">
                <div
                  class="d-flex mt-2"
                  v-if="job.period_job.date_start === item.date_start"
                >
                  <div class="col-1 align-items-center">
                    <input type="checkbox" @change="choose(job)" />
                  </div>
                  <div class="col-11">
                    <div class="body_input d-flex">
                      <div class="col-3">
                        <img :src="job.img" style="width:60px;height:60px" />
                      </div>
                      <div class="col-9">
                        <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                        <p class="text_des w-100">
                          {{ job.user.title }}
                          {{ job.user.name }}
                        </p>
                        <p class="text_des w-100">
                          Level {{ level_4[0].level }} :
                          {{ level_4[0].position }}
                        </p>
                        <div class="d-flex">
                          <div class="col-7 p-0">
                            <p class="text_des w-100">
                              วันที่ปฏิบัติงาน
                              {{ job.period_job.date_start }}
                            </p>
                          </div>
                          <div class="col-5 p-0 text-right">
                            <p style="margin-top:0% !important">
                              <u
                                style="font-size:12px;color:#8a296d"
                                @click="goEmployeeDetail(job)"
                                >ดูรายละเอียด</u
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="getHeader(item.date_start, level_5).length > 0">
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    {{ level_5[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div v-for="(job, index) in level_5" :key="index">
                <div
                  class="d-flex mt-2"
                  v-if="job.period_job.date_start === item.date_start"
                >
                  <div class="col-1 align-items-center">
                    <input type="checkbox" @change="choose(job)" />
                  </div>
                  <div class="col-11">
                    <div class="body_input d-flex">
                      <div class="col-3">
                        <img :src="job.img" style="width:60px;height:60px" />
                      </div>
                      <div class="col-9">
                        <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                        <p class="text_des w-100">
                          {{ job.user.title }}
                          {{ job.user.name }}
                        </p>
                        <p class="text_des w-100">{{ level_5[0].position }}</p>
                        <div class="d-flex">
                          <div class="col-7 p-0">
                            <p class="text_des w-100">
                              วันที่ปฏิบัติงาน
                              {{ job.period_job.date_start }}
                            </p>
                          </div>
                          <div class="col-5 p-0 text-right">
                            <p style="margin-top:0% !important">
                              <u
                                style="font-size:12px;color:#8a296d"
                                @click="goEmployeeDetail(job)"
                                >ดูรายละเอียด</u
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-if="getHeader(item.date_start, level_6).length > 0">
            <div>
              <div style="display:flex" class="mt-2">
                <div class="col-2 p-0"></div>
                <div
                  class="col-8 p-0 text-center"
                  style="background-color:#f3bb25;border-radius:7px"
                >
                  <p style="font-size:12px !important" class="m-1">
                    {{ level_6[0].position }}
                  </p>
                </div>
                <div class="col-2 p-0"></div>
              </div>

              <div v-for="(job, index) in level_6" :key="index">
                <div
                  class="d-flex mt-2"
                  v-if="job.period_job.date_start === item.date_start"
                >
                  <div class="col-1 align-items-center">
                    <input type="checkbox" @change="choose(job)" />
                  </div>
                  <div class="col-11">
                    <div class="body_input d-flex">
                      <div class="col-3">
                        <img :src="job.img" style="width:60px;height:60px" />
                      </div>
                      <div class="col-9">
                        <p class="text_des w-100">รหัส {{ job.user.member }}</p>
                        <p class="text_des w-100">
                          {{ job.user.title }}
                          {{ job.user.name }}
                        </p>
                        <p class="text_des w-100">{{ level_6[0].position }}</p>
                        <div class="d-flex">
                          <div class="col-7 p-0">
                            <p class="text_des w-100">
                              วันที่ปฏิบัติงาน
                              {{ job.period_job.date_start }}
                            </p>
                          </div>
                          <div class="col-5 p-0 text-right">
                            <p style="margin-top:0% !important">
                              <u
                                style="font-size:12px;color:#8a296d"
                                @click="goEmployeeDetail(job)"
                                >ดูรายละเอียด</u
                              >
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- </div> -->
        </div>
      </div>
      <div v-else class="text-center" style="margin-top:20%">
        <b style="color:black;font-size:15px;">ไม่มีรายการคำขอปฏิบัติงาน</b>
      </div>
      <div class="body_button">
        <button
          class="button_back"
          @click="goBack()"
          type="button"
          style="width: 30%;"
        >
          <img src="../image/left_arrow_2.svg" alt style="float: left;" />
          กลับ
        </button>
        <button
          class="button_save"
          :class="{ active: activated }"
          :disabled="activated === false"
          type="submit"
          style="width: 70%;background-color: #a7a7a7"
          id="next"
          @click="confirm_job"
        >
          ยืนยันการจ้างงาน
        </button>
      </div>
    </div>
    <div class="body_button">
      <button
        class="button_back"
        @click="goBack()"
        type="button"
        style="width: 30%;"
      >
        <img src="../image/left_arrow_2.svg" alt style="float: left;" />
        กลับ
      </button>
      <button
        class="button_save"
        :class="{ active: activated }"
        :disabled="activated === false"
        type="submit"
        style="width: 70%;background-color: #a7a7a7"
        id="next"
        @click="confirm_job"
      >
        ยืนยันการจ้างงาน
      </button>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import { baseUrl } from "../util/backend";
import moment from "moment";
export default {
  data() {
    return {
      address_job: {},
      all_em: {
        level_1: [],
        level_2: [],
        level_3: [],
        level_4: [],
        level_5: [],
        level_6: [],
      },
      user_level_1: [],
      user_level_2: [],
      user_level_3: [],
      user_level_4: [],
      user_level_5: [],
      user_level_6: [],
      img_level_1: [],
      img_level_2: [],
      img_level_3: [],
      img_level_4: [],
      img_level_5: [],
      img_level_6: [],
      profile_img: null,
      profile_user: [],
      count: 0,
      activeList: true,
      for_post: [],
      activated: false,
      isFull: true,
      day_show: [],
    };
  },
  methods: {
    getHeader(date, level) {
      console.log(`date`, date);
      console.log(`can level`, level);
      let result = level.filter((data) => data.period_job.date_start === date);
      // console.log(`check result`, a);

      return result;
    },
    switched() {
      this.isFull = !this.isFull;
    },
    async get_list_sub() {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var requestOptions = {
        method: "GET",
        headers: myHeaders,

        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/address/${this.company_id}/${this.sub_com_id}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          this.address_job = result;
          // this.$store.dispatch("addressCompanyId", result.address_com_id);
          console.log(this.address_job);
        })
        .catch((error) => console.log("error", error));
    },

    async get_em_select() {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      await fetch(
        `${baseUrl}api/dealjob/company/${localStorage.idUser}`,

        requestOptions
      )
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log("employee will select job", result);

          result.deal_job_part_time.forEach(async (o) => {
            if (o.level === 1 && o.annoucement.deal_job_part_times[0]) {
              // console.log("oooo", o);

              o.annoucement.deal_job_part_times.forEach(async (i) => {
                console.log("iiii", i);
                i.period_job.date_start = moment(
                  i.period_job.date_start
                ).format("dd DD-MM-YY");
                i.period_job.date_end = moment(i.period_job.date_end).format(
                  "dd DD-MM-YY"
                );

                console.log("id member lv 1", i.user.member);

                var requestOptions = {
                  method: "GET",
                  redirect: "follow",
                };

                await fetch(
                  `${baseUrl}api/image/profile/` + `${i.user.member}`,

                  requestOptions
                )
                  .then((response) => response.text())
                  .then((result) => {
                    result = JSON.parse(result);
                    console.log(result.link);
                    // console.log("img", result.link);

                    //  this.img_level_1.push(result.link);
                    // console.log("img coming", this.img_level_1);
                    if (result.link) {
                      this.all_em.level_1.push(o);

                      Object.assign(i, { img: result.link });
                      // console.log("ooo level_1", i);

                      this.user_level_1.push(i);
                      console.log("before level_1", this.user_level_1);

                      setTimeout(() => {
                        console.log("log level_1", this.all_em.level_1);
                        // console.log("before level_1", this.user_level_1);
                        this.user_level_1 = this.lodash.filter(
                          this.user_level_1,
                          (a) => {
                            // Object.assign(a, { img: result.link });

                            return a.status == "waiting";
                          }
                        );
                        console.log("after level_1", this.user_level_1);
                      }, 200);
                    }
                  })
                  .catch((error) => console.log("error", error));

                // console.log("i yaaa", this.img_level_1);
              });
            }

            if (o.level === 2 && o.annoucement.deal_job_part_times[0]) {
              o.annoucement.deal_job_part_times.forEach(async (i) => {
                i.period_job.date_start = moment(
                  i.period_job.date_start
                ).format("dd DD-MM-YY");
                i.period_job.date_end = moment(i.period_job.date_end).format(
                  "dd DD-MM-YY"
                );
                var requestOptions = {
                  method: "GET",
                  redirect: "follow",
                };

                await fetch(
                  `${baseUrl}api/image/profile/` + `${i.user.member}`,

                  requestOptions
                )
                  .then((response) => response.text())
                  .then((result) => {
                    result = JSON.parse(result);
                    console.log(result.link);
                    // this.img_level_2.push(result.link);
                    if (result.link) {
                      this.all_em.level_2.push(o);
                      Object.assign(i, { img: result.link });
                      // console.log("ooo level_2", i);

                      this.user_level_2.push(i);
                      setTimeout(() => {
                        console.log("log level_2", this.all_em.level_2);
                        console.log("before level_2", this.user_level_2);
                        this.user_level_2 = this.lodash.filter(
                          this.user_level_2,
                          (a) => {
                            return a.status == "waiting";
                          }
                        );
                        console.log("after level_2", this.user_level_2);
                      }, 200);
                    }
                  })
                  .catch((error) => console.log("error", error));

                // console.log("i yaaa", this.img_level_2);
              });
            }
            if (o.level === 3 && o.annoucement.deal_job_part_times[0]) {
              o.annoucement.deal_job_part_times.forEach(async (i) => {
                i.period_job.date_start = moment(
                  i.period_job.date_start
                ).format("dd DD-MM-YY");
                i.period_job.date_end = moment(i.period_job.date_end).format(
                  "dd DD-MM-YY"
                );
                var requestOptions = {
                  method: "GET",
                  redirect: "follow",
                };

                await fetch(
                  `${baseUrl}api/image/profile/` + `${i.user.member}`,

                  requestOptions
                )
                  .then((response) => response.text())
                  .then((result) => {
                    result = JSON.parse(result);
                    if (result.link) {
                      this.all_em.level_3.push(o);
                      Object.assign(i, { img: result.link });
                      // console.log("ooo level_3", i);

                      this.user_level_3.push(i);
                      setTimeout(() => {
                        console.log("log level_3", this.all_em.level_3);
                        console.log("before level_3", this.user_level_3);
                        this.user_level_3 = this.lodash.filter(
                          this.user_level_3,
                          (a) => {
                            return a.status == "waiting";
                          }
                        );
                        console.log("after level_3", this.user_level_3);
                      }, 200);
                    }
                  })
                  .catch((error) => console.log("error", error));

                // console.log("i yaaa", this.img_level_3);
              });

              // forEach
              // console.log("log level_3", this.all_em.level_3);
            }
            if (o.level === 4 && o.annoucement.deal_job_part_times[0]) {
              o.annoucement.deal_job_part_times.forEach(async (i) => {
                i.period_job.date_start = moment(
                  i.period_job.date_start
                ).format("dd DD-MM-YY");
                i.period_job.date_end = moment(i.period_job.date_end).format(
                  "dd DD-MM-YY"
                );
                var requestOptions = {
                  method: "GET",
                  redirect: "follow",
                };

                await fetch(
                  `${baseUrl}api/image/profile/` + `${i.user.member}`,

                  requestOptions
                )
                  .then((response) => response.text())
                  .then((result) => {
                    result = JSON.parse(result);
                    if (result.link) {
                      this.all_em.level_4.push(o);
                      // console.log("ooo level_4", i);
                      Object.assign(i, { img: result.link });
                      this.user_level_4.push(i);
                      setTimeout(() => {
                        console.log("log level_4", this.all_em.level_4);
                        console.log("before level_4", this.user_level_4);
                        this.user_level_4 = this.lodash.filter(
                          this.user_level_4,
                          (a) => {
                            return a.status == "waiting";
                          }
                        );
                        console.log("after level_4", this.user_level_4);
                      }, 200);
                    }
                  })
                  .catch((error) => console.log("error", error));

                // console.log("i yaaa", this.img_level_4);
              });
            }
            if (o.level === 5 && o.annoucement.deal_job_part_times[0]) {
              o.annoucement.deal_job_part_times.forEach(async (i) => {
                i.period_job.date_start = moment(
                  i.period_job.date_start
                ).format("dd DD-MM-YY");
                i.period_job.date_end = moment(i.period_job.date_end).format(
                  "dd DD-MM-YY"
                );
                var requestOptions = {
                  method: "GET",
                  redirect: "follow",
                };

                await fetch(
                  `${baseUrl}api/image/profile/` + `${i.user.member}`,

                  requestOptions
                )
                  .then((response) => response.text())
                  .then((result) => {
                    result = JSON.parse(result);
                    if (result.link) {
                      this.all_em.level_5.push(o);
                      // console.log("ooo level_5", i);
                      Object.assign(i, { img: result.link });
                      this.user_level_5.push(i);
                      setTimeout(() => {
                        console.log("log level_5", this.all_em.level_5);
                        console.log("before level_5", this.user_level_5);
                        this.user_level_5 = this.lodash.filter(
                          this.user_level_5,
                          (a) => {
                            console.log(
                              "level_5 a status" + `${a.deal_job_id}`,
                              a.status
                            );

                            return a.status == "waiting";
                          }
                        );
                        console.log("after level_5", this.user_level_5);
                      }, 500);
                    }
                  })
                  .catch((error) => console.log("error", error));

                // console.log("i yaaa", this.img_level_5);
              });
            }
            if (o.level === 6 && o.annoucement.deal_job_part_times[0]) {
              o.annoucement.deal_job_part_times.forEach(async (i) => {
                i.period_job.date_start = moment(
                  i.period_job.date_start
                ).format("dd DD-MM-YY");
                i.period_job.date_end = moment(i.period_job.date_end).format(
                  "dd DD-MM-YY"
                );
                var requestOptions = {
                  method: "GET",
                  redirect: "follow",
                };

                await fetch(
                  `${baseUrl}api/image/profile/` + `${i.user.member}`,

                  requestOptions
                )
                  .then((response) => response.text())
                  .then((result) => {
                    result = JSON.parse(result);
                    if (result.link) {
                      this.all_em.level_6.push(o);
                      Object.assign(i, { img: result.link });
                      // console.log("ooo level_6", i);

                      this.user_level_6.push(i);
                      setTimeout(() => {
                        console.log("log level_6", this.all_em.level_6);
                        console.log("before level_6", this.user_level_6);
                        this.user_level_6 = this.lodash.filter(
                          this.user_level_6,
                          (a) => {
                            return a.status == "waiting";
                          }
                        );
                        console.log("after level_6", this.user_level_6);
                      }, 200);
                    }
                  })
                  .catch((error) => console.log("error", error));

                // console.log("i yaaa", this.img_level_6);
              });
            }
          });

          console.log("classicfied level:", this.all_em);
        })
        .catch((error) => console.log("error", error));
    },
    async get_profile_img(id) {
      var requestOptions = {
        method: "GET",
        redirect: "follow",
      };

      await fetch(`${baseUrl}api/image/profile/` + `${id}`, requestOptions)
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result.link);
          this.img_level_1.push({ img: result.link });
        })
        .catch((error) => console.log("error", error));
    },
    goBack() {
      this.$emit("select", { active_3: this.isActive });
      this.$store.dispatch("activeList", this.activeList);
    },

    choose(job) {
      console.log("coming", job);
      if (this.for_post[0]) {
        // this.for_post.push(job);
        this.for_post.forEach((o) => {
          console.log("for post", o);

          if (o.deal_job_part_time_id === job.deal_job_part_time_id) {
            console.log("same");

            this.lodash.remove(this.for_post, (e) => {
              console.log("e ja", e);

              return e.deal_job_part_time_id == job.deal_job_part_time_id;
            });
          } else {
            this.for_post.push(job);
          }
        });
      } else {
        this.for_post.push(job);
      }
      console.log("for post", this.for_post);
      if (this.for_post[0]) {
        this.activated = true;
      } else {
        this.activated = false;
      }
    },
    confirm_job() {
      this.for_post.forEach((o) => {
        this.post_confirm_job(o.deal_job_part_time_id);
      });
      this.get_em_select();
      this.$router.push("/thankyou");
    },
    async post_confirm_job(id) {
      var myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      var raw = JSON.stringify({ deal_job_part_time_id: id });

      var requestOptions = {
        method: "POST",
        headers: myHeaders,
        body: raw,
        redirect: "follow",
      };

      await fetch(`${baseUrl}api/confirm/job/parttime`, requestOptions)
        .then((response) => response.text())
        .then((result) => {
          result = JSON.parse(result);
          console.log(result);
          // this.$router.push("/thankyou");
          // this.get_em_select();
        })
        .catch((error) => console.log("error", error));
    },
    goEmployeeDetail(user) {
      // console.log("go employee eiei ", user);
      this.$store.dispatch("addDetailEm", user);
      this.$router.push("/employeeDetails");
    },
  },
  created() {
    console.log("this.waiting v parttime", this.waiting);
    // console.log("ok");
    // console.log(this.company_id);
    // console.log(this.sub_com_id);
    // console.log("content announce", this.getAnnounce);
    // this.get_em_select();

    this.get_list_sub();
  },
  updated() {
    // console.log("check announce", this.getAnnounce);
  },

  computed: {
    allEmployee() {
      return this.all_em;
    },
    level_1() {
      let a = this.lodash.filter(this.waiting, { level: 1 });

      return a;
    },
    level_2() {
      let a = this.lodash.filter(this.waiting, { level: 2 });
      return a;
    },
    level_3() {
      let a = this.lodash.filter(this.waiting, { level: 3 });
      return a;
    },
    level_4() {
      let a = this.lodash.filter(this.waiting, { level: 4 });
      return a;
    },
    level_5() {
      let a = this.lodash.filter(this.waiting, { level: 5 });
      return a;
    },
    level_6() {
      let a = this.lodash.filter(this.waiting, { level: 6 });
      return a;
    },
    show() {
      let a = this.day_show;
      if (this.waiting.length > 0) {
        this.waiting.forEach((i) => {
          a.push(i.period_job);
        });

        a = this.lodash.uniqBy(a, (elem) => {
          return elem.date_start;
        });

        console.log("day one deaun", a);
      }
      return a;
    },
    waiting_sort_day() {
      let a = this.lodash.sortBy(this.waiting, (b) => {
        console.log("sort day", b);
        return moment(b.period_job.date_start, "dd DD-MM-YY").toDate();
      });
      return a;
    },

    ...mapGetters({
      getAnnounce: "getAnnounce",
      company_id: "getCompanyId",
      sub_com_id: "getSubCompanyId",
      address_com_id: "getAddressComId",
      waiting: "getWaitingPart",
    }),
  },
};
</script>
<style>
.align-items-center {
  display: flex;
  align-items: center;
}
.active {
  background: #8a296d !important;
}
</style>
