<template>
  <div class="body_input color_back">
    <div class="row">
      <div class="col-9 pt-1 pr-1 pb-0" style="margin-top:0 % !important; ">
        <div class="ml-1" style="display:flex">
          <div class="col-6 p-0">
            <p style="font-size:10px">
              <span style="font-size:12px">รอบการชำระเงิน</span>
              <br />
              <span style="font-size:9px">(ทุกวันที่ 1 และ 16 ของเดือน)</span>
            </p>
          </div>
          <div class="col-6 p-0 calendar-block">
            <!-- <input
              id="this"
              type="text"
              class="form-control mt-1 calendar_in"
           
            />-->
            <vc-date-picker
              ref="calendar"
              v-model="dateInput"
              @click="getDate()"
              mode="single"
              @dayclick="updateSelectedDate"
              :disabled-dates="{ days: dayArr }"
              :popover="{ placement: 'bottom' }"
            ></vc-date-picker>
            <img class="calendar" src="../image/calendar.svg" alt />
          </div>
        </div>
        <div class="ml-1 mt-1" style="display:flex">
          <div class="col-6 p-0">
            <p style="font-size:12px">
              คำนวนจาก
              <br />
            </p>
          </div>
          <div class="col-6 p-0">
            <input
              type="text"
              class="form-control form-disable mt-1 calendar_in"
              style="font-size:10px;background:#d9d9d9;"
              :placeholder="full"
            />
          </div>
        </div>
      </div>
      <div class="col-3 p-0 pr-2" style="display:flex">
        <div class="vl mt-2 mb-2"></div>
        <div class="box">
          <p style="color:#f52121; font-size:12px; font-weight:bold">
            ยอดรวม
            <br />
            <span style="display:none">{{vuex_date}}</span>
          </p>
          <p style="color:#f52121; font-size:14px; font-weight:bold;" class="mt-2">{{getVat}}</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from "moment";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      dateInput: new Date(),
      date: new Date(),
      showDate: null,
      month: new Date().getMonth(),
      year: new Date().getFullYear(),
      lastDay: "",
      fistDay: "",
      dayArr: [
        2,
        3,
        4,
        5,
        6,
        7,
        8,
        9,
        10,
        11,
        12,
        13,
        14,
        15,
        16,
        17,
        18,
        19,
        20,
        21,
        22,
        23,
        24,
        25,
        26,
        27,
        28,
        29,
        30,
        31
      ]
    };
  },

  created() {
    this.dateInput = new Date(this.year, this.month, 1);
    console.log(`data input  `, this.dateInput);
    this.$store.commit("datePaymentMutation", this.dateInput);
    // this.showDate = new Date(this.year, this.month, 1);
    // console.log(this.month + 1);
    // const calendar = this.$refs.calendar;
    // console.log(calendar);
  },

  computed: {
    Data() {
      const startMonth = moment(this.dateInput).format("DD-MM-YY");
      console.log(startMonth);
      return startMonth;
    },
    vuex_date() {
      const a = this.dateInput;
      this.$store.commit("datePaymentMutation", this.dateInput);
      return a;
    },
    getStart() {
      const thisDate = moment(this.dateInput).format("DD-MM-YYYY");

      return thisDate;
    },
    end() {
      const month_now = moment(this.dateInput).format("M");
      console.log("mounth", month_now);
      const last_day = new Date(
        this.dateInput.getFullYear(),
        this.dateInput.getMonth() + 1,
        0
      );
      const endOfMonth = moment(last_day).format("DD-MM-YYYY");

      console.log("mounth enddd", endOfMonth);
      return endOfMonth;
    },
    full() {
      return this.getStart + " - " + this.end;
    },
    ...mapGetters({
      getPaid: "payment/getEmPaid",
      getdatePayment: "getdatePayment",
      getVat: "getVat"
    })
  },

  methods: {
    getEvent(d) {
      console.log(`get event`, d);
    },
    parseDate(d) {
      console.log(d);
    },

    formatDate(d) {
      console.log("aaaa");
      console.log(d);
    },

    functionEvents(event) {
      console.log(event);
    },
    updateSelectedDate(event) {
      console.log("xx", event.id);

      // this.dateInput = moment(event.id).format("DD/MM/YY");
      // console.log("date", this.dateInput);

      this.$store.commit("datePaymentMutation", this.dateInput);
    },
    getDate() {
      console.log(this.date);
    }
  }
};
</script>
<style>
.color_back {
  background: #f5937a !important ;
}
.vl {
  border-left: 1px solid white;
  height: 80px;
}
.total {
  background: white;
}
.calendar_in {
  height: 35px;
}
</style>

<style scoped>
.vc-popover-content-wrapper is-interactive {
  left: -14px !important;
  color: red;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: black;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: black;
}
.body_input {
  box-shadow: 0px 0px 7px 2px rgba(158, 155, 158, 0.3);
}

.form-control {
  box-shadow: 0px 0px 7px 2px rgba(158, 155, 158, 0.3);
  border: none;
  padding-left: 20px;
  padding-right: 30px;
}
.vc-text-base {
  font-size: 12px;
}

.form-disable {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.box {
  background-color: white;
  border-radius: 10px;
  border-width: 0px;
  box-shadow: 0px 0px 7px 2px rgba(158, 155, 158, 0.3);
  height: 80%;
  width: 90%;
  display: flex;
  text-align: center;
  margin: 4px;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

.calendar-block {
  position: relative;
}
.calendar-block img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 19px;
}

@media screen and (min-width: 320px) {
  .calendar-block img {
    position: absolute;
    top: 8px;
    right: 9px;
    width: 18px;
  }
}
</style>
