/* =================================
------------------------------------
  Unica - University Template
  Version: 1.0
 ------------------------------------ 
 ====================================*/

/*----------------------------------------*/

/* Template default CSS
/*----------------------------------------*/

.bodypage {
  /* background-color: white; */
  padding: 10px 7px 7px 7px;
}

@font-face {
  font-family: "Sukhumvit";
  src: url("../fonts/sukhumvit-set/SukhumvitSet-Medium.ttf")
      format("embedded-opentype"),
    url(../fonts/sukhumvit-set/SukhumvitSet-Medium.ttf) format("opentype");
}

body {
  font-family: Sukhumvit;
}

hr {
  margin-top: 2% !important;
  margin-bottom: 3% !important;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.span_orage {
  color: #db4529;
}

.grey-page {
  background-color: #d9d9d9;
  width: 98%;
  height: 105%;
  position: absolute;
  top: 0%;
  left: 1%;
  /* padding: 3%; */
  z-index: -1;
  opacity: 0.6;
  border-radius: 10px;
}

.form-group {
  padding-top: 2%;
  width: 100%;
  padding-left: 2% !important;
  padding-right: 2% !important;
}

p {
  margin-bottom: 0px !important;
  margin-top: 2% !important;
}

.calendar {
  background-image: url("image/calendar.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.button_upload {
  background-color: #a05489;
  font-size: 12px;
  color: white;
  width: 75px;
  height: 45px;
  margin-top: 17%;
  border-radius: 10px;
  border-width: 0px;
}

.clock {
  background-image: url("image/clock.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 3%;
  background-origin: content-box;
}

.button_time {
  background-color: #a05489;
  color: white;
  width: 70%;
  height: 45px;
  border-radius: 10px;
}

.button_count {
  background-color: #a05489;
  color: white;
  width: 20%;
  font-size: 30px;
  height: 45px;
  border-radius: 10px;
  border-width: 0px;
}

.button_back {
  background-color: #a05489;
  color: white;
  height: 45px;
  border-radius: 10px;
  border-width: 0px;
}

.form-control {
  display: block;
  width: 100%;
  height: 45px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.button_save {
  background-color: #a05489;
  color: white;
  height: 45px;
  margin-left: 1%;
  border-radius: 10px;
  border-width: 0px;
}

.body_input {
  background-color: white;
  margin-top: 2%;
  padding: 2%;
  border-radius: 10px;
  border-width: 0px;
  -webkit-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
  -moz-box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
  box-shadow: 5px 15px 21px -4px rgba(158, 155, 158, 0.49);
}

.body_button {
  margin-top: 2%;
  padding: 2%;
  border-radius: 10px;
  border-width: 0px;
  display: flex;
  position: fixed;
  top: 89%;
  left: 0px;
  width: 100%;
  z-index: 100;
}

.detail {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.title-page {
  font-size: 15px;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111111;
  margin: 0;
  font-weight: 500;
}

hr {
  width: 100%;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
  line-height: 1.2;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 14px;
  color: black;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.table-mid {
  text-align: center;
}

.logo-icon {
  float: left;
}

.close-icon {
  float: right;
  width: 39px;
}

.space-header {
  position: relative;
  background-color: white;
  width: 100%;
  /* height: 100px;
  top: -600px; */
  text-align: center;
}

/* media mobile */

@media (min-width: 1200px) {
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .background1 {
    width: 620px;
    height: 620px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #8a296d, #db4529);
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: -15%;
    z-index: -2;
  }
  .background2 {
    width: 200px;
    height: 200px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #db4529, #bfd335);
    border-radius: 50%;
    position: absolute;
    top: -2%;
    right: 0%;
    z-index: -2;
  }
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .background1 {
    width: 400px;
    height: 400px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #8a296d, #db4529);
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: -15%;
    z-index: -2;
  }
  .background2 {
    width: 100px;
    height: 100px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #db4529, #bfd335);
    border-radius: 50%;
    position: absolute;
    top: -2%;
    right: 0%;
    z-index: -2;
  }
}

.dropdown-menu {
  transform: translate3d(5px, 35px, 0px) !important;
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
  .background1 {
    width: 400px;
    height: 400px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #8a296d, #db4529);
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: -15%;
    z-index: -2;
  }
  .background2 {
    width: 100px;
    height: 100px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #db4529, #bfd335);
    border-radius: 50%;
    position: absolute;
    top: -2%;
    right: 0%;
    z-index: -2;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 568px) {
  .background1 {
    width: 300px;
    height: 300px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #8a296d, #db4529);
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: -15%;
    z-index: -2;
  }
  .background2 {
    width: 60px;
    height: 60px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #db4529, #bfd335);
    border-radius: 50%;
    position: absolute;
    top: -2%;
    right: 0%;
    z-index: -2;
  }
}

/* small Mobile :320px. */

@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
  .background1 {
    width: 300px;
    height: 300px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #8a296d, #db4529);
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: -15%;
    z-index: -2;
  }
  .background2 {
    width: 60px;
    height: 60px;
    background-color: #8a296d;
    background-image: linear-gradient(to right, #db4529, #bfd335);
    border-radius: 50%;
    position: absolute;
    top: -2%;
    right: 0%;
    z-index: -2;
  }
}
